﻿@{
    ViewBag.Title = "Congratulations";
}
<style type="text/css">
    body {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 62.5%;
        margin: 0px;
    }

    .container {
        width: 810px;
        margin: 0 auto;
        font-size: 1.0em;
    }

    .steps {
        /*background: #aaa;*/
        padding: 1px 0;
        overflow: hidden;
    }

        .steps ul, .steps li {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .steps ul {
            float: left;
        }

        .steps li {
            float: left;
        }

            .steps li a {
                display: block;
                padding: 15px 20px;
                background: #d0d0d0;
                color: #fff;
                line-height: 1.5em;
                text-decoration: none;
            }

                .steps li a strong {
                    font-size: 2em;
                }

            /*.steps li a:hover {
                    background: #666;
                }*/

            .steps li.step, .steps li.step a {
                position: relative;
                z-index: 3;
            }

            .steps li.step-2, .steps li.step-2 a {
                z-index: 2;
            }

            .steps li.step-3, .steps li.step-3 a {
                z-index: 1;
            }

                .steps li.step-1 a, .steps li.step-2 a, .steps li.step-3 a {
                    background: transparent url(/images/step.png) center right no-repeat;
                    padding-right: 25px;
                }

            .steps li.step-2, .steps li.step-3 {
                margin-left: -30px;
            }

                .steps li.step-2 a {
                    padding-left: 45px;
                }

                .steps li.step-3 a {
                    padding-left: 45px;
                    padding-right: 10px;
                    background-position: center left;
                }

                .steps li.step-3 a {
                    background: transparent url(/images/step_over.png) center right no-repeat;
                }

    /*.steps li.step a:hover {
                background: transparent url(/images/step_over.png) center right no-repeat;
            }*/


    /*.steps li.step-3 a:hover {
                background-position: center left;
            }*/

    .table tr:hover {
    }
</style>
<div class="container" style="margin-left: 200px;">
    <div class="steps">
        <ul>
            <li class="step step-1">
                <a href="#"><strong>Step 1</strong><br />
                    <h4>CHOOSE ITEM</h4>
                </a>
            </li>
            <li class="step step-2">
                <a href="#"><strong>Step 2</strong><br />
                    <h4>YOUR INFORMATION</h4>
                </a>
            </li>
            <li class="step step-3">
                <a href="#"><strong>Step 3</strong><br />
                    <h4>THANKS FOR BUYING WITH US</h4>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        @*<h2>Thankyou for shopping with us</h2>*@
        @if (Model.DeliveryTypeId == 2)
        {
@*<h3>Your passcode is: <b>@Model.Passcode</b></h3>*@
            
            <div class="widget-box">
                <div class="widget-title">
                    <h3>Thanks for shopping with us</h3>
                </div>
                <div class="widget-content nopadding">
                    <div style="margin-left:10px;">
                        <h4>- You chose buffer delivery type.</h4>
                    </div>
                    <div style="margin-left:10px;">
                        <h4>- Your Receive Address : @Model.ReceiverAddress ,TP Ho Chi Minh</h4>
                    </div>
                    <div style="margin-left:10px;">
                        <h4>- Your Passcode : @Model.Passcode</h4>
                    </div>
                    <div style="margin-left:10px;">
                        <h4>- We will send email to you when order in hub.Please take passcode to hub staff for receiving order.Time for receiving is 7 days from you got an email.</h4>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="widget-box">
                <div class="widget-title">
                    <h3>Thanks for shopping with us</h3>
                </div>
                <div class="widget-content nopadding">
                    <div>
                        <h3>You chose Direct Delivery type.</h3>
                    </div>
                    <div>
                        <h3>Your Receive Address : @Model.ReceiverAddress</h3>
                    </div>
                    <div>
                        <h3>Total amount : @(String.Format("{0,12:N0}", Model.AmountToBeCollectedFromReceiver)) VNĐ</h3>
                    </div>
                    <div>
                        <h3>We will contact to you before delivering 3 days after @Model.CreatedDate</h3>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

