﻿@model SMDH.Models.ViewModels.OrderViewModel
@using System.Text.RegularExpressions;
@{
    ViewBag.Title = "Order Details";
    ViewBag.Heading = "Order Details";
}

@*<div class="order-details">
    <div class="green-bordered order-info">
        <div class="row-fluid">
            <div class="col-left" style="width: 30%; min-width: 275px; float: left">
                <dl class="dl-horizontal">
                    <dt>Customer: </dt>
                    <dd>
                        @Model.Customer
                    </dd>
                    <dt>Created Date: </dt>
                    <dd>
                        @Model.CreatedDate
                    </dd>
                    <dt>Amount To Collect: </dt>
                    <dd>
                        @Model.Amount VNĐ</dd>
                </dl>
            </div>
            <div class="col-center" style="width: 27%; min-width: 260px; float: left">
                <dl class="dl-horizontal">
                    <dt>Properties: </dt>
                    <dd>
                        <span class="label label-success">@Model.DeliveryOption</span> <span class="label label-info">@Model.OrderPaymentType</span>&nbsp;
                    </dd>
                    <dt>Receiver Name: </dt>
                    <dd>
                        @Model.ReceiverName</dd>
                    <dt>Receiver Phone: </dt>
                    <dd>
                        @Model.ReceiverPhone</dd>
                    <dt>Status: </dt>
                    <dd>
                        <span class="label label-warning">@Regex.Replace(Model.Status.ToString(), "(\\B[A-Z])", " $1")</span>&nbsp;
                    </dd>
                </dl>
            </div>
            <div class="col-right" style="width: 35%; min-width: 350px; float: left">
                <dl class="dl-horizontal">
                    <dt>Due Date: </dt>
                    <dd>
                        @if (Model.DueDate != null && !Model.DueDate.ToString().Equals(""))
                        {
                            <span class="label label-important">@String.Format("{0:dd/MM/yyyy hh:mm tt}", Model.DueDate)</span><text>&nbsp;</text>
                        }
                        else
                        {
                            <span class="label label-important">Not set yet</span><text>&nbsp;</text>
                        }
                    </dd>
                    <dt>Note: </dt>
                    <dd>
                        @if (string.IsNullOrWhiteSpace(Model.Note))
                        {
                            <text>None</text>
                        }
                        else
                        {
                            <text>@Model.Note</text>
                        }
                    </dd>
                    <dt>Receiver Address: </dt>
                    <dd>
                        @Model.ReceiverAddress</dd>
                </dl>
            </div>
        </div>
    </div>
    <h3>Items</h3>

    <table class="table table-striped table-bordered" id="main-table">
        <thead>
            <tr>
                <th>Name
                </th>
                <th>Quantity
                </th>
                <th>Properties
                </th>
                <th>Size
                </th>
                <th>Weight
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in ViewBag.Items)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        @if (item.IsFragile)
                        { 
                            <span class="label label-info">Fragile</span><text>&nbsp;</text> }
                        @if (item.HasHighValue)
                        { 
                            <span class="label label-success">High Value</span><text>&nbsp;</text> }
                    </td>
                    <td>
                        @item.Size
                    </td>
                    <td>
                        @item.Weight
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a href="/Buyer/Home/ViewInformationOrder/@Model.ReceiverPhone" class="btn btn-mini"><i class="icon-arrow-left"></i>Back to create collection plan</a>
</div>*@


<div class="row-fluid">
    <div class="span12">
        <a href="/Hub/OrderChecking/ViewInformationOrder/@Model.ReceiverPhone" class="btn btn-mini"><i class="icon-arrow-left"></i>Back to check Order</a>
    </div>
</div>
<div class="row-fluid" style="margin-top: 10px;">
    <div class="span12">
        <div class="span6">
            <div class="widget">
                <div class="widget-body">
                    <form class="no-margin">
                        @Model.Customer
                        <div class="control-group">
                            <label class="control-label" for="name">
                                Customer : @Model.Customer
                            </label>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="name">
                                Created Date: : @String.Format("{0:dd/MM/yyyy hh:mm tt}", Model.CreatedDate)
                            </label>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="name">
                                Amount: @String.Format("{0:N0}", Model.Amount) VNĐ
                            </label>
                            <label class="control-label" for="name">
                                Properties : <span class="label label-success">@Model.DeliveryOption</span>
                                <span class="label label-info">@Model.OrderPaymentType</span>
                            </label>
                            <label class="control-label" for="name">
                                Your Name : @Model.ReceiverName
                            </label>
                            <label class="control-label" for="name">
                                Your Phone : @Model.ReceiverPhone
                            </label>
                            <label class="control-label" for="name">
                                Status : <span class="label label-warning">@Regex.Replace(Model.Status.ToString(), "(\\B[A-Z])", " $1")</span>&nbsp;
                            </label>
                            <label class="control-label" for="name">
                                Due Date :  @if (Model.DueDate != null)
                                            {
                                    <span class="label label-important">@String.Format("{0:dd/MM/yyyy hh:mm tt}", Model.DueDate)</span><text>&nbsp;</text>
                                            }
                                            else
                                            {
                                    <span class="label label-important">Not set yet</span><text>&nbsp;</text>
                                            }
                            </label>


                        </div>

                        <div class="control-group">
                            <label class="control-label" for="name">
                                Note :
                                                @if (string.IsNullOrWhiteSpace(Model.Note))
                                                {
                                                    <text>None</text>        
                                                }
                                                else
                                                {
                                                    @Model.Note
                                                }
                            </label>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="name">
                                Receive Address : @Model.ReceiverAddress
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="widget">
                <div class="widget-header">
                    <div class="title">
                        Items
                    </div>
                </div>
                <div class="widget-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Name
                                </th>
                                <th>Quantity
                                </th>
                                <th>Properties
                                </th>
                                <th>Size
                                </th>
                                <th>Weight
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Items)
                            {
                                <tr>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>
                                        @item.Quantity
                                    </td>
                                    <td>
                                        @if (item.IsFragile)
                                        { 
                                            <span class="label label-info">Fragile</span><text>&nbsp;</text> }
                                        @if (item.HasHighValue)
                                        { 
                                            <span class="label label-success">High Value</span><text>&nbsp;</text> }
                                    </td>
                                    <td>
                                        @item.Size
                                    </td>
                                    <td>
                                        @item.Weight
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
