@model IEnumerable<SMDH.Models.Contact>
@{
    ViewBag.Title = "Contacts";
    ViewBag.Heading = "Contacts";
@if (false)
{ 
    <script src="/js/jquery-1.8.2-vsdoc.js" type="text/javascript"></script>
}
<link rel="stylesheet" type="text/css" href="/css/DT_bootstrap.css" />
<link href="/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" language="javascript" src="/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf-8" language="javascript" src="/js/DT_bootstrap.js"></script>
<script src="/js/dataTables.bootstrap.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="/js/crud.js" type="text/javascript"></script>

<table class="table table-striped table-bordered" id="main-table">
    <thead>
        <tr>
            @*<th class="hide">
                ContactId
            </th>*@
            <th>
                Title
            </th>
            <th>
                Full Name
            </th>
            <th>
                Position
            </th>
            <th>
                Email Address
            </th>
            <th>
                Phone Number
            </th>
            <th class="tbl-status-col">
                Status
            </th>
            <th class="tbl-status-col">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td class="hide">
                    @item.ContactId
                </td>*@
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Position
                </td>
                <td>
                    @item.EmailAddress
                </td>
                <td>
                    @item.PhoneNumber
                </td>
                <td class="">
                    <a class="toggleActivate" href="#">
                        @if (item.IsActive)
                        {
                            <img src="/img/icons2/checkmark2.png" width="18px" height="18px" alt="Active - Click to Deactivate"
                                title="Active - Click to Deactivate" />
                        }
                        else
                        {
                            <img src="/img/icons2/delete.png" width="18px" height="18px" alt="Inactive - Click to Activate"
                                title="Deactive - Click to Activate" />
                        }
                    </a>
                </td>
                <td class="">
                    <a class="btn action edit" href="javascript:void(0)" onclick="edit(@item.ContactId)">
                        <img src="/img/icons/pencil.png" alt="Edit" title="Edit" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<!-- Begin "Create" Modal -->
<div class="modal hide fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
</div>
<!-- End "Create" Modal -->
<!-- Begin "Edit" Modal -->
<div class="modal hide fade" id="editModal">
</div>
<!-- End "Edit" Modal -->
