@model HDMS.Models.DeliveryPlan
@{
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;</button>
    <h3>
        Edit Delivery Plan</h3>
</div>
<div class="modal-body">
    <fieldset>
        <div>
            @using (Html.BeginForm("ConfirmEdit", "DeliveryPlans", FormMethod.Post, new { id = "address-edit-form" }))
            {
                @Html.ValidationSummary(true)
        
                @Html.HiddenFor(model => model.DeliveryPlanId)
                @Html.Partial("_CreateOrEdit", Model)      
            }
        </div>
    </fieldset>
</div>
<div class="modal-footer">
    <input type="submit" class="btn btn-primary" value="Save" id="btnSave" />
    <button class="btn" data-dismiss="modal" aria-hidden="true">
        Cancel</button>
</div>
<script type="text/javascript">

    $('#btnSave').click(function () {
        $('#address-edit-form').submit();
    });
</script>
