@model SMDH.Models.Item
@{
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        ×</button>
    <h3 id="myModalLabel">
        Create new Item</h3>
</div>
<div class="modal-body">
    @using (Html.BeginForm("ConfirmCreate", "Items", FormMethod.Post, new { id = "item-create-form", Class = "form-horizontal" }))
    {
        @Html.HiddenFor(model => model.OrderId, new { Value = ViewBag.OrderId })
        @Html.Partial("_CreateOrEdit",Model)
    }
</div>
<div class="modal-footer">
    <button class="btn btn-primary" id="btnItemCreate">
        Create</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">
        Cancel</button>
    
</div>
<script>
    $('#btnItemCreate').click(function () {
        //alert("submitted");
        $('#item-create-form').submit();
        window.location.reload();
    });

</script>
