@{
    Layout = null;        
}
<html>
<head>
    <style type="text/css">
        div
        {
            font-family: Verdana, Arial, Sans-Serif;
            font-size: 10px;
        }
        #mail-message
        {
            padding: 10px;
        }
        #mail-footer
        {
            padding: 10px;
        }
    </style>
    <text> Tictac delivery</text>
</head>
<body>
    <div id="mail-message">
        @RenderBody()
    </div>
    <div id="mail-footer">
        Best Regards,<br />
    </div>
</body>
</html>
