@{
    Layout = null;
}
<i>Dear Mr @ViewBag.FullName </i><br />
<i>This e-mail contains your new Tictac account password.</i><br /> <br />
<i>UserName: @ViewBag.UserName<br />
Password: @ViewBag.Password</i> <br /><br />---<br /><br />
<i>This e-mail is non-reply email and was sent because someone reset a password to an account at Tictac Delivery Company that is registered to your e-mail address. </i><br />
<i>Your Tictac account password has been reset</i>
<i>For more information, please contact us at our main website</i>