@model HDMS.Models.CityProvince

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>MyEdit</title>
</head>
<body>
	<div class="page-header">
	</div>
    <div>
        
    </div>
</body>
</html>
