﻿@model IEnumerable<HDMS.Models.Plan>
@using HDMS.Models.Utilities
@using System.Text.RegularExpressions;
@{
    Layout = null;
}
<table class="table table-striped table-bordered" id="main-table">
    <thead>
        <tr>
            <th>
                Plan No.
            </th>
            <th>
                Created Date
            </th>
            <th>
                Created By
            </th>
            <th>
               Finished Date
            </th>
            <th>
                PlantypeID
            </th>
            <th>
                StartDate
            </th>
            <th>
                Status
            </th>
            <th>
                Note
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    #@item.PlanId
                </td>
                <td>
                    @String.Format("{0:dd/MM/yyyy hh:mm tt}", item.CreatedDate)
                </td>
                <td>
                    @item.CreatedByUserId
                </td>
                <td>
                    @item.FinishedDate
                </td>
                <td>
                    @item.PlanTypeId
                </td>
                <td>
                    @item.StartDate
                </td>
                <td>
                    @if (item.Status >1)
                    {
                       @:tennhanvien
                    }
                    else
                    {
                        <span class="label">Not assigned yet</span>    
                    }
                </td>
                <td>
                    @item.Note
                </td>
                <td class="action-column">
                    <a class="btn action view" href="/Plans/Details/@item.PlanId">
                        <img src="/img/icons/notepad.png" alt="View" title="View"></a> 
                    @*<a class="btn action" href="#" onclick="showUpdateStatusModal(@item.CollectionPlanId,@item.CollectionPlanStatus)">
                            <img src="/img/icons/arrow_bidirectional.png" alt="Update Status" title="Update Status"></a>*@
                    @*@if (item.Status != HDMS.Models.Statuses.CollectionPlanStatus.Finished)
                    {
                        <a class="btn action delete" href="#" onclick="cancelPlan(@item.CollectionPlanId);">
                            <img src="/img/icons2/cross.png" alt="Remove/Cancel" title="Remove/Cancel" width="18px"/>
                        </a>
                    }*@
                </td>
            </tr>
        }
    </tbody>
</table>
