﻿@{
    ViewBag.Title = "Dashboard";
    ViewBag.Heading = "Dashboard";
}
<div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    Dashboard
                </div>
            </div>
            <div class="widget-body">
                <div class="row-fluid">
                    <div class="metro-nav">
                        <div class="metro-nav-block nav-block-yellow">
                            <a href="">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe05e;">
                                </div>
                                <div class="brand">
                                    Import Requests
                                </div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-orange double">
                            <a href="/Orders?status=customerextend&status=returned&status=redeliverrequest">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe005;">
                                </div>
                                <div class="brand">
                                    Edit Orders Price
                                </div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-blue double">
                            <a href="/Requests?&status=new&status=repricing">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe0d4;">
                                </div>
                                <div class="brand">
                                    Approve Requests
                                </div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-green double">
                            <a href="/Plans/AutoScheduleCollectionPlan">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe062;">
                                </div>
                                <div class="brand">
                                    Create Collection Plan
                                </div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-red double">
                            <a href="/Plans/AutoScheduleDeliveryPlan">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe063;">
                                </div>
                                <div class="brand">
                                    Create Delivery Plan
                                </div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-red double">
                            @*<a href="http://wbpreview.com/previews/WB0375140/tables.html">*@
                            <a href="/Report">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe096;">
                                </div>
                                <div class="brand">
                                    Reports & Graphs
                                </div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-green">
                            <a href="/Customers">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe075;">
                                </div>
                                <div class="brand">
                                    Customers
                                </div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-orange">
                            <a href="http://wbpreview.com/previews/WB0375140/calendar.html">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe053;">
                                </div>
                                <div class="brand">
                                    Calendar
                                </div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-blue double">
                            <a href="/Account/ChangePassword">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe087;">
                                </div>
                                <div class="brand">
                                    Change Password
                                </div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-yellow">
                            <a href="/OptionsConfig">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe08b;">
                                </div>
                                <div class="brand">
                                    Option Config
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
