@model SMDH.Models.PriceCategory
<div class="form-horizontal">
    <div class="control-group">
        <label class="control-label">
            Price Content
        </label>
        <div class="controls">
            @Html.HiddenFor(model => model.OrderId)
        </div>
        <div class="controls">
            @Html.DropDownList("PriceTagId", ViewBag.PriceTags as SelectList, "-- Choose a price tag to Add --", new { id = "ddlPriceTag", Class = "chzn-select", name = "pricetag" })
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Price
        </label>
        <div class="controls">
            @Html.TextBoxFor(model => model.Price, new { id="txtPrice", disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.Price)
        </div>
    </div>   
</div>
<script type="text/javascript">
    $("#ddlPriceTag").change(function () {
        $.post("/PriceTag/GetPriceByPriceTagId/" + $("#ddlPriceTag").val(), function (data) {
            $('#txtPrice').val(data.price);
        });
    });
</script>