﻿@model IEnumerable<SMDH.Models.CityProvince>
@{
    ViewBag.Title = "Cities/Provinces";
    ViewBag.Heading = "Cities/Provinces Management";
}
@if (false)
{ 
    <script src="/js/jquery-1.8.2-vsdoc.js" type="text/javascript"></script>
}
<link rel="stylesheet" type="text/css" href="/css/DT_bootstrap.css" />
<link href="/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
<script src="/js/jquery.dataTables.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8" language="javascript" src="/js/DT_bootstrap.js"></script>
<script src="/js/dataTables.bootstrap.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="/js/crud.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        setupCrud('CityProvince');
    });
</script>
<table class="table table-striped table-bordered" id="main-table">
    <thead>
        <tr>
            @*<th class="hide">
                CityProvinceId
            </th>*@
            <th>
                City/Province
            </th>
            @*<th class="tbl-status-col">
                Status
            </th>*@
            <th class="tbl-action-col">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td class="hide">
                    @item.CityProvinceId
                </td>*@
                <td>
                    @item.Name
                </td>
                @*<td class="">
                    <a class="toggleActivate" href="#">
                        @if (item.IsActive)
                        {
                            <img src="/img/icons2/checkmark2.png" width="18px" height="18px" alt="Active - Click to Deactivate"
                                title="Active - Click to Deactivate" />
                        }
                        else
                        {
                            <img src="/img/icons2/delete.png" width="18px" height="18px" alt="Inactive - Click to Activate"
                                title="Deactive - Click to Activate" />
                        }
                    </a>
                </td>*@
                <td class="">
                    <a class="btn action edit" href="javascript:void(0)" onclick="edit(@item.CityProvinceId)">
                        <img src="/img/icons/pencil.png" alt="Edit" title="Edit" width="15px" /></a> 
                        <a class="btn action delete" href="#" onclick="deleteCityProvince(@item.CityProvinceId);">
                        <img src="/img/icons2/cross.png" alt="Delete" title="Delete" width="15px" />
                    </a>
                            
                </td>
            </tr>
        }
    </tbody>
</table>
<!-- Begin "Create" Modal -->
<div class="modal hide fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
</div>
<!-- End "Create" Modal -->
<!-- Begin "Edit" Modal -->
<div class="modal hide fade" id="editModal">
</div>
<!-- End "Edit" Modal -->
<script type="text/javascript">
    var deleteCityProvince = function (cityprovinceId) {
        bootbox.confirm("Are you sure to delete this city/province?", function (result) {
            if (result) {
                $.post('/CityProvince/Remove/' + cityprovinceId, function (result) {
                    if (result.success) {
                        $.blockUI();
                        window.location.reload();
                    } else {
                        bootbox.alert('Unable to delete this city/province');
                    }
                });
            }
        });
    };
</script>