﻿@model HDMS.Models.Item

@{
    ViewBag.Title = "Details";
}

<div class="page-header">
	<h2>Details</h2>
</div>

		<fieldset>
			<legend>Item</legend>
			<br />

            <div>
                <div class="span2">@Html.LabelFor(model => model.Order)</div>
                <div class="span10">@Html.DisplayFor(model => model.Order.ReceiverName)</div>
            </div>

            <div>
                <div class="span2">@Html.LabelFor(model => model.Name)</div>
                <div class="span10">@Html.DisplayFor(model => model.Name)</div>
            </div>

            <div>
                <div class="span2">@Html.LabelFor(model => model.Quantity)</div>
                <div class="span10">@Html.DisplayFor(model => model.Quantity)</div>
            </div>

            <div>
                <div class="span2">@Html.LabelFor(model => model.IsFragile)</div>
                <div class="span10">@Html.DisplayFor(model => model.IsFragile)</div>
            </div>

            <div>
                <div class="span2">@Html.LabelFor(model => model.HasHighValue)</div>
                <div class="span10">@Html.DisplayFor(model => model.HasHighValue)</div>
            </div>

            <div>
                <div class="span2">@Html.LabelFor(model => model.ItemStatus)</div>
                <div class="span10">@Html.DisplayFor(model => model.ItemStatus)</div>
            </div>

            <div>
                <div class="span2">@Html.LabelFor(model => model.Size)</div>
                <div class="span10">@Html.DisplayFor(model => model.Size)</div>
            </div>

            <div>
                <div class="span2">@Html.LabelFor(model => model.Weight)</div>
                <div class="span10">@Html.DisplayFor(model => model.Weight)</div>
            </div>

            <div>
                <div class="span2">@Html.LabelFor(model => model.Note)</div>
                <div class="span10">@Html.DisplayFor(model => model.Note)</div>
            </div>
		</fieldset>
		<br />
	<p>
		@Html.ActionLink("Edit", "Edit", new { id=Model.ItemId }) |
		@Html.ActionLink("Back to List", "Index")
	</p>
</div>

