@{
    ViewBag.Title = "District";
}
<div class="page-header">
    <h2>
        District</h2>
    <link rel="stylesheet" type="text/css" href="/css/DT_bootstrap.css" />
    <script type="text/javascript" charset="utf-8" language="javascript" src="/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf-8" language="javascript" src="/js/DT_bootstrap.js"></script>
    <div id="Div1" class="dataTables_wrapper form-inline" role="grid">
        <div class="DTTT btn-group">
            <a href="#create" role="button" data-toggle="modal" class="btn DTTT_button_text"
                id="ToolTables_example_0"><span>New</span></a> <a class="btn DTTT_button_text disabled"
                    id="ToolTables_example_1"><span>Edit</span></a> <a class="btn DTTT_button_text disabled"
                        id="ToolTables_example_2"><span>Delete</span></a>
        </div>
        <div class="dataTables_filter" id="example_filter">
            <label>
                Search:
                <input type="text" aria-controls="example"></label>
        </div>
        <!-- Begin Table -->
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable"
            id="Table1" aria-describedby="example_info">
            <thead>
                <tr role="row">
                    <th class="sortingDis_xxx" role="columnheader" tabindex="0" aria-controls="example"
                        rowspan="1" colspan="1" style="width: 30%;" aria-sort="ascending" aria-label="Name">
                        District
                    </th>
                    <th class="sortingCpr_xxx" role="columnheader" tabindex="0" aria-controls="example"
                        rowspan="1" colspan="1" style="width: 30%;" aria-sort="ascending" aria-label="Name">
                        City Province
                    </th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1"
                        colspan="1" style="width: 20%;" aria-label="Status">
                        Status
                    </th>
                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
                <tr class="gradeA odd">
                    <td class="  sortingDis_1">
                        1
                    </td>
                    <td class="  sortingCpr_1">
                        Thành Phố Hồ Chí Minh
                    </td>
                    <td class=" ">
                        <button class="btn" type="button">
                            Activate</button>
                    </td>
                </tr>
                <tr class="gradeA even">
                    <td class="  sortingDis_1">
                        2
                    </td>
                    <td class="  sortingCpr_1">
                        Thành Phố Hồ Chí Minh
                    </td>
                    <td class=" ">
                        <button class="btn" type="button">
                            Activate</button>
                    </td>
                </tr>
                <tr class="gradeA odd">
                    <td class="  sortingDis_1">
                        3
                    </td>
                    <td class="  sortingCpr_1">
                        Thành Phố Hồ Chí Minh
                    </td>
                    <td class=" ">
                        <button class="btn" type="button">
                            Activate</button>
                    </td>
                </tr>
                <tr class="gradeA odd">
                    <td class="  sortingDis_1">
                        4
                    </td>
                    <td class="  sortingCpr_1">
                        Thành Phố Hồ Chí Minh
                    </td>
                    <td class=" ">
                        <button class="btn" type="button">
                            Activate</button>
                    </td>
                </tr>
                <tr class="gradeA odd">
                    <td class="  sortingDis_1">
                        5
                    </td>
                    <td class="  sortingCpr_1">
                        Thành Phố Hồ Chí Minh
                    </td>
                    <td class=" ">
                        <button class="btn" type="button">
                            Activate</button>
                    </td>
                </tr>
                <tr class="gradeA odd">
                    <td class="  sortingDis_1">
                        Bình Thạnh
                    </td>
                    <td class="  sortingCpr_1">
                        Thành Phố Hồ Chí Minh
                    </td>
                    <td class=" ">
                        <button class="btn" type="button">
                            Activate</button>
                    </td>
                </tr>
                <tr class="gradeA odd">
                    <td class="  sortingDis_1">
                        Gò Vấp
                    </td>
                    <td class="  sortingCpr_1">
                        Thành Phố Hồ Chí Minh
                    </td>
                    <td class=" ">
                        <button class="btn" type="button">
                            Activate</button>
                    </td>
                </tr>
                <tr class="gradeA odd">
                    <td class="  sortingDis_1">
                        Thủ Đức
                    </td>
                    <td class="  sortingCpr_1">
                        Thành Phố Hồ Chí Minh
                    </td>
                    <td class=" ">
                        <button class="btn" type="button">
                            Activate</button>
                    </td>
                </tr>
                <tr class="gradeA odd">
                    <td class="  sortingDis_1">
                        9
                    </td>
                    <td class="  sortingCpr_1">
                        Thành Phố Hồ Chí Minh
                    </td>
                    <td class=" ">
                        <button class="btn" type="button">
                            Activate</button>
                    </td>
                </tr>
                <tr class="gradeA odd">
                    <td class="  sortingDis_1">
                        10
                    </td>
                    <td class="  sortingCpr_1">
                        Thành Phố Hồ Chí Minh
                    </td>
                    <td class=" ">
                        <button class="btn" type="button">
                            Activate</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- End Table -->
        <div class="row-fluid">
            <div class="span6">
                <div class="dataTables_info" id="Div4">
                    Showing 1 to 10 of 57 entries</div>
            </div>
            <div class="span6">
                <div class="dataTables_paginate paging_bootstrap pagination">
                    <ul>
                        <li class="prev disabled"><a href="#">← Previous</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li class="next"><a href="#">Next → </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Begin Modal -->
<div class="modal hide fade" id="create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×</button>
        <h3 id="myModalLabel">
            Create new District</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="Name">
                City Province
            </label>
            <div class="controls">
                @*<input type="text" id="city" placeholder="Name" />*@
                <select>
                    <option value="">Thành Phố Hồ Chí Minh</option>
                    <option value="">Đà Nẵng</option>
                    <option value="">Hà Nội</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Name">
                District
            </label>
            <div class="controls">
                <input type="text" id="district" placeholder="Name" />
            </div>
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            Cancel</button>
        <button class="btn btn-primary">
            Create</button>
    </div>
</div>
