﻿@{
    ViewBag.Title = "Dashboard";
    ViewBag.Heading = "Dashboard";
}
<link rel="stylesheet" type="text/css" href="/css/select2.css" />
<script type="text/javascript" charset="utf-8" language="javascript" src="/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf-8" language="javascript" src="/js/DT_bootstrap.js"></script>
<script src="/js/dataTables.bootstrap.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@*<script src="/js/crud.js" type="text/javascript"></script>*@
<script src="/js/form-action.js" type="text/javascript"></script>
<script src="/js/chosen.jquery.js" type="text/javascript"></script>
<link href="/css/datepicker.css" rel="stylesheet" type="text/css" />
<script src="/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="/js/date.js" type="text/javascript"></script>
<script src="/js/accounting.js" type="text/javascript"></script>
<script src="/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="/js/date-picker/date.js" type="text/javascript"></script>
<script src="/js/date-picker/daterangepicker.js" type="text/javascript"></script>
<link href="/css/timepicker.css" rel="stylesheet" type="text/css" />
<script src="/js/bootstrap-datepicker.js" type="text/javascript"></script>
<div class="row-fluid">
    <div class="span12">
        <a style="float: right; margin-bottom: 20px; margin-left: 10px;" class="btn btn-primary" href="/Customer/Configuration/">Configuration</a>
        <a style="float: right; margin-bottom: 20px;" class="btn btn-primary" href="/Customer/Products/">Product Management</a>        
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    Orders
                </div>
            </div>
            <div class="widget-body quick-actions">
                <div class="row-fluid">
                    <div class="metro-nav">
                        <div class="metro-nav-block nav-block-yellow double">
                            <a href="/Customer/Orders?&status=draft">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe0f2;">
                                </div>
                                <div class="info" id="OrdersNeedToApprove">@ViewBag.NumberOfOrders[0]</div>
                                <div class="brand">
                                    Need To Approve
                                </div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-orange">
                            <a href="/Customer/Orders?&status=repricingapproverequest">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe038;">
                                </div>
                                <div class="info" id="OrdersApproved">@ViewBag.NumberOfOrders[1]</div>
                                <div class="brand">
                                    Repricing
                                </div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-blue double">
                            <a href="/Customer/Orders?&status=returnedreduceprice&status=expired">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe047;">
                                </div>
                                <div class="info" id="OrdersRejected">@ViewBag.NumberOfOrders[2]</div>
                                <div class="brand">
                                    Returned / Expired
                                </div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-green">
                            <a href="/Customer/Orders?status=plannedforcollecting">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe07c;">
                                </div>
                                <div class="info" id="OrdersRequested">@ViewBag.NumberOfOrders[3]</div>
                                <div class="brand">
                                    Requested
                                </div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-red">
                            <a href="/Customer/Orders?&status=delivering">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe07d;">
                                </div>
                                <div class="info" id="OrdersDelivering">@ViewBag.NumberOfOrders[4]</div>
                                <div class="brand">
                                    Delivering
                                </div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-red double">
                            <a href="/Customer/Orders?&status=tobereturned">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe136;">
                                </div>
                                <div class="info" id="OrdersWaitingForReturn">@ViewBag.NumberOfOrders[5]</div>
                                <div class="brand">
                                    Waiting For Return
                                </div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-green double">
                            <a href="/Customer/Orders?&status=confirmreturned">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe103;">
                                </div>
                                <div class="info" id="OrdersReturned">@ViewBag.NumberOfOrders[6]</div>
                                <div class="brand">
                                    Confirm Returned
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <div class="title">
                    Requests
                </div>
                <span class="tools">
                    <a class="btn btn-info btn-small" id="btnNew" style="color: white;" href="#" data-original-title="">Create Request</a>
                </span>
            </div>
            <div class="widget-body quick-actions">
                <div class="row-fluid">
                    <div class="metro-nav">
                        <div class="metro-nav-block nav-block-yellow double">
                            <a href="/Customer/Requests?&status=new">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe038;">
                                </div>
                                <div class="info" id="RequestsWaitingForPrice">@ViewBag.NumberOfRequests[0]</div>
                                <div class="brand">
                                    Waiting For Price
                                </div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-orange double">
                            <a href="/Customer/Requests?&status=pricing">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe0b0;">
                                </div>
                                <div class="info" id="RequestsNeedToApprove">@ViewBag.NumberOfRequests[1]</div>
                                <div class="brand">
                                    Need To Approved
                                </div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-blue">
                            <a href="/Customer/Requests?status=approved">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe0fe;">
                                </div>
                                <div class="info" id="RequestsApproved">@ViewBag.NumberOfRequests[2]</div>
                                <div class="brand">
                                    Approved
                                </div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-green">
                            <a href="/Customer/Requests?&status=collected">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe0d4;">
                                </div>
                                <div class="info" id="RequestsCollected">@ViewBag.NumberOfRequests[3]</div>
                                <div class="brand">
                                    Collected
                                </div>
                            </a>
                        </div>
                        <div class="metro-nav-block nav-block-red">
                            <a href="/Customer/Requests?status=canceled">
                                <div class="fs1" aria-hidden="true" data-icon="&#xe0fa;">
                                </div>
                                <div class="info" id="RequestsCanceled">@ViewBag.NumberOfRequests[4]</div>
                                <div class="brand">
                                    Canceled
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal hide fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
</div>
<script type="text/javascript">

    $("#btnNew").click(function () {
        $('#editModal').html('');
        $.ajax({
            url: '/Customer/Requests/Create',
            type: 'POST',
            dataType: 'html',
            success: function (data) {
                $('#createModal').html(data);
                $("form").removeData("validator");
                $("form").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse("form");
                $('.editor-field').keypress(function (e) {
                    if (e.which == 13) {
                        $(this).parents('form').submit();
                        e.preventDefault();
                        return false;
                    }
                });
                $('#createModal').modal();
            }
        });
    });   
</script>
@*<div class="widget">
    <div class="widget-header">
        <div class="title">
            Orders
        </div>
    </div>
    <div class="widget-body">
        <div style="text-align: center;">
            <ul class="quick-actions">
                <li><a href="/Customer/Orders?&status=draft"><i class="icon-draft"></i>Need To Approve(@ViewBag.NumberOfOrders[0])</a></li>
                <li><a href="/Customer/Orders?&status=approved"><i class="icon-submitted"></i>Approved(@ViewBag.NumberOfOrders[1])</a></li>
                <li><a href="/Customer/Orders?&status=rejected"><i class="icon-rejected"></i>Rejected(@ViewBag.NumberOfOrders[2])</a></li>
                <li><a href="/Customer/Orders?status=plannedforcollecting"><i class="icon-request"></i>
                    Requested(@ViewBag.NumberOfOrders[3])</a></li>
                <li><a href="/Customer/Orders?&status=delivering"><i class="icon-delivering"></i>Delivering(@ViewBag.NumberOfOrders[4])</a></li>
                <li><a href="/Customer/Orders?&status=tobereturned"><i class="icon-wait"></i>Waiting
                    for Return(@ViewBag.NumberOfOrders[5])</a></li>
                <li><a href="/Customer/Orders?&status=returned"><i class="icon-tobereturned"></i>Returned(@ViewBag.NumberOfOrders[6])</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="widget">
    <div class="widget-header">
        <div class="title">
            Requests
        </div>
    </div>
    <div class="widget-body nopadding">
        <div style="text-align: center;">
            <ul class="quick-actions">
                <li><a href="/Customer/Requests?&status=new"><i class="icon-prices"></i>Waiting For
                    Price(@ViewBag.NumberOfRequests[0])</a></li>
                <li><a href="/Customer/Requests?&status=pricing"><i class="icon-draft"></i>Need To Approve(@ViewBag.NumberOfRequests[1])</a></li>
                <li><a href="/Customer/Requests?status=approved"><i class="icon-submitted"></i>Approved(@ViewBag.NumberOfRequests[2])</a></li>
                <li><a href="/Customer/Requests?&status=collected"><i class="icon-collected"></i>Collected(@ViewBag.NumberOfRequests[3])</a></li>
                <li><a href="/Customer/Requests?status=canceled"><i class="icon-rejected"></i>Canceled(@ViewBag.NumberOfRequests[4])</a></li>
            </ul>
        </div>
    </div>
</div>*@
