﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <link href="http://wbpreview.com/previews/WB05FN804/stylesheets/application.css"
        media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800">
    <script src="http://wbpreview.com/previews/WB05FN804/javascripts/application.js"
        type="text/javascript"></script>

    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
</head>
<body>
    <nav id="primary" class="main-nav collapsible-nav">
  <!-- Brand -->
  <a id="sidebar-brand" href="">
    Fast & Furious
  </a>
  <button type="button" class="btn btn-navbar btn-inverse" data-toggle="collapse" data-target=".nav-collapse">
    <i class="icon-reorder"></i>
  </button>

  <ul class="nav-collapse collapse">

  <!-- Profile -->
    <li class="profile">
      <a href="#profile-opts" class="accordion-toggle" data-toggle="collapse">
         <img src="images/23.jpg" class="">
          <span class="text" id="profile-text">
            VuongND <b class="caret"></b>
          </span>
      </a>

      <ul id="profile-opts" class="collapse secondary">
        <li class="">
          <a href="#">
            Settings
          </a>
        </li>
        <li class="">
          <a href="#">
            Change password
          </a>
        </li>
        <li class="">
          <a href="#">
            Logout
          </a>
        </li>
      </ul>
    </li>

    <!-- Hub -->
    <li class="">
      <a href="#">
          <span class="icon">
            <i class="icon-dashboard"></i>
          </span>
          <span class="text">
            Hub
          </span>
      </a>
    </li>
        <li class="">
      <a href="#">
          <span class="icon">
            <i class="icon-bolt"></i>
          </span>
          <span class="text">
            Order Types
          </span>
      </a>
    </li>
        <li class="">
      <a href="#">
          <span class="icon">
            <i class="icon-eye-open"></i>
          </span>
          <span class="text">
            DeliveryOptions
          </span>
      </a>
    </li>
        <li class="">
      <a href="#">
          <span class="icon">
            <i class="icon-fire"></i>
          </span>
          <span class="text">
            Cities/Provinces
          </span>
      </a>
    </li>
        <li class="">
      <a href="#">
          <span class="icon">
            <i class="icon-bell"></i>
          </span>
          <span class="text">
            District
          </span>
      </a>
    </li>
        <li class="">
      <a href="#">
          <span class="icon">
            <i class="icon-beer"></i>
          </span>
          <span class="text">
            Wards
          </span>
      </a>
    </li>

    <!-- DashBoard -->
    <li class="">
      <a href="#dashboards-list" class="accordion-toggle" data-toggle="collapse">
          <span class="icon">
            <i class="icon-microformats"></i>
          </span>
          <span class="text">
            Dashboard <b class="caret"></b>
          </span>
      </a>

      <ul id="dashboards-list" class="collapse secondary">
        <li class="">
          <a href="#">
              Orders
          </a>
        </li>
                <li class="">
          <a href="#">
              Requests
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
    <div class="top-bar">
        <a id="topbar-brand" class="brand" href="#">Fast & Furious </a>
        <ul class="top-notifications">
            <li><a href="#messages" class="accordion-toggle" data-toggle="collapse" data-parent="#top-acc">
                Messages <span class="badge dark-blue">3</span> </a>
                <div class="collapsed" style="height: 0; overflow: visible;">
                    <ul id="messages" class="collapse top-bar-list">
                        <li><a href="#">New message</a></li>
                        <li><a href="#">Inbox <span class="count">(8)</span></a></li>
                        <li><a href="#">Sent</a></li>
                        <li><a href="#">Drafts</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <section id="main">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="box bordered">
                    <div class="box inner light-gray">
                        <div class="row-fluid padded10">
                            <div class="span2 center">
                                <div class="stat-box medium-blue">
                                    <i class="icon-group icon-large"></i><span class="count">134</span> <span class="stat-text">
                                        Users</span>
                                </div>
                            </div>
                            <div class="span2 center">
                                <div class="stat-box dark-blue">
                                    <i class="icon-bell icon-large"></i><span class="count">23</span> <span class="stat-text">
                                        Events</span>
                                </div>
                            </div>
                            <div class="span2 center">
                                <div class="stat-box border-blue">
                                    <i class="icon-umbrella icon-large"></i><span class="count">220</span> <span class="stat-text">
                                        Requests</span>
                                </div>
                            </div>
                            <div class="span2 center">
                                <div class="stat-box text-blue">
                                    <i class="icon-hand-right icon-large"></i><span class="count">204</span> <span class="stat-text">
                                        Orders</span>
                                </div>
                            </div>
                            <div class="span2 center">
                                <div class="stat-box dark-blue">
                                    <i class="icon-envelope icon-large"></i><span class="count">32</span> <span class="stat-text">
                                        Messages</span>
                                </div>
                            </div>
                            <div class="span2 center">
                                <div class="stat-box medium-blue">
                                    <i class="icon-comments-alt icon-large"></i><span class="count">65</span> <span class="stat-text">
                                        Comments</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid padded10">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    		</section>
</body>
</html>
