﻿@model SMDH.Models.Hub
@* This partial view defines form fields that will appear when creating and editing entities *@
<script src="/js/chosen.jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<body onload="initialize()">
    <div class="form-horizontal">
        <div class="control-group">
            <label class="control-label">
                Name <span style="color: Red">*</span>
            </label>
            <div class="controls">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                Hub Category <span style="color: Red">*</span>
            </label>
            <div class="controls">
                @Html.DropDownListFor(model => model.HubCategoryId, ViewBag.PossibleHubCategory as SelectList, "-- Choose a Hub Category --",
                new { id = "ddlHubCategory", Class = "chzn-select" })
                @Html.ValidationMessage("HubsCategory")
                <script>
                    $('#ddlHubCategory').attr('data-val-required', 'The Hub Category is required.');
                    $('#ddlHubCategory').attr('data-val', 'true')
                </script>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                City/Province <span style="color: Red">*</span>
            </label>
            <div class="controls">
                @Html.DropDownList("CityProvince", ViewBag.PossibleCityProvinces as SelectList, "-- Choose a City/Province --",
                new { id = "ddlCityProvince", Class = "chzn-select" })
                @Html.ValidationMessage("CityProvince")
                <script>
                    $('#ddlCityProvince').attr('data-val-required', 'The City/Province is required.');
                    $('#ddlCityProvince').attr('data-val', 'true')
                </script>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                District <span style="color: Red">*</span>
            </label>
            <div class="controls">
                @Html.DropDownListFor(model => model.DistrictId, ViewBag.PossibleDistricts as SelectList, "-- Choose a District --", new { id = "ddlDistrict", Class = "chzn-select" })
                @Html.ValidationMessageFor(model => model.DistrictId)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                Ward
            </label>
            <div class="controls">
                @Html.DropDownListFor(model => model.WardId, ViewBag.PossibleWards as SelectList, "-- Choose a Ward --", new { id = "ddlWard", Class = "chzn-select" })
                @Html.ValidationMessageFor(model => model.WardId)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                Address <span style="color: Red">*</span>
            </label>
            <div class="controls">
                @Html.EditorFor(model => model.Address, new { @id = "hubaddress" })
                @Html.ValidationMessageFor(model => model.Address)
                <a class="btn btn-mini btn-primary" href="javascript:void(0)" onclick="codeAddress();">get address</a>
                <input type="text" class="hide" name="lat" id="lat" />
                <input type="text" class="hide" name="lng" id="lng" />
            </div>
        </div>
    </div>
    <div class="row-fluid">

        <div id="latlongmap" style="width: 100%; height: 518px;">
        </div>
        <input type="hidden" name="CustomerId" id="CustomerId" value="" />
    </div>
</body>
<script type="text/javascript">
    $("#ddlCityProvince").change(function () {
        var id = $('#ddlCityProvince option:selected').val();
        if (id == '') id = -1;
        $.getJSON('/District/GetDistrictsOfCityProvince/' + id, function (data) {
            var items = '';
            $.each(data, function (i, district) {
                items += "<option value='" + district.DistrictId + "'>" + district.Name + "</option>";
                // state.Value cannot contain ' character. We are OK because state.Value = cnt++;
            });
            $('#ddlDistrict').html(items);
            $('#ddlDistrict').removeAttr('data-val-number');
            $("form").removeData("validator");
            $("form").removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse("form");
            $('#ddlDistrict').trigger("liszt:updated");
        });
    });
    $(".chzn-select").chosen();
    $(".chzn-select-deselect").chosen({ allow_single_deselect: true });

    $("#ddlDistrict").change(function () {
        var id = $('#ddlDistrict option:selected').val();
        if (id == '') id = -1;
        $.getJSON('/Ward/GetWardsOfDistrict/' + id, function (data) {
            var items = '<option>-- Choose a Ward --</option>';
            $.each(data, function (i, ward) {
                items += "<option value='" + ward.WardId + "'>" + ward.Name + "</option>";
                // state.Value cannot contain ' character. We are OK because state.Value = cnt++;
            });
            $('#ddlWard').html(items);
            $('#ddlWard').removeAttr('data-val-number');
            $("form").removeData("validator");
            $("form").removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse("form");
            $('#ddlWard').trigger("liszt:updated");
        });
    });
    //$("#ddlDistrict").trigger('change');
    $(".chzn-select").chosen();
    $(".chzn-select-deselect").chosen({ allow_single_deselect: true });

</script>

