﻿@model IEnumerable<SMDH.Models.Hub>
@{
    ViewBag.Title = "Hubs";
    ViewBag.Heading = "Hubs Management";
}
@if (false)
{ 
    <script src="/js/jquery-1.8.2-vsdoc.js" type="text/javascript"></script>
}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDtQG_NozpgE0uacggef_wCw-pF10M8bOA&sensor=false">
</script>
<script src="/js/gmap3.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/css/DT_bootstrap.css" />
<link href="/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" language="javascript" src="/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf-8" language="javascript" src="/js/DT_bootstrap.js"></script>
<script src="/js/dataTables.bootstrap.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="/js/crud.js" type="text/javascript"></script>
<div class="row-fluid">
    <div class="span12">
        <table class="table table-striped table-bordered" id="main-table">
            <thead>
                <tr>
                    <th>Name
                    </th>
                    <th>Address
                    </th>
                    <th class="tbl-status-col">Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="width: 20%">
                            @item.Name
                        </td>
                        <td style="width: 40%">
                            @item.FullAddress
                        </td>
                        <td style="width: 30%">
                            <a class="btn action edit" href="javascript:void(0)" onclick="edit(@item.HubId)"  id="edit-@item.HubId">
                                <i class="icon-pencil"></i></a>
                            @*                            <a href="javascript:void(0)" title="Set Location" class="myToolTip setLocation btn action" rel="tooltip" onclick="setLocation(@item.HubId)" id="setLocation-@item.HubId">
                                <i class="icon-globe"></i>
                            </a>
                            <a href="javascript:void(0)" class="myToolTip hide confirmSetLocation btn action" rel="tooltip"  title="Confirm Set Location" onclick="confirmSetLocation(@item.HubId)" id="confirmSetLocation-@item.HubId">
                                <i class="icon-thumbs-up"></i>
                            </a>
                            <a href="javascript:void(0)" class="myToolTip hide cancelSetLocation btn action" rel="tooltip"  title="Cancel Set Location" onclick="cancelSetLocation(@item.HubId)" id="cancelSetLocation-@item.HubId">
                                <i class="icon-thumbs-down"></i></a>*@
                            <a class="btn action delete" href="#" onclick="deleteHub(@item.HubId);" id="delete-@item.HubId">
                                <i class="icon-remove"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @*    <div class="span6" style="margin-top: 70px;">
        <div id="map" style="height: 434px; margin-bottom: 10px; bhub: 3px solid">
        </div>
    </div>*@
</div>
<!-- Begin "Create" Modal -->
<div class="modal" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" style="display:none;">
</div>
<!-- End "Create" Modal -->
<!-- Begin "Edit" Modal -->
<div class="modal" id="editModal" style="display:none;">
</div>
<!-- End "Edit" Modal -->
<script>
    $(document).ready(function () {
        setupCrud('Hubs');
    });
</script>
<script>
    var deleteHub = function (hubId) {
        bootbox.confirm("Are you sure to delete this hub?", function (confirmed) {
            if (confirmed) {
                $.post('/Hubs/Remove/' + hubId, function (result) {
                    if (result.success) {
                        $.blockUI();
                        window.location.reload();
                    } else {
                        bootbox.alert('Unable to delete this hub.');
                    }
                });
            }
        });
    };

   @* var gmap3;

    var hubPoints = new Array();

    @foreach (var hub in Model)
    {
        <text>
    hubPoints.push({
        hubId: @hub.HubId,
        name: '@hub.Name',
        lat: @hub.Latitude,
        long: @hub.Longitude
        });
        </text>
    }
    
    var initialize = function(){
        var markerValues = new Array();
       
        $.each(hubPoints,function(index,hubPoint){
            markerValues.push({
                latLng: new google.maps.LatLng(hubPoint.lat,hubPoint.long),
                id: hubPoint.hubId,
                data: hubPoint.name
            });
        });

        $("#map").gmap3({
            map: {
                options: {
                    center: [10.784574, 106.664788],
                    zoom: 13,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    mapTypeControl: false,
                    navigationControl: false,
                    scrollwheel: true,
                    streetViewControl: false
                }
            },
            marker: {
                values: markerValues,
                options: {
                    draggable: false
                },
                events:{
                    mouseover: function(marker, event, context){
                        var map = $(this).gmap3("get"),
                          infowindow = $(this).gmap3({get:{name:"infowindow"}});
                        if (infowindow){
                            infowindow.open(map, marker);
                            infowindow.setContent(context.data);
                        } else {
                            $(this).gmap3({
                                infowindow:{
                                    anchor:marker, 
                                    options:{content: context.data}
                                }
                            });
                        }
                    },
                    mouseout: function(){
                        var infowindow = $(this).gmap3({get:{name:"infowindow"}});
                        if (infowindow){
                            infowindow.close();
                        }
                    }
                }
            },
            autofit:{}
        });
        gmap3 = $("#map").gmap3("get");        
        google.maps.event.trigger(gmap3, 'resize');
        
    }

    $(document).ready(function(){
        initialize();
    });

    var setLocation = function (hubId, addressFromWard) {        
        marker = $("#map").gmap3({get: hubId+''});
        
        markers = $("#map").gmap3({
            get: {
                name:"marker",
                all: true
            }
        });
        //cancelOthers();
        if (marker) marker.setVisible(false);

        noty({ text: 'Please select a location on the map!', type: 'information', layout: 'topRight', timeout: 2000 });

        var options = {};
        if (marker) {
            $("#map").gmap3({                
                marker: {
                    values: [{
                        latLng: marker.position,
                        id: 'temp-' + hubId
                    }],
                    options: {
                        draggable: true,
                        icon: "/img/icons2/blue-dot.png"
                    }
                }
            });
        } else {
            $("#map").gmap3({                
                marker: {
                    values: [{
                        address: addressFromWard,
                        id: 'temp-' + hubId
                    }],
                    options: {
                        draggable: true,
                        icon: "/img/icons2/blue-dot.png"
                    }
                }
            });
        }        
        
        $('#setLocation-' + hubId).addClass('hide');
        $('#delete-' + hubId).addClass('hide');
        $('#edit-' + hubId).addClass('hide');
        $('#confirmSetLocation-' + hubId).removeClass('hide');
        $('#cancelSetLocation-' + hubId).removeClass('hide');        
    };

    var cancelSetLocation = function (hubId) {
        marker = $("#map").gmap3({get: hubId+''});
        if (marker) marker.setVisible(true);
        if ($("#map").gmap3({get: 'temp-' + hubId})) {
            $("#map").gmap3({get: 'temp-' + hubId}).setMap(null);
            $("#map").gmap3({clear: 'temp-' + hubId})
        }
        $('#setLocation-' + hubId).removeClass('hide');
        $('#delete-' + hubId).removeClass('hide');
        $('#edit-' + hubId).removeClass('hide');
        $('#confirmSetLocation-' + hubId).addClass('hide');
        $('#cancelSetLocation-' + hubId).addClass('hide');        
    };*@

    var confirmSetLocation = function (hubId, hubName) {
        tempMarker = $("#map").gmap3({ get: 'temp-' + hubId });
        $.post('/Hubs/UpdateLocation/' + hubId, { latitude: tempMarker.position.lat(), longitude: tempMarker.position.lng() },
            function (result) {
                if (result.success) {
                    position = new google.maps.LatLng(tempMarker.position.lat(), tempMarker.position.lng());
                    $("#map").gmap3({ clear: 'temp-' + hubId });
                    $("#map").gmap3({ clear: '' + hubId });
                    $("#map").gmap3({
                        marker: {
                            values: [{
                                latLng: position,
                                id: '' + hubId,
                                data: hubName
                            }]
                        }
                    });

                    $('#setLocation-' + hubId).removeClass('hide');
                    $('#delete-' + hubId).removeClass('hide');
                    $('#edit-' + hubId).removeClass('hide');
                    $('#confirmSetLocation-' + hubId).addClass('hide');
                    $('#cancelSetLocation-' + hubId).addClass('hide');
                }
                else bootbox.alert('Failed to set location.');
            }
        );
    };

</script>
