﻿@model SMDH.Models.RegisterModel
@using SMDH.Models
@{
    ViewBag.Title = "Create new account";
    ViewBag.Heading = "Create new account";
}
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script>
    function validateCheckBox() {
        if ($("#staff").attr("checked")) {
            if ($("input[type=checkbox]:checked").length == 0) {
                bootbox.alert("You have to choose one role: Office Staff or Hub Staff");
                return false;
            }
            return true;
        }
        return true;
    }
</script>
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "register-form", onSubmit = "return validateCheckBox()" }))
{
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
    <div>
        <fieldset>
            <div class="editor-label">
                Username <span style="color: Red">*</span>
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="control-group">
                <label class="control-label" for="Full Name">
                    Full Name <span style="color: Red">*</span></label>
                <div class="controls">
                    <input data-val="true" data-val-required="Full name is required." id="fullName" name="FullName" type="text" value=""><br />
                    <span class="field-validation-valid" data-valmsg-for="FullName" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="editor-label">
                Email <span style="color: Red">*</span>
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            @*<div class="editor-label">
                Password <span style="color:Red">*</span>
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="editor-label">
                Confirm Password <span style="color:Red">*</span>
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>*@
            <div class="control-group">
                <label class="radio" style="float: left">
                    <input type="radio" checked name="Type" id="customer" value="Customer">
                    Customer
                </label>
                <label class="radio" style="margin-left: 100px">
                    <input type="radio" name="Type" id="staff" value="Staff">
                    Staff
                </label>
            </div>
            <fieldset id="checkArray">
                <div class="hide" id="officeStaff">
                    <label class="checkbox">
                        <input type="checkbox" checked name="officeStaff" id="officeStaffCheck" value="2">
                        Office Staff
                    </label>
                </div>
                <div class="hide" id="hubStaff">
                    <label class="checkbox">
                        <input type="checkbox" name="hubStaff" id="hubStaffCheck" value="1">
                        Hub Staff
                    </label>
                </div>
            </fieldset>
            <div id="listCustomer">
                <div class="controls">
                    <select name="customer">
                        @foreach (var item in ViewBag.PossibleCustomers)
                        {                
                            <option value=@item.CustomerId>@item.CompanyName</option>                       
                        }
                    </select>
                </div>
            </div>
            <p>
                <input type="submit" value="Register" />
            </p>
        </fieldset>
    </div>
}
<script>
    $('#customer').click(function () {
        $('#deliveryStaff').hide();
        $('#officeStaff').hide();
        $('#admin').hide();
        $('#listCustomer').show();
        $("#hubStaffCheck").prop("checked", false);
        $("#officeStaffCheck").prop("checked", false);
        $("#adminCheck").prop("checked", false);
    });

    $('#staff').click(function () {
        //$("#deliveryStaffCheck").prop("checked", true);
        $('#listCustomer').hide();
        $('#hubStaff').show();
        $('#officeStaff').show();
        $('#admin').show();
    });

    //    $(function () {
    //        var block = function () { $.blockUI({ message: 'processing...' }) };
    //        $(document).ajaxStart($.unblockUI).ajaxStop($.unblockUI);
    //    });
    //    var atLeastOneIsChecked = $('#checkArray :checkbox:checked').length;
    //    if (atLeastOneIsChecked == 0) {
    //        alert("you have to choose at least one role admin/office staff or delivery staff");
    //    }
</script>
