﻿.caroufredsel_wrapper
{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-left: 5px;
}
.bx-prev
{
    background: #eeeeee url("../images/icon_arrow_left.png") no-repeat 0 -31px;
    display: block;
    margin-top: -2px;
    height: 31px;
    width: 31px;
    text-indent: -99999px;
    opacity: 0.5;
}

.bx-next
{
    background: #eeeeee url("../images/icon_arrow_right.png") no-repeat 0 -31px;
    display: block;
    margin-top: -2px;
    height: 31px;
    width: 31px;
    text-indent: -99999px;
    float: right;
    opacity: 0.5;
}
