/*   
  SmartTab plugin v0.99
  jQuery Tab Control Plugin
  
  http://tech-laboratory.blogspot.com
  http://techlaboratory.wordpress.com
*/
.stContainer {
    position:relative;
    margin:0;
    padding:0;     
    left:5%;     
    font: normal 12px Verdana, Arial, Helvetica, sans-serif; 
    color:              #5A5655;
    background-color:   #F8F8F8;
    border:             0px solid #CCC;
    width:926px;
    -webkit-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius  : 8px;
    -moz-border-radius  : 8px;    
}
.stContainer > div {
   /* -webkit-border-radius: 5px; 
    -webkit-border-top-left-radius
    -webkit-border-top-right-radius */
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft   : 8px;
    -moz-border-radius-bottomright  : 8px; 
    position: relative;    
    margin:             0;   
    border:             1px solid #CCC;
    padding:            10px;   
    border-top-width: 0 !important;
    /*height: 300px;     */
    width:905px;
    font: normal 12px Verdana, Arial, Helvetica, sans-serif; 
    color:              #5A5655;   
    background-color:   #F8F8F8;
    text-align:left;
    overflow:show;    
}
.stContainer ul {
    display:block;
    list-style: none;    
    position: relative;    
    padding: 0px ;
    padding-top: 0px;   
    padding-right: 0px; 
    padding-left: 5px;     
    margin: 0;     
    width:920px;
    height:70px; 
    clear: both;
    border: 1px solid #CCCCCC;    
    background: #EEEEEE;
    -moz-border-radius-topleft      : 8px;
    -moz-border-radius-topright     : 8px;
    -moz-border-radius-bottomleft   : 0px;
    -moz-border-radius-bottomright  : 0px; 
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;  
}
.stContainer ul li{ 
    position: relative; 
    margin: 0;
    padding: 0;    
    border-bottom: 0px solid #E0E0E0 !important; 
    border-right: 1px solid #E0E0E0;  
    border-left: 1px solid #E0E0E0;      
    float: left;
}
.stContainer ul li a { 
  display:block;
  margin:0;
  padding:3px;
  text-decoration: none;
  height:64px;
  width:220px;
  color:#0464BB;
  outline-style:none;
}
.stContainer ul li a img { 
  display:block;
  margin:0;
  padding:3px;
  height:50px;
  width:50px;
  float:left;
}
.stContainer ul li a h2 { 
  display:block;
  font: bold 18px Verdana, Arial, Helvetica, sans-serif;
  float:left;
}
.stContainer ul li a small { 
  font: normal 12px Verdana, Arial, Helvetica, sans-serif;
  float:left;
}
.stContainer ul li a:hover {   
  color:#FFF; 
  background: #EA8511; 
}
.stContainer ul li a.sel { 
  height:65px;
  color:#EA8511;  
  background: #F8F8F8;  
  cursor:text;   
}
.stContainer ul li a.dis {
  color:#CCCCCC;  
  background: #F8F8F8;  
  cursor:text;   
}
