﻿/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body{
    /*min-width: 1024px;*/
    font-family: Helvetica,Arial,sans-serif;
    overflow: auto;
}
body .container-fluid{
    padding-left: 0px;
}
.header-top {
    margin: 0 0 10px 0;
}
.sidebar .leftmenu ul li a {
    background-color: #ddd;
    padding-left: 0px;
    background: none;
    color: #fff;
    font-family: verdana;
}
.sidebar  .leftmenu ul li a span {
    background-color: #356D23;
}
::-webkit-scrollbar {width:10px;height:12px}
::-webkit-scrollbar:hover, html.notif ::-webkit-scrollbar {border:1px solid #ccc}
::-webkit-scrollbar-thumb {background-color:rgba(0,0,0,0.2);-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);}
::-webkit-scrollbar-thumb:hover {background:rgba(0,0,0,0.4)}
::-webkit-scrollbar-button {width: 0;height: 0;display: none;}
::-webkit-scrollbar-corner {background-color: transparent}
		
.header-wrapper{
    /*background-color: #eee;*/
}

.m-login-container {
    background-color: white;
    margin-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}
.table{
    border: 2px solid #448AA5!important;
    font-size: 13px!important;
    width: 100%!important;
}
table th:first-child, table td:first-child {
    border-left: 0px solid #DDD!important;
}
table th{
    background-color: #448AA5!important;
    color: #fff!important;
}
.breadcrumb{
    margin-bottom: 10px;
}
.breadcrumb h3{
    line-height: 20px!important;
}
/*  predefined-class
-----------------------------------------------------------*/
.green-bordered{
    border: 2px solid #389B4C;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 20px;
}
.green-bordered dl{
    margin: 0px;
}
.green-bordered dt{
    text-align: left;
}
img{
    vertical-align: middle;
}
/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000!important;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000!important;
    background-color: #ffeeee!important;
}

.validation-summary-errors {
    font-weight: bold!important;
    color: #ff0000!important;
}

.validation-summary-valid {
    display: none;
}

.hide {
    display: none;
}

.leftmenu ul li .dropdown {
    width: auto;   
    min-width: 100%;
}

.tblBtnGroup {
    margin-top: 5px;
}

.tbl-action-col{
    min-width: 50px;
}

.tbl-status-col{
    width: 60px;
}

.center {
    text-align: center!important;
}
.tabbable{
    min-width: 680px;
    padding: 10px;
    border: 1px solid #000;
    background-color: #DCEEA4;
    margin-top: 2px;
}
.requestDetails .tab-content{
    border-left: 0px;
    padding-left: 20px;
    padding-right: 5px;
    max-height: 330px;
    overflow: auto;
}
#addOrders .tab-content{
    max-height: 300px;
}
.requestDetails .tab-content ul {
    margin: 0px;    
}
.tabbable .tab-content ul {
    list-style: none;
}
.requestDetails .tabs-left > .nav-tabs{
    margin: 0px;
    border-right: 0px;
    max-height: 330px;
    overflow: auto;
    padding-right: 0px;
}
#addOrders .tabs-left > .nav-tabs{
    max-height: 300px;
}
.tabs-left > .nav-tabs > li, .tabs-right > .nav-tabs > li{
    /*width: 98%;*/
}


/*****************************
//
// TICKETS
//
******************************/	
.ticket {
	margin-bottom: 3px;
}
.ticket-container {
	border:1px solid #000;
	padding:5px;
	background: #fff;
	position: relative;
}
.ticket-content {
	margin-top:10px;
	margin-left:90px;
}
.ticket-content p {
	font-size:11px;
}
.ticket-content .meta {	
	border-bottom:1px solid #ddd;
}
.ticket-content .meta a, a.ticket-author{
	font-weight:bold;
}
.order-ticket{
    /*min-height: 100px!important;*/
    background-color: #E5E9FF;
    margin-left: 0px!important;
    overflow:hidden;
    position:relative;
    padding-right: 10px;
    width: 99%!important;     
}
.ticket dl{
    margin: 0px;
    min-height: 25px;
}
.ticket .dl-horizontal dt, .order-ticket-info .dl-horizontal dt {
    text-align:left;    
    width:25px;
    height: 25px;
}
.ticket .dl-horizontal dd, .order-ticket-info .dl-horizontal dd{
    margin-left:25px;
    line-height: 25px;
}
.order-ticket-info .dl-horizontal dt {
    text-align:left;    
    width:25px;
    height: 25px;
}
.order-ticket-buttons{
    padding-top: 20px;
}
.item-ticket{
    background-color: #FFE8F6;
    border: 1px solid #000;
    /*margin-left: 20px!important;*/
}
#companyInfo dt {
    text-align:left;
    width: 155px;
}
#orderAccordion {
    margin-top: 10px;
}
.ticket-btn-group {
    width: 25px;
    text-align: center;
    position:absolute;
    height:100%;
    top:0;
    right:0;
    display:none;
}
.active .ticket-btn-group{
    display: block;
}
.ticket .column{
    display: block;
    float: left;
    margin-right: 35px;
}
.order-ticket dt{
    float: left;
}
.order-ticket-info{
    float: left;
    padding-right: 40px;
    cursor: pointer;
}
.order-ticket-border{
    border: 1px solid;
    display: inline-block;
    position: relative;
    width: 100%;
    
}
.active div.order-ticket, .active div.request-ticket{
    background-color: #FFFF76;
    cursor: default;
}
#addOrders .active div.order-ticket{
    min-height: 82px;
}
#addOrders div.dueDate, #addOrders div.fee{
    display: none;
}
.request-selector .title{
    border: 1px solid #000;
    line-height: 25px;
    background-color: #fff;
    text-align: center;
}
.request-selector .title h4{
    color: #000;
}
.request-ticket{
    background-color: #ECEDFF;
    margin-bottom: 5px;
}
#unplanned-requests{
    background-color: #EE8B5C;
    padding: 15px;
    height: 390px;
    overflow: auto;
    clear: both;
}
#selected-requests{
    background-color: #64A553;
    padding: 15px;
    height: 390px;
    overflow: auto;
    clear: both;
}
#selected-requests .request-ticket{
    /*background-color: #DCEEA4;*/
}
.customer-modal{
    /*width:850px;
    margin-left:-425px;*/
}
.customer-middle{
    margin-left: 200px;
}
.swMain .form-and-list{
    margin: 10px;
}
.swMain .form-and-list .form{
    float: left;
    width: 25%;
}
.swMain .form-and-list .info-and-list{
    float: right;
    width: 70%;
}
.swMain .form-only{
    width: 60%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.customer-info .dl-horizontal dt {
    text-align: left;
} 
.swMain .customer-info .row-fluid, .stContainer .customer-info .row-fluid{
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}
.editor-label{
    line-height: 30px;
}
.align-center{
    text-align: center;
}
input, textarea, .uneditable-input {
    width: 234px;
}
select{
    width: 220px;
}
.customer-details .customer-information, .customer-details .customer-addresses, .customer-details .customer-contacts{
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
}
.customer-details dt{
    text-align: left;
    width: 200px;
}
.customer-details dd{
    margin-left: 200px;
}
table a.edit, table a.view, table a.delete{
    margin: 0 5px 0 0;
}
.collection-planning .region-selector .controls, .delivery-planning .region-selector .controls{
    margin-right: 10px;
}
.collection-planning ul.all-request, .delivery-planning ul.all-order{
    margin-left: 0px;
}
.collection-planning ul.all-request li, .delivery-planning ul.all-order li{
    list-style: none;
}
.collection-planning .request-selector, .delivery-planning .order-selector{
    margin-top: 5px;
    /*margin-bottom: 10px;*/
}
.request-selector ul, .order-selector ul{
    margin-left: 0px;
}
.request-selector li, .order-selector li{
    list-style: none;
}

.plan-details .customer-information{
    padding: 10px;
    background-color: #fff;
}
/*.plan-details .customer-information dt{
    width: 160px;
    text-align: left;
}*/
.plan-details .customer-information dd{
    text-align: right;
}
.plan-details .request-list{
    
}
#companyInfo{
    margin-bottom: 10px;
}
.requestDetails #companyInfo dl{
    margin-bottom: 0px;
    margin-top: 0px;
}
.requestDetails #companyInfo .pull-left {
    margin-right: 50px;
    line-height: 30px;
}
.requestDetails #orders-items{
    height: 330px;
    margin-bottom: 10px;
}
#addOrders #orders-items{
    height: 380px;
}
.checkButtonStatus{
    margin-bottom: 10px;
}
.checkButtonStatus .btn.status.active, .checkButtonStatus .btn.status:active {
    background-color: #E68E3C;
    color: #fff;
    box-shadow: none;
}
#statusFilter{
    border: 1px solid #CCC;
    padding: 10px;
    margin-bottom: 5px;
}
#statusFilter #btnFilter {
    height: 40px;
    width: 80px;
    margin-top: 10px;
    float: right;
}
.modal form{
    margin-left: 50px!important;border-style:
}
.datetimepicker .date input{
    width: 80px;
    margin-top: 0px;
}
.datetimepicker input.timepicker-default{
    width: 70px;
    float:left;
    margin-left: 6px;
}
.requestDetails #request-summary .col-center dl dt{
    width: 125px;
}
.requestDetails #request-summary .col-center dl dd{
    margin-left: 130px;
}
.requestDetails #request-summary .col-left dl dt{
    width: 115px;
}
.requestDetails #request-summary .col-left dl dd{
    margin-left: 120px;
}
.order-details .order-info{
    margin-bottom: 20px;
}
.order-details .order-info .col-left dt{
    width: 135px;
}
.order-details .order-info .col-left dd{
    margin-left: 135px;
}
.order-details .order-info .col-center dt{
    width: 120px;
}
.order-details .order-info .col-center dd{
    margin-left: 120px;
}
.order-details .order-info .col-right dt{
    width: 130px;
}
.order-details .order-info .col-right dd{
    margin-left: 130px;
}
.editor-field {
    max-width: 220px;
}
.order-selector .title{
    border: 1px solid #000;
    line-height: 25px;
    background-color: #fff;
    text-align: center;
}
.order-selector .title h4{
    color: #000;
}
.order-ticket{
    background-color: #ECEDFF;
    margin-bottom: 5px;
}
.order-ticket.rejected{
    background-color: #B9B9B9;
}
#unplanned-orders{
    background-color: #EE8B5C;
    padding: 15px;
    height: 390px;
    overflow: auto;
    clear: both;
}
#selected-orders{
    background-color: #64A553;
    padding: 15px;
    height: 390px;
    overflow: auto;
    clear: both;
}
.approveOrders .control-group{
    /*margin: 5px 0 0 0;*/
}
.btn.action{
    margin: 0;
    padding: 3px;
}
.btn.action img, .btn.action span{
    width: 14px;
    height: 14px;
    margin: 0;
}
.ticket .btn.action {
    margin-top: 5px;
}
.action-column{
    min-width: 48px;
    text-align: center!important;
}
/*.delivery-planning*/ .order-ticket-info{
    padding-right:0px;
}
div.order-ticket.no-position {
    background-color: #F79373;
}
.brand img {
    width: 200px;
    height: auto;
}
table.table {
    margin-top: 50px!important;
}
dt img{
    margin-top: 4px;
}
.order-ticket .control-group {
    margin-bottom: 0px;
}
.plan-details .col-left dt{
    width: 140px;
}
.plan-details .col-left dd{
    margin-left: 140px;
}
.plan-details .col-center dt{
    width: 145px;
}
.plan-details .col-center dd{
    margin-left: 145px;
}
.plan-details .col-right dt{
    width: 100px;
}
.plan-details .col-right dd{
    margin-left: 100px;
}
#btnFilter{
    line-height:40px;
}