﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/css/bluemoonstyle.css" rel="stylesheet">
    <link href="/css/bootstrap-wysihtml5.css" rel="stylesheet">
    <link href="/css/wysiwyg-color.css" rel="stylesheet">
    <link href="/css/bluemoonmain.css" rel="stylesheet">
    <!-- Important. For Theming change primary-color variable in main.css  -->
    <script src="/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="/js/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/js/jquery.mousewheel.min.js"></script>
    <!-- Load plugins -->
    <script type="text/javascript" src="/js/plugins/qtip/jquery.qtip.min.js"></script>
    <script type="text/javascript" src="/js/plugins/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="/js/plugins/flot/jquery.flot.grow.js"></script>
    <script type="text/javascript" src="/js/plugins/flot/jquery.flot.pie.js"></script>
    <script type="text/javascript" src="/js/plugins/flot/jquery.flot.resize.js"></script>
    <script type="text/javascript" src="/js/plugins/flot/jquery.flot.tooltip_0.4.4.js"></script>
    <script type="text/javascript" src="/js/plugins/flot/jquery.flot.orderBars.js"></script>
    <script type="text/javascript" src="/js/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="/js/plugins/knob/jquery.knob.js"></script>
    <script type="text/javascript" src="/js/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script type="text/javascript" src="/js/plugins/prettify/prettify.js"></script>
    <script type="text/javascript" src="/js/plugins/watermark/jquery.watermark.min.js"></script>
    <script type="text/javascript" src="/js/plugins/elastic/jquery.elastic.js"></script>
    <script type="text/javascript" src="/js/plugins/inputlimiter/jquery.inputlimiter.1.3.min.js"></script>
    <script type="text/javascript" src="/js/plugins/maskedinput/jquery.maskedinput-1.3.min.js"></script>
    <script type="text/javascript" src="/js/plugins/ibutton/jquery.ibutton.min.js"></script>
    @*<script type="text/javascript" src="/js/plugins/uniform/jquery.uniform.min.js"></script>*@
    <script type="text/javascript" src="/js/plugins/stepper/ui.stepper.js"></script>
    <script type="text/javascript" src="/js/plugins/color-picker/colorpicker.js"></script>
    <script type="text/javascript" src="/js/plugins/timeentry/jquery.timeentry.min.js"></script>
    <script type="text/javascript" src="/js/plugins/select/select2.min.js"></script>
    <script type="text/javascript" src="/js/plugins/dualselect/jquery.dualListBox-1.3.min.js"></script>
    <script type="text/javascript" src="/js/plugins/tiny_mce/jquery.tinymce.js"></script>
    <script type="text/javascript" src="/js/plugins/validate/jquery.validate.min.js"></script>
    @*<script type="text/javascript" src="/js/plugins/search/tipuesearch_set.js"></script>*@
    @*<script type="text/javascript" src="/js/plugins/search/tipuesearch_data.js"></script>*@<!-- JSON for searched results -->
    @*<script type="text/javascript" src="/js/plugins/search/tipuesearch.js"></script>*@
    <script type="text/javascript" src="/js/plugins/animated-progress-bar/jquery.progressbar.js"></script>
    <script type="text/javascript" src="/js/plugins/pnotify/jquery.pnotify.min.js"></script>
    <script type="text/javascript" src="/js/plugins/lazy-load/jquery.lazyload.min.js"></script>
    <script type="text/javascript" src="/js/plugins/jpages/jPages.min.js"></script>
    <script type="text/javascript" src="/js/plugins/pretty-photo/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/js/plugins/smartWizzard/jquery.smartWizard-2.0.min.js"></script>
    <script type="text/javascript" src="/js/plugins/ios-fix/ios-orientationchange-fix.js"></script>
    @*<script type="text/javascript" src="/js/plugins/dataTables/jquery.dataTables.min.js"></script>*@
    <script type="text/javascript" src="/js/plugins/elfinder/elfinder.min.js"></script>
    <script type="text/javascript" src="/js/plugins/plupload/plupload.js"></script>
    <script type="text/javascript" src="/js/plugins/plupload/plupload.html4.js"></script>
    <script type="text/javascript" src="/js/plugins/plupload/jquery.plupload.queue/jquery.plupload.queue.js"></script>
    <script type="text/javascript" src="/js/plugins/totop/jquery.ui.totop.min.js"></script>
    <!-- Init plugins -->
    <script type="text/javascript" src="/js/statistic.js"></script>
    <!-- Control graphs ( chart, pies and etc) -->
    <script type="text/javascript" src="/js/main.js"></script>
    <script src="/js/jquery.blockUI.js" type="text/javascript"></script>
    <script src="/js/bootbox.min.js" type="text/javascript"></script>
    <script src="/js/jquery.noty.js" type="text/javascript"></script>
    <script src="/js/topRight.js" type="text/javascript"></script>
    <script src="/js/default.js" type="text/javascript"></script>
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon-57-precomposed.png" />
    <script type="text/javascript">
        //adding load class to body and hide page
        //document.documentElement.className += 'loadstate';

        $(document).ready(function () {
            var block = function () {
                $.blockUI({ message: 'processing...' });
                $('.modal').block({ message: 'processing...' });
            };
            var unblock = function () {
                $.unblockUI();
                $('.modal').unblock();
            };
            //$(document).ajaxStart(block).ajaxStop(unblock);                       

            $('.myToolTip').tooltip();

            $("#alert").hide();
        });

        function showAlert(textToshow, link, timeToShow) {

            var timerId = 500;

            $("#alertText").html(textToshow);
            document.getElementById("alertLink").href = link;
            $("#alert").fadeIn(1000, function () {
                $("#alertText").fadeIn(700);
            });
            timerId = setTimeout(function () {
                hideAlert();
            }, timeToShow);

            document.getElementById("alert").onmouseover = function () {

                clearTimeout(timerId);
            }

            document.getElementById("alert").onmouseout = function () {
                alert("Mouse out");
                timerId = setTimeout(function () {
                    hideAlert();
                }, timeToShow);
            }

        }

        function hideAlert() {
            $("#alert").fadeOut(700);
        }

        function OpenPopup(url) {
            url = url + encodeURIComponent("/buyer/home/ViewProductsByCustomerId?customerId=" + @ViewBag.CustomerId);
            newwindow = window.open(url, 'Share on Social Network', 'height=400,width=500');
            if (window.focus) { newwindow.focus() }
            return false;
        }

    </script>
</head>
<body>
    <div id="overlay">
        <ul>
            <li class="li1"></li>
            <li class="li2"></li>
            <li class="li3"></li>
            <li class="li4"></li>
            <li class="li5"></li>
            <li class="li6"></li>
        </ul>
    </div>
    @*<div id="qLoverlay">
    </div>
    <div id="qLbar">
    </div>*@
    <header>
        <a href="/Dashboard" class="logo">
            <img src="/img/mylogo/logo4.png" style="height: 95px; width: 250px; margin-top: -15px;" alt="logo" />
        </a>
        <div class="btn-group">
            <button class="btn btn-primary">
                @User.Identity.Name
            </button>
            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right">
                <li>
                    <a href="#">Edit Profile
            </a>
                </li>
                <li>
                    <a href="/Account/ChangePassword">Change Password
            </a>
                </li>
                <li>
                    <a href="/Account/LogOff">Logout
            </a>
                </li>
            </ul>
        </div>
        <ul class="mini-nav">
            @if (ViewBag.CustomerId != null)
            { 
                <li>
                    <a data-animation="true" data-toggle="tooltip" title="Order" onclick="return OpenPopup('http://www.facebook.com/sharer.php?u=')">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe16a;"></div>
                    </a>
                </li>
            }
            <li>
                <a data-animation="true" data-toggle="tooltip" title="Order" href="/Customer/Orders?&status=draft">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe037;"></div>
                    <div id="waitingPricingOrders">
                        <span class="info-label badge badge-warning">3
                        </span>
                    </div>
                </a>
            </li>
            <li>
                <a href="/Customer/Orders?&status=repricingapproverequest">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe006;"></div>
                    <div id="waitingPricingRequests">
                        <span class="info-label badge badge-info">5
                        </span>
                    </div>
                </a>
            </li>
            <li>
                <a href="/Customer/Orders?&status=returnedreduceprice&status=expired">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe007;"></div>
                    <div id="approvedRequests">
                        <span class="info-label badge badge-inverse">9
                        </span>
                    </div>
                </a>
            </li>
            <li>
                <a href="/Customer/Requests?&status=pricing">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe038;"></div>
                    <div id="collectedOrders">
                        <span class="info-label badge badge-important">9
                        </span>
                    </div>
                </a>
            </li>
        </ul>

    </header>
    <div class="container-fluid">
        <div class="dashboard-container">
            <div>
                <h4 style="color: white;">@ViewBag.Heading</h4>
            </div>
            <div class="dashboard-wrapper">
                <div class="left-sidebar">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $("#overlay").delay(1250).fadeOut(500);
        var source = new EventSource('/Notifications/CheckNotification');
        source.onmessage = function (e) {
            //alert(e);
            var returnedItem = JSON.parse(e.data);
            updateDashboard(returnedItem.orders, returnedItem.requests);
            loadconfig();
        }

        function updateDashboard(orders, requests) {
            $('#waitingPricingOrders').html('<span class="info-label badge badge-warning">' + orders[0] +
                    '</span>');
            $('#waitingPricingRequests').html('<span class="info-label badge badge-info">' + orders[1] +
                    '</span>');
            $('#approvedRequests').html('<span class="info-label badge badge-inverse">' + orders[2] +
                    '</span>');

            $('#collectedOrders').html('<span class="info-label badge badge-important">' + requests[1] +
                    '</span>');

            $('#OrdersNeedToApprove').html(orders[0]);
            $('#OrdersApproved').html(orders[1]);
            $('#OrdersRejected').html(orders[2]);
            $('#OrdersRequested').html(orders[3]);
            $('#OrdersDelivering').html(orders[4]);
            $('#OrdersWaitingForReturn').html(orders[5]);
            $('#OrdersReturned').html(orders[6]);

            $('#RequestsWaitingForPrice').html(requests[0]);
            $('#RequestsNeedToApprove').html(requests[1]);
            $('#RequestsApproved').html(requests[2]);
            $('#RequestsCollected').html(requests[3]);
            $('#RequestsCanceled').html(requests[4]);

        }

        //$.pnotify({
        //    title: "Pines Notify",
        //    text: "Welcome. Try hovering over me. You can click things behind me, because I'm non-blocking.",
        //    nonblock: false,
        //    before_close: function (pnotify) {
        //        // You can access the notice's options with this. It is read only.
        //        //pnotify.opts.text;

        //        // You can change the notice's options after the timer like this:
        //        pnotify.pnotify({
        //            title: pnotify.opts.title + " - Enjoy your Stay",
        //            before_close: null
        //        });
        //        pnotify.pnotify_queue_remove();
        //        return false;
        //    }
        //});

        function loadconfig() {
            $.post("/Customer/Orders/AutoApproveOrder");
            $.post("/Customer/Requests/AutoApprove");
        }

    </script>

    @*    <script src="/js/jquery.scrollUp.js">
    </script>

    <script type="text/javascript">
        //ScrollUp
        $(function () {
            $.scrollUp({
                scrollName: 'scrollUp', // Element ID
                topDistance: '300', // Distance from top before showing element (px)
                topSpeed: 300, // Speed back to top (ms)
                animation: 'fade', // Fade, slide, none
                animationInSpeed: 400, // Animation in speed (ms)
                animationOutSpeed: 400, // Animation out speed (ms)
                scrollText: 'Scroll to top', // Text for element
                activeOverlay: false, // Set CSS color to display scrollUp active point, e.g '#00FFFF'
            });
        });
    </script>*@
</body>
</html>
