@model HDMS.Models.CollectionPlan
@{
    ViewBag.Title = "Create New Collection Plan";
    ViewBag.Heading = "Create New Collection Plan";
}
@if (false)
{ 
    <script src="/js/jquery-1.8.2-vsdoc.js" type="text/javascript"></script>
}
<script src="/js/collection-plan-request-ticket.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/css/DT_bootstrap.css" />
<script src="/js/chosen.jquery.js" type="text/javascript"></script>
<script src="/js/date.format.js" type="text/javascript"></script>
<div class="collection-planning">

</div>