﻿@model HDMS.Models.CollectionPlan
@{
    ViewBag.Title = "Create";
}
<script src="/js/chosen.jquery.js" type="text/javascript"></script>
<link href="/css/chosen.css" rel="stylesheet" type="text/css" />
<link href="/css/smart_wizard.css" rel="stylesheet" type="text/css" />
<script src="/js/jquery.smartWizard-2.0.js" type="text/javascript"></script>

<div class="collection-planning">
    <div class="row-fluid">
        <div class="span12 breadcrumb">
            <h3>
                Collection Planning</h3>
        </div>
    </div>
    <!-- Smart Wizard -->
    <div id="wizard" class="swMain">        
        <ul>
            <li><a href="#step-1">
                <label class="stepNumber">
                    1</label>
                <span class="stepDesc">Step 1<br />
                    <small>Step 1 description</small> </span></a></li>
            <li><a href="#step-2">
                <label class="stepNumber">
                    2</label>
                <span class="stepDesc">Step 2<br />
                    <small>Step 2 description</small> </span></a></li>
            <li><a href="#step-3">
                <label class="stepNumber">
                    3</label>
                <span class="stepDesc">Step 3<br />
                    <small>Step 3 description</small> </span></a></li>
        </ul>
        <div id="step-1">
        </div>
        <div id="step-2">
        </div>
        <div id="step-3">
        </div>
        <!-- End SmartWizard Content -->
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // Smart Wizard    	
        $('#wizard').smartWizard({
            contentURL: '/CollectionPlans/CreatePlanWizard',
            transitionEffect: 'slideleft',
            onShowStep: showAStepCallback,
            onLeaveStep: leaveAStepCallback,
            onFinish: onFinishCallback
        });

        function showAStepCallback(obj) {
            var step_num = obj.attr('rel'); // get the current step number            
            if (step_num == 1) {

            } else if (step_num == 2) {

            } else if (step_num == 3) {

            }
        };

        function leaveAStepCallback(obj) {
            debugger
            var step_num = obj.attr('rel'); // get the current step number            
            if (step_num == 1) {
                return true;
            } else if (step_num == 2) {
                return true;
            } else if (step_num == 3) {
                return true;
            }
        };

        function onFinishCallback() {
            window.location = '/CollectionPlans/';
        }
    });
</script>