@model HDMS.Models.CollectionPlan

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CollectionPlan</legend>

    <div class="display-label">CreatedDate</div>
    <div class="display-field">@String.Format("{0:dd/MM/yyyy hh:mm tt}", Model.CreatedDate)</div>

    <div class="display-label">CreatedByUserId</div>
    <div class="display-field">@Model.CreatedByUserId</div>

    <div class="display-label">AssignedDeliveryStaffId</div>
    <div class="display-field">@Model.AssignedDeliveryStaffId</div>

    <div class="display-label">StartDate</div>
    <div class="display-field">@String.Format("{0:dd/MM/yyyy hh:mm tt}", Model.StartDate)</div>

    <div class="display-label">EndDate</div>
    <div class="display-field">@String.Format("{0:dd/MM/yyyy hh:mm tt}", Model.EndDate)</div>

    <div class="display-label">CollectionStatus</div>
    <div class="display-field">@Model.CollectionStatus</div>

    <div class="display-label">Note</div>
    <div class="display-field">@Model.Note</div>

    <div class="display-label">Requests</div>
    <div class="display-field">@(Model.Requests == null ? "None" : Model.Requests.Count.ToString())</div>

    <div class="display-label">DeliveryStaff</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.DeliveryStaff).ToString()</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


