﻿@{
    ViewBag.Title = "ViewInformationOrder";
}

<link rel="stylesheet" type="text/css" href="/css/select2.css" />
<script type="text/javascript" charset="utf-8" language="javascript" src="/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf-8" language="javascript" src="/js/DT_bootstrap.js"></script>
<script src="/js/dataTables.bootstrap.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@*<script src="/js/crud.js" type="text/javascript"></script>*@
<script src="/js/form-action.js" type="text/javascript"></script>
<script src="/js/chosen.jquery.js" type="text/javascript"></script>
<link href="/css/datepicker.css" rel="stylesheet" type="text/css" />
<script src="/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="/js/date.js" type="text/javascript"></script>
<script src="/js/accounting.js" type="text/javascript"></script>
<script src="/js/jquery.numeric.js" type="text/javascript"></script>
<script>
    function showTable() {
        document.getElementById('table').style.visibility = "visible";
    }
    function hideTable() {
        document.getElementById('table').style.visibility = "hidden";
    }
</script>
<script>
    var asInitVals = new Array();
    $(function () {
        var oTable = $('#example').dataTable({
            "oLanguage": {
                "sSearch": "Search :"
            }
        });

        $("tfoot input").keyup(function () {
            /* Filter on the column (the index) of this element */
            oTable.fnFilter(this.value, $("tfoot input").index(this));
        });



        /*
        * Support functions to provide a little bit of 'user friendlyness' to the textboxes in
        * the footer
        */
        $("tfoot input").each(function (i) {
            asInitVals[i] = this.value;
        });

        $("tfoot input").focus(function () {
            if (this.className == "search_init") {
                this.className = "";
                this.value = "";
            }
        });

        $("tfoot input").blur(function (i) {
            if (this.value == "") {
                this.className = "search_init";
                this.value = asInitVals[$("tfoot input").index(this)];
            }
        });
    });
</script>
<body data-spy="scroll" data-target=".bs-docs-sidebar" id="dt_example" onload="javascript:hideTable()">
    <h2>Please enter your phone number to view order</h2>
    <div class="widget">
        <div class="widget-header">
            <div class="title">
                Tracking Order
            </div>
        </div>
        <div class="widget-body">
            <form action="javascript:void(0);" class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">
                        Phone Number :</label>
                    <div class="controls">
                        @if (ViewBag.PhoneNumber.Length != 0)
                        {
                            <input class="numeric" type="text" id="txtPhoneNumber" value="@ViewBag.PhoneNumber"/>
                        }
                        else
                        {
                            <input class="numeric" type="text" id="txtPhoneNumber" />
                        }
                        <button type="submit" class="btn btn-primary" id="btnOk">
                            Confirm</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">

            <div id="demo">
                <table cellpadding="0" cellspacing="0" border="0" class="table" id="table">
                    <thead>
                        <tr>
                            <th>Order No
                            </th>
                            <th>Order Date
                            </th>
                            <th>Status
                            </th>
                            <th>Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="success">
                            <td>1
                            </td>
                            <td>20/03/2013
                            </td>
                            <td>New
                            </td>

                            <td>
                                <a href="#myModal" role="button" class="btn btn-mini btn-success" data-toggle="modal" style="color: white;">View Detail</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-header">
            <h3 id="myModalLabel">Passcode</h3>
        </div>
        <div class="modal-body" style="text-align: center">
            <form class="form-horizontal" method="post" action="/OrderChecking/OrderChecking/ViewOrderDetails" id="passcodeForm">
                <fieldset>
                    <label>Please enter the passcode to view order detail:</label></br>
            		<input type="text" id="txtPasscode" name="txtPasscode" />
                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" id="btnSubmit">
                Ok</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">
                Cancel</button>
        </div>
    </div>
    <script type="text/javascript">
        $(".numeric").numeric({ decimal: false, negative: false }, function () { alert("Positive integers only"); this.value = ""; this.focus(); });
        $().ready(function () {
            if ($('#txtPhoneNumber').val() != "") {
                loadOrdersTable();
            }
        });
        $('#btnSubmit').click(function () {
            $('#passcodeForm').submit();
        });

        $('#btnOk').click(function (event) {
            hideTable();
            if ($('#txtPhoneNumber').val() == '') {
                bootbox.alert("Please enter phone number!");
                $('#txtPhoneNumber').focus();
                return;
            } else {
                loadOrdersTable();
            }
        });

        function loadOrdersTable() {
            $.post("/OrderChecking/OrderChecking/GetOrdersByPhone", { phoneNumber: $('#txtPhoneNumber').val() }, function (result) {
                if (result.length == 0) {
                    bootbox.alert("0 records found");
                } else {
                    var strTable = '<table cellpadding="0" cellspacing="0" border="0" class="table" id="table" width = "800px">' +
                                '<thead>' +
                                    '<tr>' +
                                        '<th>' +
                                            'Order No' +
                                        '</th>' +
                                        '<th>' +
                                            'Order Date' +
                                        '</th>' +
                                        '<th>' +
                                            'Status' +
                                        '</th>' +
                                        '<th>' +
                                            'Action' +
                                        '</th>' +
                                    '</tr>' +
                                '</thead>' +
                                 '<tbody>';
                    for (var i = 0; i < result.length; i++) {
                        strTable += '<tr class="success">' +
                                        '<td>' +
                                            result[i].OrderId +
                            '</td>' +
                                        '<td>' +
                                            result[i].CreatedDate +
                                        '</td>' +
                                        '<td>' +
                                            result[i].Status +
                            '</td>' +
                                        '<td>' +
                                            '<a href="#myModal" role="button" class="btn btn-mini btn-success" data-toggle="modal" style="color:white;">View Detail</a>' +
                                        '</td>' +
                                    '</tr>';
                    }
                    strTable += '</tbody>' +
                            '</table>';
                    $('#demo').html(strTable);
                    showTable();
                }
            });
        }
    </script>
</body>
