﻿@{
    ViewBag.Title = "AddOrderToRequest";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>CustomerOrder</title>
    <meta name="description" content="" />
    <meta name="author" content="ngocanh" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    @*    <script src="/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="/js/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/js/jquery.mousewheel.min.js"></script>*@
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&language=vi"></script>
    <script src="/js/jquery.gomap-1.3.2-edited.js" type="text/javascript"></script>
    <script src="/js/map-helper.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/css/DT_bootstrap.css" />
    <script src="/js/chosen.jquery.js" type="text/javascript"></script>
    <script src="/js/collection-plan-request-ticket.js" type="text/javascript"></script>
    <script src="/js/date.format.js" type="text/javascript"></script>
    <script src="/js/jquery.validate.js" type="text/javascript"></script>
    <script src="/js/bootbox.min.js" type="text/javascript"></script>
    <script src="/js/accounting.js" type="text/javascript"></script>
    <script src="/js/bootstrap-carousel.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/css/DT_bootstrap.css" />
    <link href="/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" charset="utf-8" language="javascript" src="/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf-8" language="javascript" src="/js/DT_bootstrap.js"></script>
    <script src="/js/dataTables.bootstrap.js" type="text/javascript"></script>
    @* <script src="js/jquery-1.8.1.min.js" type="text/javascript"></script>*@
    <script>
        var slideCounter = 1;
        !function ($) {
            $(function () {
                // carousel demo
                $('#myCarousel').carousel('pause')
            })
        }(window.jQuery)
    </script>
    <script>
        function hideWard() {
            $('.result-widget').html("");
        }

        function searchWard(chars) {
            $.post('/Ward/GetWardsFromDistrictIdAndChars', { id: $('#ddlDistrict').val(), str: $('#txtWard').val() }, function (data) {
                var strList = "<ul style='list-style: none;'>";
                for (var i = 0; i < data.wardList.length; i++) {
                    strList += '<li><a href="" onclick="fillData(' + data.WardList[i].WardName + ')">' + data.wardList[i].WardName + '</li>';
                }
                strList += '</ul>';
                $('#resultWard').html(strList);

            });
        }

        function prev() {
            if (slideCounter > 1) {
                $(".step-" + slideCounter + " a").css("background", "transparent url(/images/step.png) center right no-repeat");
                slideCounter--;
                $(".step-" + slideCounter + " a").css("background", "transparent url(/images/step_over.png) center right no-repeat");
            }
        }

        function next() {
            if (slideCounter < 3) {
                $(".step-" + slideCounter + " a").css("background", "transparent url(/images/step.png) center right no-repeat");
                slideCounter++;
                $(".step-" + slideCounter + " a").css("background", "transparent url(/images/step_over.png) center right no-repeat");
            }
        }




        //            function findLocation() {
        //                var address = $('#address').val();
        //                if (address.length == 0) return;
        //                $.post("/Buyer/Home/GetLatitudeAndLongitudeFromAddress", { address: address }, function (data) {
        //                    var content = "Name : " + data.nearestHub.Name + "<br>" +
        //                          "Dia chi:" + data.nearestHub.Address;

        //                    addMarkerHouse(data.lat, data.lon);
        //                    localStorage.setItem('HomeLat', data.lat);
        //                    localStorage.setItem('HomeLon', data.lon);
        //                    //alert(data.HubId);
        //                    addMarkerHub(data.nearestHub.Latitude, data.nearestHub.Longitude, content, false, data.nearestHub.HubId);
        //                    setTimeout(function () { goMap.panTo(new google.maps.LatLng(data.nearestHub.Latitude, data.nearestHub.Longitude)); }, 5000);
        //                    $('#ddlHubCategories').val(data.nearestHub.HubCategoryId);
        //                    var id = 8
        //                    id = data.nearestHub.HubId;
        //                    //alert(id);
        //                    changeHubCategoriesHandler(id);
        //                });
        //            }

        $().ready(function () {
            $('#optionsRadios2').trigger("click");

        });

    </script>
    <style type="text/css">
        /*body {
            font-family: Verdana, Geneva, sans-serif;
            font-size: 62.5%;
            margin: 0px;
        }*/

        .container {
            width: 810px;
            margin: 0 auto;
            font-size: 1.0em;
        }

        .steps {
            /*background: #aaa;*/
            padding: 1px 0;
            overflow: hidden;
        }

            .steps ul, .steps li {
                margin: 0;
                padding: 0;
                list-style: none;
            }

            .steps ul {
                float: left;
            }

            .steps li {
                float: left;
            }

                .steps li a {
                    display: block;
                    padding: 15px 20px;
                    background: #d0d0d0;
                    color: #fff;
                    line-height: 1.5em;
                    text-decoration: none;
                }

                    .steps li a strong {
                        font-size: 2em;
                    }

                /*.steps li a:hover {
                        background: #666;
                    }*/

                .steps li.step, .steps li.step a {
                    position: relative;
                    z-index: 3;
                }

                .steps li.step-2, .steps li.step-2 a {
                    z-index: 2;
                }

                .steps li.step-3, .steps li.step-3 a {
                    z-index: 1;
                }

                    .steps li.step-1 a, .steps li.step-2 a, .steps li.step-3 a {
                        background: transparent url(/images/step.png) center right no-repeat;
                        padding-right: 25px;
                    }

                .steps li.step-2, .steps li.step-3 {
                    margin-left: -30px;
                }

                    .steps li.step-2 a {
                        padding-left: 45px;
                    }

                    .steps li.step-3 a {
                        padding-left: 45px;
                        padding-right: 10px;
                        background-position: center left;
                    }

                .steps li.step-1 a {
                    background: transparent url(/images/step_over.png) center right no-repeat;
                }

        /*.steps li.step a:hover {
                    background: transparent url(/images/step_over.png) center right no-repeat;
                }


                .steps li.step-3 a:hover {
                    background-position: center left;
                }*/

        .table tr:hover {
        }
    </style>
    <script type="text/javascript">

        function chMd() {

            if ($('#optionsRadios1').is(":checked")) {
                //alert("radio 1 checked");
                //If user select the Direct Delivery. Enable the textField for user to enter address and any thing else
                $('.hubtype').addClass('hide');
                $('.hub').addClass('hide');
                $('.city').removeClass('hide');
                $('.district').removeClass('hide');
                $('.ward').removeClass('hide');
                $('#addnotrequired').addClass('hide')
                $('#addrequired').removeClass('hide')
                //                $('#ddlCityProvince').prop('disabled', false);
                //                $('#ddlDistrict').prop('disabled', false);
                //                $('#txtWard').prop('disabled', false);
                //                $('#txtAddress').prop('disabled', false);
                //                $('#ddlHubCategories').prop('disabled', true);
                //                $('#ddlHub').prop('disabled', true);
            }
            else {
                $('.city').addClass('hide');
                $('.district').addClass('hide');
                $('.ward').addClass('hide');
                $('.hubtype').removeClass('hide');
                $('.hub').removeClass('hide');
                $('#addnotrequired').removeClass('hide')
                $('#addrequired').addClass('hide')
                //alert("radio 2 checked");
                //                $('#ddlCityProvince').prop('disabled', true);
                //                $('#ddlDistrict').prop('disabled', true);
                //                $('#txtWard').prop('disabled', true);
                //                $('#txtAddress').prop('disabled', false);
                //                $('#ddlHubCategories').prop('disabled', false);
                //                $('#ddlHub').prop('disabled', false);
            }


        }
    </script>
    <script type="text/javascript">

        var goMap;
        var currentHub;
        var currentHouse;
        var hubsMarkerArray = new Array();
        var infowindow;
        function initialize() {
            var myLatlng = new google.maps.LatLng(10.776198, 106.632982);
            var myOptions = {
                zoom: 10,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            goMap = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
            // Biến text chứa nội dung sẽ được hiển thị
            var text;

            infowindow = new google.maps.InfoWindow(
        {
            content: text,
            size: new google.maps.Size(100, 50),
            position: myLatlng
        });
            google.maps.event.addListener(goMap, 'click', function () {
                infowindow.close();
            });

            infowindow.open(goMap);

        }

        function findLocation() {
            var address = $('#address').val();
            if (address != "") {
                if (address.indexOf("HCM") == -1 && address.indexOf("Hồ Chí Minh") == -1) {
                    address += ", Hồ Chí Minh";
                }
            }
            if (address.length == 0) return;
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    var latitude = results[0].geometry.location.lat();
                    var longitude = results[0].geometry.location.lng();
                    initialize();
                    addMarkerHouse(latitude, longitude);
                    localStorage.setItem('HomeLat', latitude);
                    localStorage.setItem('HomeLon', longitude);

                    //if radio is Hub then load the nearest hub
                    if ($('#optionsRadios2').is(":checked")) {
                        $.post("/Buyer/Home/GetNearestHubFromLatLong", { latitude: latitude, longitude: longitude }, function (data) {
                            addMarkerHub(data.nearestHub.Latitude, data.nearestHub.Longitude, "", false, data.nearestHub.HubId);
                            setTimeout(function () { goMap.panTo(new google.maps.LatLng(data.nearestHub.Latitude, data.nearestHub.Longitude)); }, 5000);
                            $('#ddlHubCategories').val(data.nearestHub.HubCategoryId);
                            $('#HubDistrictId').val(data.nearestHub.DistrictId);
                            $('#HubWardId').val(data.nearestHub.WardId);
                            $('#HubAddress').val(data.nearestHub.Address);
                            $('#HubLatitude').val(data.nearestHub.Latitude);
                            $('#HubLongitude').val(data.nearestHub.Longitude);
                            $('#HubAddressLabel').html(data.nearestHub.Address);

                            var polylineOptionsActual = new google.maps.Polyline({
                                strokeColor: '#FF0000',
                                strokeOpacity: 0.5,
                                strokeWeight: 5,
                                map: goMap
                            });
                            directions = new google.maps.DirectionsService();
                            displayer = new google.maps.DirectionsRenderer({
                                draggable: false,
                                suppressMarkers: true,
                                polylineOptions: polylineOptionsActual
                            });
                            displayer.setMap(goMap);
                            //displayer.setPanel(document.getElementById("directionsPanel"));
                            var ppt = [{ location: new google.maps.LatLng(latitude, longitude) }, { location: new google.maps.LatLng(data.nearestHub.Latitude, data.nearestHub.Longitude) }];
                            directions.route({
                                origin: new google.maps.LatLng(latitude, longitude),
                                destination: new google.maps.LatLng(data.nearestHub.Latitude, data.nearestHub.Longitude),
                                travelMode: google.maps.DirectionsTravelMode.DRIVING,
                                waypoints: ppt
                            }, function (response, status) {
                                if (status == google.maps.DirectionsStatus.OK) {
                                    displayer.setDirections(response);
                                }
                            });

                            var id = 8;
                            id = data.nearestHub.HubId;
                            changeHubCategoriesHandler(id);

                        });
                    }

                } else {
                    bootbox.alert("Sorry we can find your address please try again! Or click on map to set location by Manual!");
                }
            });


        }

        function addMarkerHouse(lat, long) {
            var myLatLng = new google.maps.LatLng(lat, long);
            currentHouse = new google.maps.Marker(
        {
            position: myLatLng,
            map: goMap, title: "House",
            animation: google.maps.Animation.DROP,
            icon: "/img/markers/home.png"
        });

            goMap.setCenter(currentHouse.getPosition());
        }

        function addMarkerHub(lat, long, content) {
            var contentString = content;
            var myLatLng = new google.maps.LatLng(lat, long);
            var currentHub = new google.maps.Marker(
        {
            position: myLatLng,
            map: goMap, title: "Hub"
        });

            google.maps.event.addListener(currentHub, 'click', function () {
                infowindow.setContent(contentString);
                infowindow.open(goMap, currentHub);
            });
            hubsMarkerArray.push(currentHub);
            return currentHub;
        }

        function addMarkerForMultipleHub(data) {
            $.each(data, function (index, dataItem) {
                var content = "Name : " + dataItem.Name + "<br>" +
                          "Dia chi:" + dataItem.Address;
                var hub = addMarkerHub(dataItem.Latitude, dataItem.Longitude, content);
                hubsMarkerArray.push(hub);
            });
        }

        function removeMarkerHouse() {
            currentHouse = null;
        }

        function removeMarkerHub() {
            currentHub = null;
        }

        function getLatLong(address) {
            var geo = new google.maps.Geocoder;

            geo.geocode({ 'address': address }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    return results[0].geometry.location;
                } else {
                    alert("Geocode was not successful for the following reason: " + status);
                }

            });
        }

        var itemIdArray = new Array();
        var quantityArray = new Array();
        var amountArray = new Array();
        function submitInfo() {
            $("#checkForm").validate({
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    phone: {
                        digits: true,
                        minlength: 10,
                        maxlength: 12,
                        required: true
                    },
                    name: "required",
                    CityProvinceId: {
                        min: 0,
                        required: true
                    },
                    DistrictId: {
                        min: 0,
                        required: true
                    },
                    //                        Ward: {
                    //                            min: 0,
                    //                            required: true
                    //                        },
                    HubCategory: {
                        min: 0,
                        required: "#optionsRadios2:checked"
                    },
                    Hub: {
                        min: 0,
                        required: "#optionsRadios2:checked"
                    },
                    address: {
                        required: "#optionsRadios1:checked"
                    }

                },
                messages: {
                    email: {
                        email: "Wrong Email",
                        required: "Required"
                    },
                    phone: {
                        digits: "Wrong format",
                        minlength: "Minimum is 10",
                        maxlength: "Maximum is 12",
                        required: "Required"
                    },
                    name: "Required",
                    CityProvinceId: {
                        min: "Required",
                        required: "Required"
                    },
                    DistrictId: {
                        min: "Required",
                        required: "Required"
                    },
                    //                        Ward: {
                    //                            required: "Please choose ward",
                    //                            min: "Please choose ward"
                    //                        },
                    Hub: {
                        required: "Required",
                        min: "Required"
                    },
                    HubCategory: {
                        required: "Required",
                        min: "Required"
                    },
                    address: "Required"

                }
            });

            $('.buy_tr').each(function (index) {
                var id = $(this).children("input[type=hidden]").val();
                //alert(id);
                itemIdArray[index] = id;

                quantityArray[index] = $("#quantity" + id).text();

                amountArray[index] = $("#amount" + id).text();

            });
            //alert("can append");
            createFormInformation(1);
            //alert("form can submit");
            //alert($('#toBeSubmit').val());
            //$('#toBeSubmit').submit();
            $('#checkForm').submit();
        }

        function createFormInformation(wardId) {
            //$('#toBeSubmit').remove();
            var customerId = $("<input>").attr("type", "hidden").attr("name", "customerId").val(getURLParameter("customerId"));
            var itemsList = $("<input>").attr("type", "hidden").attr("name", "itemsList").val(itemIdArray.toString());
            var quantitiesList = $("<input>").attr("type", "hidden").attr("name", "quantitiesList").val(quantityArray.toString());
            var pricesList = $("<input>").attr("type", "hidden").attr("name", "pricesList").val(amountArray.toString());
            var receiverName = $("<input>").attr("type", "hidden").attr("name", "receiverName").val($('#name').val());
            var receiverAddress = $("<input>").attr("type", "hidden").attr("name", "receiverAddress").val($('#address').val());
            var requestId = $("<input>").attr("type", "hidden").attr("name", "requestId").val($('#requestId').val());

            if (wardId != undefined) {
                var receiverAddressWardId = $("<input>").attr("type", "hidden").attr("name", "receiverAddressWardId").val(wardId);
            }

            var receiverAddressDistrictId = $("<input>").attr("type", "hidden").attr("name", "receiverAddressDistrictId").val($("#ddlDistrict").val());
            //alert($("#ddlDistrict").val());
            var receiverEmail = $("<input>").attr("type", "hidden").attr("name", "receiverEmail").val($('#email').val());
            var receiverPhone = $("<input>").attr("type", "hidden").attr("name", "receiverPhone").val($('#phone').val());
            var deliveryType = $("<input>").attr("type", "hidden").attr("name", "deliveryType").val("1");
            var totalPrice = $("<input>").attr("type", "hidden").attr("name", "toBeCollectedAmount").val($('#totalPrice').val());
            var hubId = $("<input>").attr("type", "hidden").attr("name", "hubId").val($('#ddlHub').val());
            //alert($('#totalPrice').val());

            //alert($('#address').val());
            var latitude = $("<input>").attr("type", "hidden").attr("name", "latitude").val(localStorage.getItem('HomeLat'));
            var longitude = $("<input>").attr("type", "hidden").attr("name", "longitude").val(localStorage.getItem('HomeLon'));
            //alert("After Home Lat");
            //alert($('#HubAddress').val());
            if ($('#optionsRadios2').is(":checked")) {
                receiverAddress = $("<input>").attr("type", "hidden").attr("name", "receiverAddress").val($('#HubAddress').val());
                receiverAddressDistrictId = $("<input>").attr("type", "hidden").attr("name", "receiverAddressDistrictId").val($('#HubDistrictId').val());
                receiverAddressWardId = $("<input>").attr("type", "hidden").attr("name", "receiverAddressWardId").val($('#HubWardId').val());
                latitude = $("<input>").attr("type", "hidden").attr("name", "longitude").val($('#HubLongitude').val());
                longitude = $("<input>").attr("type", "hidden").attr("name", "latitude").val($('#HubLatitude').val());
                deliveryType = $("<input>").attr("type", "hidden").attr("name", "deliveryType").val("2");
            }

            $('#toBeSubmit').append($(itemsList));
            $('#toBeSubmit').append($(quantitiesList));
            //alert("s1");
            $('#toBeSubmit').append($(pricesList));
            //alert("s1");
            $('#toBeSubmit').append($(receiverName));
            $('#toBeSubmit').append($(receiverAddress));
            //alert("s1");
            $('#toBeSubmit').append($(receiverAddressWardId));
            //alert("s1");
            $('#toBeSubmit').append($(receiverAddressDistrictId));
            //alert("s1");
            $('#toBeSubmit').append($(receiverEmail));
            $('#toBeSubmit').append($(requestId));

            //alert("s1");
            $('#toBeSubmit').append($(receiverPhone));
            //alert("s1");
            $('#toBeSubmit').append($(deliveryType));
            //alert("s1");
            $('#toBeSubmit').append($(totalPrice));
            //alert("s1");
            $('#toBeSubmit').append($(latitude));
            //alert("s1");
            $('#toBeSubmit').append($(longitude));

            $('#toBeSubmit').append($(customerId));
            $('#toBeSubmit').append($(hubId));
        }

        $.validator.setDefaults({
            submitHandler: function () {
                if (itemIdArray.length == 0) {
                    bootbox.alert("You should have at least one item in your cart to submit orders");
                    return;
                }
                //alert("submit form");
                $('#toBeSubmit').submit();
            }
        });

        function getURLParameter(name) {
            return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [, ""])[1].replace(/\+/g, '%20')) || null;
        }
    </script>
    <style type="text/css">
        #checkForm label.error {
            margin-left: 10px;
            width: auto;
            color: Red;
            display: inline;
        }

        #noi_dung {
            position: absolute;
            background-color: white;
            visibility: hidden;
            z-index: 100;
            border: 1px ridge #0000FF;
            padding: 10px;
            width: 200px;
            height: 150px;
            text-align: justify;
        }
    </style>
    <script type="text/javascript">
        var totalPrice = 0;
        //        function DiChuyen(iamgeUrl, des) {
        //            $('#noi_dung img').attr('src', iamgeUrl);
        //            $('#noi_dung .des').text(des);
        //            e = window.even || event;
        //            s = document.getElementById("noi_dung");
        ////            alert("clgt");
        //            s.style.top = e.clientY + 'px';
        //            s.style.visibility = 'visible';
        ////            document.title = e.clientX + ':' + e.clientY;
        //        }

        function showMouseOver(iamgeUrl, des) {
            $('#noi_dung img').attr('src', iamgeUrl);
            $('#noi_dung .des').text(des);
            e = window.even || event;
            s = document.getElementById("noi_dung");
            s.style.top = e.clientY + 'px';
            s.style.visibility = 'visible';
        }

        //        function showMouseOut() {
        //            var notice = document.getElementById("notice");
        //            notice.innerHTML = 'mouse out detected';
        //        }
        function addCart(tag) {
            var tem = $(tag).parent().parent();
            var inputFiled = tem.children("td").children("input");
            var quantity = inputFiled.val();

            var id = tem.children("input[type=hidden]").val();
            if (!isPositiveInteger(quantity)) {
                alert("Quantity must be a positive integer less than 100 !!!");
                inputFiled.focus();
                return;
            }
            if (quantity > 100) {
                alert("Quantity must be a positive integer less than 100 !!!");
                inputFiled.focus();
                return;
            }
            //            if (quantity <= 0) {
            //                alert("Quantity must be positive integer!!!");
            //                inputFiled.focus();
            //                return;
            //            }
            var flag = true;
            $('.buy_tr').each(function (index) {
                if ($(this).children("input[type=hidden]").val() == id) {
                    var quaTem = $("#quantity" + id).text();
                    var amoTem = $("#amount" + id).text();
                    var finalQuan = parseInt(quaTem) + parseInt(quantity);
                    $("#quantity" + id).text(finalQuan);
                    $("#amount" + id).text(accounting.formatNumber(finalQuan *
                            tem.children("td").eq(2).text()));
                    flag = false;
                }
            });

            if (flag) {
                var textHtml = '<tr align="center" class="buy_tr"><input class="input-mini" style="text-align:right" type="hidden" value="' +
                    tem.children("input[type=hidden]").val() +
                     '"/><td>' + tem.children("td").eq(1).text() + '</td><td style="text-align:right">' + accounting.formatNumber(tem.children("td").eq(2).text()) +
                    '</td><td style="text-align:right" id="quantity' + tem.children("input[type=hidden]").val() + '">' +
                    tem.children("td").children("input[type=text]").val() +
				'</td><td style="text-align:right"id="amount' + tem.children("input[type=hidden]").val() + '">' + accounting.formatNumber(tem.children("td").eq(2).text() * tem.children("td").children("input").val()) +
                '</td><td><button class="btn btn-danger" onclick="removeCart(this)" type="button">Remove</button></td></tr>';
                $('#tblAddCart tbody').append(textHtml);
            }
            totalPrice += tem.children("td").eq(2).text() * tem.children("td").children("input").val();

            $('#totalPrice').val(accounting.formatNumber(totalPrice));

            // alert($(tag).parent().parent().prop("tagName"))
        }
        function removeCart(tag) {
            var tem = $(tag).parent().parent();
            tem.remove();
            var tempamount = tem.children("td").eq(3).text();
            var amount = tempamount.replace(",", "").replace(",", "").replace(",", "").replace(",", "").replace(",", "").replace(",", "");

            //alert(amount);

            totalPrice = parseInt(totalPrice) - parseInt(amount);
            //alert(totalPrice);
            $('#totalPrice').val(accounting.formatNumber(totalPrice));

        }
        function isPositiveInteger(n) {
            var floatN = parseFloat(n);
            return !isNaN(floatN) && isFinite(n) && floatN > 0
      && floatN % 1 == 0;
        }
        //        function checkPhone(tag) {
        //                        var tem = $(tag);
        //                        var patt1 = /^\d{10,13}$/;
        //                        // alert($(tag).val());
        //                        if (!patt1.test($(tag).val())) {
        //                            alert("invalid!Phone must be number!!!");
        //                            $(tag).focus();
        //                        }
        //        }
        //        function checkEmail(tag) {
        //                                var tem = $(tag);
        //                                var patt1 = 
        //                                // alert($(tag).val());
        //                                if (!patt1.test($(tag).val())) {
        //                                    alert("sai");
        //                                    $(tag).focus();
        //                                }
        //        }
        $('#btnBuy').live("click", function () {
            var buyArray = new Array();
            $('.buy_tr').each(function (index) {
                var itemArray = new Array();
                itemArray.push($(this).children("input[type=hidden]").val());
                itemArray.push($(this).children("td").children("input[type=text]").val());
                buyArray.push(itemArray);
            });
            $.post('/CustomerOrder/Add', {
                buyArray: buyArray
            }, function (result) {

            });
        });


    </script>
</head>
<body onload="initialize()">
    <input type="hidden" id="HubDistrictId" />
    <input type="hidden" id="HubWardId" />
    <input type="hidden" id="HubCityId" />
    <input type="hidden" id="HubLatitude" />
    <input type="hidden" id="HubLongitude" />
    <input type="hidden" id="HubAddress" />
    <input type="hidden" id="requestId" value="@ViewBag.requestId" />
    <form id="toBeSubmit" action="/Customer/Requests/ConfirmCreateOrder" method="post">
    </form>
    <div id="noi_dung" style="margin-left: 60px; margin-top: -10px;">
        <img src="" width="100px" height="150px" /><br />
        <div class="des"></div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <img src="@ViewBag.CompanyInfo.LogoURL" width="100px" height="150px"/>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <a class="btn btn-primary" href="/Customer/requests/addorders/@ViewBag.requestId">Back to request</a>
        </div>
    </div>
    <div id="myCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">
                <div class="row-fluid">
                    <div class="span6 offset6">
                        Total Amount :<input class="input-medium" type="text" id="totalPrice" value="" style="text-align: right;" disabled="disabled">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6">
                        <div class="widget">
                            <div class="widget-header">
                                <div class="title">
                                    Menu
                                </div>
                            </div>
                            <div class="widget-body">
                                <div>
                                </div>
                                <div style="overflow-y: scroll; height: 380px;">
                                    <table class="table table-bordered" id="tableproduct">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">Image
                                                </th>
                                                <th style="text-align: center;">Name
                                                </th>
                                                <th style="text-align: center;">Price
                                                </th>
                                                <th style="text-align: center;">Quantity
                                                </th>
                                                <th style="text-align: center;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                string itemNo = "itemNo" + item.ProductId;
                                                <tr align="center">
                                                    <input class="input-mini" style="text-align:right" type="hidden" value="@item.ProductId"/>
                                                    <td valign="middle" style="width: 100px;">
                                                        <img width ="40px" height="30px"src="@item.ImageURL"onmouseover="showMouseOver('@item.ImageURL','@item.Description')" onmouseout="noi_dung.style.visibility='hidden';"/>
                                                    </td>
                                                    <td style="width: 100px">@item.Name
                                                    </td>
                                                    <td style="text-align: right; width: 100px;">
                                                        @item.ProductPrice
                                                    </td>
                                                    <td style="width: 100px;">
                                                        <input class="input-mini" style="text-align:right" type="text" value="1" id="@itemNo"/>
                                                    </td>
                                                    <td style="width: 80px;">
                                                        <button class="btn btn-info" type="button" onclick="addCart(this)">
                                                            Add</button>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div>
                            <div>
                                <div class="widget">
                                    <div class="widget-header">
                                        <div class="title">
                                            Cart Add
                                        </div>
                                    </div>
                                    <div class="widget-body">
                                        <div style="overflow-y: scroll; height: 380px;">
                                            <table class="table table-bordered" id="tblAddCart" cellpadding="0px">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: center; width: 100px;">Name
                                                        </th>
                                                        <th style="text-align: center; width: 100px;">Price
                                                        </th>
                                                        <th style="text-align: center; width: 100px;">Quantity
                                                        </th>
                                                        <th style="text-align: center; width: 100px;">Amount
                                                        </th>
                                                        <th style="text-align: center;"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span12">
                        <a class="btn btn-primary" href="#myCarousel" data-slide="next" onclick="next()">Next</a>
                    </div>
                </div>

            </div>
            <div class="item">

                <div class="row-fluid">
                    <div class="span6">
                        <div class="widget">
                            <div class="widget-header">
                                <div class="title">Customer Information</div>
                            </div>
                            <div class="widget-body">
                                <form class="form-horizontal" id="checkForm" action="" method="get">
                                    <div class="control-group">
                                        <label class="control-label" for="name">
                                            Name(*)</label>
                                        <div class="controls">
                                            <input type="text" id="name" name="name">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="phone">
                                            Phone(*)
                                        </label>
                                        <div class="controls">
                                            <input type="text" id="phone" name="phone" onchange="checkPhone(this)">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="email">
                                            Email(*)</label>
                                        <div class="controls">
                                            <input type="email" id="email" name="email" placeholder="email" />
                                        </div>
                                    </div>
                                    <div style="margin-left: 80px; font-size: 14px;">
                                        Delivery(*)&nbsp;&nbsp;&nbsp;
                                            <label class="radio inline">
                                                <input type="radio" name="optionsRadios" onclick="chMd(this);" id="optionsRadios1" value="option1">
                                                Direct
                                            </label>
                                        <label class="radio inline">
                                            <input type="radio" name="optionsRadios" onclick="chMd(this);" id="optionsRadios2" value="option2"
                                                checked>
                                            Buffer
                                        </label>
                                    </div>

                                    <div class="city control-group">
                                        <label class="control-label" for="city">
                                            City(*)</label>
                                        <div class="controls">
                                            @Html.DropDownList("CityProvinceId", ViewBag.City as SelectList, "-- Choose a City or Province --", new { id = "ddlCityProvince", Class = "chzn-select", name = "city" })
                                        </div>
                                    </div>
                                    <div class="district control-group">
                                        <label class="control-label" for="district">
                                            District(*)</label>
                                        <div class="controls">
                                            @Html.DropDownList("DistrictId", ViewBag.District as SelectList, "-- Choose a District --", new { id = "ddlDistrict", Class = "chzn-select", name = "district" })
                                        </div>
                                    </div>
                                    <div class="ward control-group">
                                        <label class="control-label" for="ward">
                                            Ward</label>
                                        <div class="controls">
                                            <input type="text" class="search" name="txtWard" id="txtWard" placeholder="Search for ward" onblur="hideWard()" onkeyup="searchWard()">
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="city">
                                            Delivery Option</label>
                                        <div class="controls">
                                            @Html.DropDownList("DeliveryOption", ViewBag.DeliveryOption as SelectList, "-- Choose a Delivery Option --", new { id = "ddlDeliveryOption", Class = "chzn-select", name = "DeliveryOption" })
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="city">
                                            Payment Type</label>
                                        <div class="controls">
                                            @Html.DropDownList("OrderPaymentTypeId", ViewBag.OrderPaymentType as SelectList, "-- Choose a Payment Type --", new { id = "ddlOrderPaymentType", Class = "chzn-select", name = "OrderPaymentType" })
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="address">
                                            Address(*)</label>
                                        <div class="controls">
                                            <input name="address" type="text" id="address" />
                                        </div>
                                    </div>


                                    <div class="hubtype hide control-group" name="">
                                        <label class="control-label" for="allHubs">
                                        </label>
                                        <div class="controls">
                                            @Html.DropDownList("HubCategory", ViewBag.HubCategories as SelectList, "-- Choose a Hub Type --", new { id = "ddlHubCategories", Class = "chzn-select" })
                                        </div>
                                    </div>
                                    <div class="hub hide control-group">
                                        <label class="control-label" for="aroundHubs">
                                            Around Hubs</label>
                                        <div class="controls">
                                            @Html.DropDownList("Hub", ViewBag.Hubs as SelectList, "-- Choose a Hub --", new { id = "ddlHub", Class = "chzn-select" })
                                        </div>
                                        <label class="control-label hide" id="HubAddressLabel">
                                        </label>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-success btn-medium" style="width: 100px;" onclick="submitInfo()">
                                            OK</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="span6">
                        <div class="widget">
                            <div class="widget-header">
                                <div class="title">Map</div>
                            </div>
                            <div class="widget-body">
                                <div id="map_canvas" style="height: 375px; width: 480px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span12">
                        <a class="btn btn-primary" href="#myCarousel" data-slide="prev" onclick="prev()">Back</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel nav -->
        @* <a class="carousel-control left" href="#myCarousel" data-slide="prev" onclick="prev()">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next" onclick="next()">&rsaquo;</a>
        </div>       *@
        <script>
            function triggerResize() {
                //google.maps.event.trigger(goMap, "resize");
                //google.maps.event.trigger(map_canvas, "resize");
            }

            setInterval(function () {
                google.maps.event.trigger(map_canvas, "resize");
            }, 200)

            function hideWard() {
                $('.result-widget').html("");
            }

            function searchWard(chars) {
                $.post('/Ward/GetWardsFromDistrictIdAndChars', { id: $('#ddlDistrict').val(), str: $('#txtWard').val() }, function (data) {
                    var strList = "<ul>";
                    for (var i = 0; i < data.wardList.length; i++) {
                        strList += '<li><a href="" data-isbn="9780545317801">' + data.wardList[i].WardName + '</li>';
                    }
                    strList += '</ul>';
                    $('#resultWard').html(strList);

                });
            }

            function changeHubCategoriesHandler() {
                var items = '<option value="-1">-- All Locations --</option>';
                $('#ddlHub').html(items);
                var hubId = -1;
                var hubLists = null;
                if (arguments[0]) {
                    hubId = arguments[0];
                }
                //alert(hubId);
                var id = $('#ddlHubCategories option:selected').val();
                if (id == '') id = -1;
                //alert(id);
                $.getJSON('/HubCategories/GetHubsByHubCategory/' + id, function (data) {
                    items = '<option value="-1">-- All Locations --</option>';
                    $.each(data, function (i, hub) {
                        items += "<option value='" + hub.HubId + "'>" + hub.Name + "</option>";
                        //alert(hub.HubId);
                    });
                    $('#ddlHub').html(items);
                    $('#ddlHub').trigger("liszt:updated");
                    $('#ddlHub').val(hubId);

                    if (hubId == -1) {
                        clearOverlays();
                        addMarkerForMultipleHub(data);
                    }

                });


            }

            hubDistrictId = -1;
            hubWardId = -1;

            $("#ddlHubCategories").change(function () {
                changeHubCategoriesHandler();
            });



            $("#ddlCityProvince").change(function (event, districtId, wardId, wardName) {
                var items = '<option value="-1">-- All Districts --</option>';
                $('#ddlDistrict').html(items);
                $('#ddlDistrict').trigger("change");
                var id = $('#ddlCityProvince option:selected').val();

                if (id == '') id = -1;
                $.getJSON('/District/GetDistrictsOfCityProvince/' + id, function (data) {
                    items = '<option value="-1">-- All Districts --</option>';
                    $.each(data, function (i, district) {
                        items += "<option value='" + district.DistrictId + "'>" + district.Name + "</option>";
                    });
                    $('#ddlDistrict').html(items);
                    $('#ddlDistrict').val(hubDistrictId);
                    if (districtId != undefined) {
                        $('#ddlDistrict').val(districtId);
                        //append information to form for submitting ?
                        $('#txtWard').val(wardName);
                    }
                    $('#ddlDistrict').trigger("liszt:updated");
                });
            });

            //            function changeHubCategoriesHandler() {
            //                var items = '<option value="-1">-- All Locations --</option>';
            //                $('#ddlHub').html(items);
            //                $('#ddlHub').trigger("change");
            //                var hubId = -1;
            //                var hubLists = null;
            //                if (arguments[0]) {
            //                    hubId = arguments[0];
            //                }
            //                var id = $('#ddlHubCategories option:selected').val();
            //                if (id == '') id = -1;
            //                alert("Hub CategoriesId :   " + id);
            //                $.getJSON('/HubCategories/GetHubsByHubCategory/' + id, function (data) {
            //                    items = '<option value="-1">-- All Locagions --</option>';
            //                    $.each(data, function (i, hub) {
            //                        items += "<option value='" + hub.HubId + "'>" + hub.Name + "</option>";
            //                        //alert(hub.HubId);
            //                    });
            //                    $('#ddlHub').html(items);
            //                    $('#ddlHub').trigger("liszt:updated");
            //                    $('#ddlHub').val(hubId);

            //                    if (hubId == -1) {
            //                        alert("Clear overlays");
            //                        clearOverlays();
            //                        addMarkerForMultipleHub(data);
            //                    }

            //                });

            //            }

            $("#ddlHubCategories").change(function () {
            initialize();
                changeHubCategoriesHandler();
            });

            $("#ddlHub").change(function () {
            var homelat = localStorage.getItem('HomeLat');
            var homelon = localStorage.getItem('HomeLon');
                removeMarkerHub();
                //alert("changed : " + $('#ddlHub option:selected').val());
                //CLEAR MOI OVERLAYS
                clearOverlays();

                //DROP LAI Pins + tu focus den pin da co
                //neu chon ddlHub la load All (id = -1)                
                var id = $('#ddlHub option:selected').val();

                if (id == -1) {
                    var hubCategoryId = $('#ddlHubCategories option:selected').val();
                    $.getJSON("/HubCategories/GetHubsByHubCategory/" + hubCategoryId, function (data) {
                        addMarkerForMultipleHub(data);
                    });
                } else {
                    $.getJSON('/Hubs/Find/' + id, function (data) {
                        //alert(data);
                        var content = "Name : " + data.Name + "<br>" +
                          "Dia chi:" + data.Address;
                        $('#HubDistrictId').val(data.DistrictId);
                        $('#HubWardId').val(data.WardId);
                        $('#HubLatitude').val(data.Latitude);
                        $('#HubLongitude').val(data.Longitude);
                        $('#HubAddress').val(data.Address);
                        $('#HubAddressLabel').html(data.Address);
                        //change dropdownlist value to match the value in HUb
                        //$('#ddlCityProvince').val("1"); //fixed to Ho Chi Minh city                    
                        //$('#ddlCityProvince').trigger("change", [data.DistrictId, data.WardId, data.WardName]);
                        //$('#ddlWard').val(hubWardId);
                    initialize();
                        addMarkerHub(data.Latitude, data.Longitude, content, true, data.HubId);
                    addMarkerHouse(homelat, homelon);

                    var polylineOptionsActual = new google.maps.Polyline({
                        strokeColor: '#FF0000',
                        strokeOpacity: 0.5,
                        strokeWeight: 5,
                        map: goMap
                    });
                    directions = new google.maps.DirectionsService();
                    displayer = new google.maps.DirectionsRenderer({
                        draggable: false,
                        suppressMarkers: true,
                        polylineOptions: polylineOptionsActual
                    });
                    displayer.setMap(goMap);
                    //displayer.setPanel(document.getElementById("directionsPanel"));
                    var ppt = [{ location: new google.maps.LatLng(homelat, homelon) }, { location: new google.maps.LatLng(data.Latitude, data.Longitude) }];
                    directions.route({
                        origin: new google.maps.LatLng(homelat, homelon),
                        destination: new google.maps.LatLng(data.Latitude, data.Longitude),
                        travelMode: google.maps.DirectionsTravelMode.DRIVING,
                        waypoints: ppt
                    }, function (response, status) {
                        if (status == google.maps.DirectionsStatus.OK) {
                            displayer.setDirections(response);
                        }
                    });
                    });
                }

            });


            $("#ddlCityProvince").change(function () {
                var items = '<option value="-1">-- All Districts --</option>';
                $('#ddlDistrict').html(items);
                $('#ddlDistrict').trigger("change");
                var id = $('#ddlCityProvince option:selected').val();

                if (id == '') id = -1;
                $.getJSON('/District/GetDistrictsOfCityProvince/' + id, function (data) {
                    items = '<option value="-1">-- All Districts --</option>';
                    $.each(data, function (i, district) {
                        items += "<option value='" + district.DistrictId + "'>" + district.Name + "</option>";
                    });
                    $('#ddlDistrict').html(items);
                    $('#ddlDistrict').trigger("liszt:updated");
                });
            });

            $("#ddlDistrict").change(function () {
                var items = '<option value="-1">-- All Wards --</option>';
                $('#ddlWard').html(items);
                $('#ddlWard').trigger("change");
                var id = $('#ddlDistrict option:selected').val();
                if (id == '') id = -1;
                $.getJSON('/Ward/GetWardsOfDistrict/' + id, function (data) {
                    items = '<option value="-1">-- All Wards --</option>';
                    $.each(data, function (i, ward) {
                        items += "<option value='" + ward.WardId + "'>" + ward.Name + "</option>";
                    });
                    $('#ddlWard').html(items);
                });
            });

            $('#address').blur(function () {
                findLocation();
            });

            function clearOverlays() {
                //alert("HubMarker Array:" + hubsMarkerArray);
                if (hubsMarkerArray.length > 0) {
                    for (var i = 0; i < hubsMarkerArray.length; i++) {
                        hubsMarkerArray[i].setMap(null);
                    }
                }
            }


            var setupDataTable = function () {
                $('#tableproduct').dataTable({
                    "bRetrieve": true,
                    "sDom": "<''f>t",
                    "aaSorting": [],
                    "bAutoWidth": true,
                    "aoColumns": [
                                    null,
                                    null,
                                    null,
                                    null,
                                    null
                    ],
                    "aaSorting": [[2, "asc"]]
                });
            };

            $(document).ready(function () {
                setupDataTable();
            $('#myCarousel').carousel('pause')
            });

        </script>
</body>
</html>
