﻿@model IEnumerable<SMDH.Models.Request>
@using System.Text.RegularExpressions;
@{ 
    Layout = null;
}
<table class="table table-striped table-bordered" id="main-table">
    <thead>
        <tr>
            <th>
                Request No.
            </th>
            <th>
                Requested Date
            </th>
            <th>
                Orders
            </th>
            <th>
                Collection Address
            </th>
            <th>
                Status
            </th>
            <th>
                Note
            </th>
            <th>
                Price
            </th>
            <th class="tbl-action-col">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    #@item.RequestId
                </td>
                <td>
                    @if (item.RequestedDate != null)
                    {
                        @String.Format("{0:dd/MM/yyyy hh:mm tt}", item.RequestedDate)
                    }
                </td>              
                <td>
                    @item.Orders.Count
                </td>                
                <td>@item.CustomerAddress.FullAddress
                </td>
                <td style="min-width: 65px;">
                    @Regex.Replace(item.Status.ToString(), "(\\B[A-Z])", " $1")
                    @if (item.Status == SMDH.Models.Statuses.RequestStatus.Draft)
                    {
                        <a class="update btn action" href="/Customer/Requests/AddOrders/@item.RequestId">
                            <i class="icon icon-pencil"></i></a>   
                    }
                </td>
                <td>
                    @if (!string.IsNullOrWhiteSpace(item.Note))
                    {
                        @item.Note
                    }
                    else
                    {
                        <text>None</text>
                    }
                </td>
                <td>
                     @(String.Format("{0,12:N0}", item.Orders.Sum(o => o.Fee))) VND
                </td>
                <td>
                     <div class="btn-group">
                              <button data-toggle="dropdown" class="btn btn-mini dropdown-toggle">
                                Action 
                                <span class="caret">
                                </span>
                              </button>
                              <ul class="dropdown-menu">
                                <li>
                                  <a href="/Customer/Requests/Details/@item.RequestId" >
                                    View
                                  </a>
                                </li>
                            @if (item.Status == SMDH.Models.Statuses.RequestStatus.Draft)
                            {
                                <li>
                                    <a href="#" onclick="cancelRequest(@item.RequestId);">
                                        Cancel
                                    </a> 
                                </li>
                            }              

                            @if (item.Status == SMDH.Models.Statuses.RequestStatus.Pricing)
                            {
                                <li>
                                    <a href="#" onclick="approveRequest(@item.RequestId);">
                                        Approve
                                    </a> 
                                </li>
                                
                                <li>
                                    <a href="#" onclick="rejectRequest(@item.RequestId);">
                                        Reject for Repricing
                                    </a> 
                                </li>     
                                <li>
                                    <a href="#" onclick="cancelRequest(@item.RequestId);">
                                        Cancel
                                    </a> 
                                </li>                           
                            }              
                     </ul>
                 </div>        
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="control-group">
    <div class="controls">      
      @if (ViewBag.ApproveAllDisplay)
      {
          <button type="submit" class="btn btn-success" id="btnApproveAll">Approve All</button>
      }      
    </div>
  </div>
  <script type="text/javascript">
      $('#btnApproveAll').click(function () {
          $.post("/Customer/Requests/ApproveAll", function (data) {
              if (data.success) {
                  window.location.reload();
              } else {
                  bootbox.alert("Can't approve all");
              }
          });
      });
  </script>