﻿@model SportsStore.Domain.Entities.Cart
@{ 
    Layout = null; 
} 
 
<div id="cart"> 
    <span class="caption"> 
        <b>Your cart:</b> 
        @Model.Lines.Sum(x => x.Quantity) item(s),   
        @Model.ComputeTotalValue().ToString("c") 
    </span> 
         
          
    @Html.ActionLink("Checkout", "Index", "Cart",  
        new { returnUrl = Request.Url.PathAndQuery }, null)   
</div> 