﻿@model HDMS.Models.Request
@using HDMS.Models.Statuses
@using HDMS.Models
@{
    ViewBag.Title = "Add Orders to Request";
    ViewBag.Heading = "Add Orders to Request";
}
@if (false)
{ 
    <script src="/js/jquery-1.8.2-vsdoc.js" type="text/javascript"></script>
}
<script src="/js/form-action.js" type="text/javascript"></script>
<script src="/js/chosen.jquery.js" type="text/javascript"></script>
<script src="/js/order-item-ticket.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="requestDetails" id="addOrders">
    <div id="companyInfo" class="green-bordered">
        <div class="pull-left">
            <strong>Customer: &nbsp;&nbsp;</strong>@Model.Customer.DisplayName
        </div>
        <div class="pull-left">
            <strong>Request Number: &nbsp;&nbsp;</strong>#@Model.RequestId
        </div>
        <div class="pull-left">
            <strong>Note: &nbsp;&nbsp;</strong>
            @if (string.IsNullOrWhiteSpace(Model.Note))
            {
                <text>None</text>
            }
            else
            {
                <text>@Model.Note</text>
            }
        </div>
        <div class="pull-left">
            <strong>Collection Address: &nbsp;&nbsp;</strong>@Model.CustomerAddress.FullAddress
        </div>
        <div style="clear: both;">
        </div>
    </div>
    <div class="tabbable tabs-left" id="orders-items">
        <div class="span7" style="margin-bottom: 3px;">
            <a href="javascript:void(0)" role="button" class="btn btn-success" data-toggle="modal" onclick="openCreateOrderModal(@Model.RequestId)">
                Add new Order</a></div>
        <ul class="span7 nav nav-tabs" id="order-list">
            @foreach (var order in Model.Orders.Where(o => o.Status != OrderStatus.Canceled))
            {
                <li id="order-@order.OrderId">
                    <div class="ticket-container span12 ticket order-ticket @if(order.Status == OrderStatus.Rejected){<text>rejected</text>}">
                        @if(order.Status == OrderStatus.Rejected)
                        {
                            <div class="row-fluid rejected-header" style="background:#000;color:#fff;text-align:center;">
                                Rejected
                            </div>
                        }
                        <div class="order-ticket-info">
                            <div class="row-fluid">
                                <div class="column">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            <span class="myToolTip" rel="tooltip" title="Order Number"style="font-size: 15px;
                                            color: #969696">#</span>
                                        </dt>
                                        <dd class="order-number">
                                            @order.OrderId</dd>
                                    </dl>
                                </div>
                                <div class="column">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            <img src="/img/icons/user.png" class="myToolTip" rel="tooltip" title="Receiver Name" width="15px" />
                                        </dt>
                                        <dd class="receiver-name">
                                            @order.ReceiverName</dd>
                                    </dl>
                                </div>
                                <div class="column">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            <img src="/img/icons/phone.png" class="myToolTip" rel="tooltip" title="Receiver Phone" width="15px" />
                                        </dt>
                                        <dd class="receiver-phone">
                                            @order.ReceiverPhone</dd>
                                    </dl>
                                </div>
                                <div class="column">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            <img src="/img/icons/info.png" class="myToolTip" rel="tooltip" title="Properties" width="15px" />
                                        </dt>
                                        <dd class="properties">
                                            <span class="label label-success">@order.DeliveryOption.Name</span> <span class="label label-info">@order.OrderPaymentType.Name</span>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="column">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            <img src="/img/icons/bill.png" class="myToolTip" rel="tooltip" title="Amount to collect" width="15px" />
                                        </dt>
                                        <dd class="amount-to-be-collected">
                                            @order.AmountToBeCollectedFromReceiver VNĐ</dd>
                                    </dl>
                                </div>
                                <div class="column">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            <img src="/img/icons/notepencil32.png" class="myToolTip" rel="tooltip" title="Note" width="15px" />
                                        </dt>
                                        <dd class="note">
                                            @if (string.IsNullOrWhiteSpace(order.Note))
                                            {
                                                <text>None</text>        
                                            }
                                            else
                                            {
                                                @order.Note
                                            }
                                        </dd>
                                    </dl>
                                </div>
                                <div class="column">
                                    <dl class="dl-horizontal">
                                        <dt><span class="myToolTip" rel="tooltip" title="Receiver Address" style="font-size: 15px;
                                            color: #969696">@@</span></dt>
                                        <dd class="full-address">
                                            @order.FullAddress</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="ticket-btn-group">
                            <a href="#" onclick="cancelOrder(@order.OrderId)" role="button" class="deleteOrder btn action" data-toggle="modal" class="myToolTip" rel="tooltip" title="Cancel Order">
                                <img src="/img/icons2/cross.png" alt="Cancel Order" width="15">
                            </a><a href="#" onclick="editOrder(@order.OrderId)" role="button" class="editOrder btn action" data-toggle="modal" class="myToolTip" rel="tooltip" title="Edit Order">
                                <img src="/img/icons2/pencil.png" alt="Edit Order" width="15">
                            </a><a href="#" onclick="createItemFor(@order.OrderId)" role="button" class="createItem btn action" data-toggle="modal" class="myToolTip" rel="tooltip" title="Add New Item">
                                <img src="/img/icons2/add.png" alt="Add New Item" width="15" />
                            </a>
                        </div>
                    </div>
                </li>
            }
        </ul>
        <div class="tab-content" id="tab-items" style="margin-top: 30px;">
            @foreach (var order in Model.Orders.Where(o => o.Status != OrderStatus.Canceled))
            {            
                <div class="tab-pane" id="tab-order-@order.OrderId">
                    <ul>
                        @if (order.Items.Count == 0)
                        {
                            <li class="no-item">There is no item in this order.</li>
                        }
                        else
                        {
                            foreach (var item in order.Items)
                            {
                            <li id="item-@item.ItemId">
                                <div class="ticket-container span12 ticket item-ticket">
                                    <div class="row-fluid">
                                        <div class="column left-column">
                                            <dl class="dl-horizontal">
                                                <dt>
                                                    <img src="/img/icons/box.png" alt="Product" title="Product" width="15" /></dt>
                                                <dd class="item-name">
                                                    @item.Name</dd>
                                                <dt>
                                                    <img src="/img/icons/font_size.png" alt="Size" title="Size" width="15" /></dt>
                                                <dd class="size">
                                                    @item.Size</dd>
                                            </dl>
                                        </div>
                                        <div class="column center-column">
                                            <dl class="dl-horizontal">
                                                <dt>
                                                    <img src="/img/icons/chart_bar.png" alt="Quantity" title="Quantity" width="15" /></dt>
                                                <dd class="quantity">
                                                    @item.Quantity</dd>
                                                <dt>
                                                    <img src="/img/icons/gram_weight.png" alt="Weight" title="Weight" width="15" />
                                                </dt>
                                                <dd class="weight">
                                                    @item.Weight</dd>
                                            </dl>
                                        </div>
                                        <div class="column right-column">
                                            <dl class="dl-horizontal">
                                                <dt>
                                                    <img src="/img/icons/info.png" title="Properties" width="15px" /></dt>
                                                <dd class="properties">
                                                    @if (!item.IsFragile && !item.HasHighValue)
                                                    { <text>None</text> }
                                                    @if (item.IsFragile)
                                                    {<span class="label label-success">Fragile</span><text>&nbsp;</text>
                                                    }
                                                    @if (item.HasHighValue)
                                                    {<span class="label label-info">High Value</span><text>&nbsp;</text>}
                                                </dd>
                                                <dt>
                                                    <img src="/img/icons/notepencil32.png" title="Description" width="15px" />
                                                    <dd class="note">
                                                        @if (string.IsNullOrWhiteSpace(item.Note))
                                                        {
                                                            <text>None</text>
                                                        }
                                                        else
                                                        {
                                                            @item.Note
                                                        }
                                                    </dd>
                                            </dl>
                                        </div>                                        
                                        <div class="ticket-btn-group">
                                            <a href="#" onclick="cancelItem(@item.ItemId)" role="button" class="deleteItem btn action" data-toggle="modal">
                                                <img src="/img/icons2/cross.png" alt="Delete" title="Delete" width="15">
                                            </a><a href="#" onclick="editItem(@item.ItemId)" role="button" class="editItem btn action" data-toggle="modal">
                                                <img src="/img/icons2/pencil.png" alt="Edit" title="Edit" width="15">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            }
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</div>
<a href="#" role="button" class="btn btn-primary pull-right" data-toggle="modal"
    onclick="submitRequest(@Model.RequestId)">Submit Request</a>
<!-- Begin Modal-->
<div class="modal hide fade" id="mainModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
</div>
<!-- End Modal -->
<script>
    setupOrderTicket();

    var openCreateOrderModal = function (requestId) {
        $.post('/Orders/Create/', { requestId: requestId }, function (data) {
            $('#mainModal').html(data);
            refreshValidation();
            $('.editor-field').keypress(function (e) {
                if (e.which == 13) {
                    $(this).parents('form').submit();
                    e.preventDefault();
                    return false;
                }
            });
            $('#mainModal').modal();
        });
    };

    var submitRequest = function (id) {
        if ($('#order-list > li').length == 0) {
            bootbox.alert('No order added yet');
            return;
        }
        if ($('#tab-items .tab-pane .no-item').length) {
            bootbox.alert('One or more orders contain no item.');
            return;
        }
        $.post('/Request/Submit/' + id, function (result) {
            $.blockUI();
            if (result.success) window.location = '/Request';
            else bootbox.alert('There was error processing this request. Please try refresh and try again.');
        });
    };

    $('.order-ticket-info').css('width', $('.order-ticket:first-child').css('width'));
    $(window).resize(function () {
        $('.order-ticket-info').css('width', $('.order-ticket:first-child').css('width'));
    });
</script>
