﻿<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from utopiaadmin.themio.net/dashboard.html by HTTrack Website Copier/3.x [XR&CO'2010], Fri, 05 Oct 2012 13:00:19 GMT -->
<head>
    <meta charset="utf-8" />
    <title>TicTac Delivery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A complete admin panel theme" />
    <meta name="author" content="TicTac" />
    <link href="/css/metro-ui.css" rel="stylesheet" type="text/css" />
    <link href="/css/utopia-white.css" rel="stylesheet" />
    <link href="/css/utopia-responsive.css" rel="stylesheet" />
    @*<link href="/css/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />*@
    @*<link href="/css/weather.css" rel="stylesheet" type="text/css" />*@
    <link href="/css/gallery/modal.css" rel="stylesheet" />
    <link href="/css/validationEngine.jquery.css" rel="stylesheet" type="text/css" />
    <link href="/css/chosen.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/css/ie.css" rel="stylesheet" />
    <link href="/css/customized-bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script src="/js/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/jquery.cookie.js"></script>
    <script src="/js/jquery.blockUI.js" type="text/javascript"></script>
    <script src="/js/bootbox.min.js" type="text/javascript"></script>
    <script src="/js/jquery.noty.js" type="text/javascript"></script>
    <script src="/js/topRight.js" type="text/javascript"></script>
    <script src="/js/default.js" type="text/javascript"></script>
    <script>
        if ($.cookie("css")) { $('link[href*="utopia-white.css"]').attr("href", $.cookie("css")); $('link[href*="utopia-dark.css"]').attr("href", $.cookie("css")); $('link[href*="utopia-wooden.css"]').attr("href", $.cookie("css")) } $(document).ready(function () { $(".theme-changer a").live("click", function () { $('link[href*="utopia-white.css"]').attr("href", $(this).attr("rel")); $('link[href*="utopia-dark.css"]').attr("href", $(this).attr("rel")); $('link[href*="utopia-wooden.css"]').attr("href", $(this).attr("rel")); $.cookie("css", $(this).attr("rel"), { expires: 365, path: "/" }); $(".user-info").removeClass("user-active"); $(".user-dropbox").hide() }) });

        $(document).ready(function () {
            var block = function () { $.blockUI({ message: 'processing...' }) };
            $(document).ajaxStart(block).ajaxStop($.unblockUI);

            $('.myToolTip').tooltip();
        });
    </script>
    <!--[if IE 8]>
        <link href="/css/ie8.css" rel="stylesheet" />
        <![endif]-->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if gte IE 9]>
        <style type="text/css">.gradient{filter:none}</style>
        <![endif]-->
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="header-top">
                    <div class="header-wrapper">
                        <a href="/" class="utopia-logo">
                            <img src="/img/TicTacDelivery-logo.png" alt="TicTac Delivery" height="50px" /></a>
                        <div class="header-right">
                            <div class="header-divider">
                                &nbsp;</div>
                            <div class="user-panel header-divider">
                                @Html.Partial("_LogOnPartial")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span2 sidebar-container">
                <div class="sidebar">
                    <div class="navbar sidebar-toggle">
                        <div class="container">
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                                class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                            </a>
                        </div>
                        <div class="nav-collapse collapse leftmenu">
                            <ul>
                                <li><a class="@*dashboard smronju*@" href="/Home" ><span>@*<i class="icon-search icon-white">
                                </i>*@ Dashboard</span></a></li>
                                <li><a class="" href="/CollectionPlans"><span>Collection Plans</span></a> </li>
                                <li><a class="" href="/DeliveryPlans"><span>Delivery Plans</span></a> </li>
                                <li><a href="/Request" class=""><span>Requests</span></a></li>
                                <li><a href="/Orders" class=""><span>Orders</span></a></li>
                                <li><a class="" href="/Customers"><span>Customers</span></a></li>
                                @*<li><a href="/CustomerPayments" class=""><span>Customer Payments</span></a></li>*@
                                <li><a class="" href="javascript:void(0)" title="Configuration"><span>Configuration</span></a>
                                    <ul class="dropdown">
                                        <li><a href="#" class=""><span>Region</span></a>
                                            <ul class="dropdown">
                                                <li><a href="/CityProvince" class=""><span>Cities/Provinces</span></a></li>
                                                <li><a href="/District" class=""><span>Districts</span></a></li>
                                                <li><a href="/Ward" class=""><span>Wards</span></a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/CustomerPaymentTypes" class=""><span>Customer Payment Types</span></a></li>
                                        <li><a href="/OrderPaymentTypes" class=""><span>Order Payment Types</span></a></li>
                                        <li><a href="/DeliveryOptions" class=""><span>Delivery Options</span></a></li>
                                    </ul>
                                </li>
                                <li><a class="" href="javascript:void(0)"><span>Temp screen</span></a>
                                    <ul class="dropdown">
                                        <li><a href="/Temp/Maps" class=""><span>Maps</span></a></li>
                                        <li><a href="/CRCustomer" class="elements"><span>Request Customer</span></a></li>
                                        <li><a href="/PieReport/" class=""><span>Orders Per District Report</span></a></li>
                                        <li><a href="/User/" class=""><span>User</span></a></li>
                                    </ul>
                                </li>
                                @*<li><a class="charts" href="charts.html" title="Graphs &amp; Charts"><span>Charts</span></a></li>
                                <li><a class="barcode" href="barcode.html" title="Barcode"><span>Barcode</span></a></li>
                                <li>
                                    <a class="editor" href="javascript:void(0)" title="Forms"><span>Forms</span></a>
                                    <ul class="dropdown">
                                        <li><a class="simple smronju" href="forms.html" title="Form Elements"><span>Form Element</span></a></li>
                                        <li><a class="wizard-form smronju" href="wizard_form.html" title="Wizard Form"><span>Wizard Form</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="gallery" href="javascript:void(0)" title="Galleries"><span>Galleries</span></a>
                                    <ul class="dropdown">
                                        <li><a class="fluidgallery" href="fluid_galleries.html" title="Fluid Gallery"><span>Fluid Gallery</span></a></li>
                                        <li><a class="slidergallery" href="mixed_galleries.html" title="Mixed Gallery"><span>Mixed Gallery</span></a></li>
                                        <li><a class="videogallery" href="video_galleries.html" title="Video Gallery"><span>Video Gallery</span></a></li>
                                    </ul>
                                </li>
                                <li><a class="grid" href="grid.html" title="Grid"><span>Grid</span></a></li>
                                <li><a class="calendar" href="calendar.html" title="Calendar"><span>Calendar</span></a></li>
                                <li><a class="icons" href="icons.html" title="Icons"><span> Icons</span></a></li>
                                <li><a class="chat" href="conversation.html" title="Conversation"><span>Conversation</span></a></li>
                                <li><a class="error" href="error.html" title="Error Page"><span>Error Page</span></a></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span10 body-container">
                @RenderBody()
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/utopia.js"></script>
    @*<script type="text/javascript" src="/js/jquery.hoverIntent.min.js"></script>
        <script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="/js/jquery.datatable.js"></script>
        <script type="text/javascript" src="/js/tables.js"></script>
        <script type="text/javascript" src="/js/jquery.sparkline.js"></script>
        <script type="text/javascript" src="/js/jquery.vticker-min.js"></script>
        <script type="text/javascript" src="/js/ui/datepicker.js"></script>
        <script type="text/javascript" src="/js/upload/load-image.min.js"></script>
        <script type="text/javascript" src="/js/upload/image-gallery.min.js"></script>
        <script type="text/javascript" src="/js/jquery.simpleWeather.js"></script>
        <script src="/js/jquery.validationEngine.js" type="text/javascript"></script>
        <script src="/js/jquery.validationEngine-en.js" type="text/javascript"></script>
        <script type="text/javascript" src="/js/maskedinput.js"></script>
        <script type="text/javascript" src="/js/chosen.jquery.js"></script>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAeTbCOpuPIKT4i9n8iUQsBHNUt_MWjtog&amp;sensor=false"></script>
        <script type="text/javascript" src="/js/gmap3.js"></script>*@
    <script src="/js/header.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/sidebar.js"></script>
</body>
<!-- Mirrored from utopiaadmin.themio.net/dashboard.html by HTTrack Website Copier/3.x [XR&CO'2010], Fri, 05 Oct 2012 13:03:23 GMT -->
</html>
