@{
    ViewBag.Title = "Dashboard";
    ViewBag.Heading = "Dashboard";
}

<div class="row-fluid">
    <div class="span4">
        <div class="reminder">
            <h4>
                Requests
            </h4>
            <ul>
                <li class="clearfix">
                    <span class="number">7</span> <span class="txt">Draft</span> <a class="btn btn-warning">
                        view</a> </li>
                <li class="clearfix">
                    <span class="number">3</span> <span class="txt">New</span><a class="btn btn-warning">
                        view</a> </li>
                <li class="clearfix">
                    <span class="number">5</span> <span class="txt">Approved</span><a class="btn btn-warning">
                        view</a> </li>
                <li class="clearfix">
                    <span class="number">13</span> <span class="txt">Planned for collecting</span> <a class="btn btn-warning">
                        view</a> </li>
                <li class="clearfix">
                    <span class="number">2</span> <span class="txt">Collected</span><a class="btn btn-warning">
                        view</a> </li>
                <li class="clearfix">
                    <span class="number">2</span> <span class="txt">Delivered</span><a class="btn btn-warning">
                        view</a> </li>
                <li class="clearfix">
                    <span class="number">2</span> <span class="txt">Canceled</span><a class="btn btn-warning">
                        view</a> </li>
            </ul>
        </div>
        <!-- End .reminder -->
    </div>
    <!-- End .span4 -->
</div>
