﻿@{
    ViewBag.Title = "ManageRequest";
}

<div class="page-header">
    <h2>Manage Request</h2>
    <link rel="stylesheet" type="text/css" href="/css/DT_bootstrap.css" />
    <script type="text/javascript" charset="utf-8" language="javascript" src="/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf-8" language="javascript" src="/js/DT_bootstrap.js"></script>
    <div id="Div1" class="dataTables_wrapper form-inline" role="grid">
        <div class="DTTT btn-group">
            <a href="#create" role="button" data-toggle="modal" class="btn DTTT_button_text"
                id="ToolTables_example_0"><span>New</span></a> <a class="btn DTTT_button_text disabled"
                    id="ToolTables_example_1"><span>Edit</span></a> <a class="btn DTTT_button_text disabled"
                        id="ToolTables_example_2"><span>Delete</span></a>
        </div>
        <div class="dataTables_filter" id="example_filter">
            <label>
                Search:
                <input type="text" aria-controls="example"></label>
        </div>
        <!-- Begin Table -->
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable"
            id="Table1" aria-describedby="example_info">
            <thead>
                <tr role="row">
                    <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="example"
                        rowspan="1" colspan="1" style="width: 30%;" aria-sort="ascending" aria-label="Company Name">
                        Company Name
                    </th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1"
                        colspan="1" style="width: 50%;" aria-label="Collection Address">
                        Collection Address
                    </th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1"
                        colspan="1" style="width: 50%;" aria-label="Request Date">
                        Request Date
                    </th>                    
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1"
                        colspan="1" style="width: 20%;" aria-label="Status">                        
                    </th>
                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
                <tr class="gradeA odd">
                    <td class="  sorting_1">
                        Shop Thanh Long
                    </td>
                    <td class=" ">
                        245, Lê Đức Thọ, Q Gò Vấp, Hồ Chí Minh
                    </td>
                    <td class=" ">
                        26/09/2012
                    </td>                    
                    <td class=" ">
                        <button class="btn" type="button">Activate</button>
                    </td>
                </tr>
                <tr class="gradeA even">
                    <td class="  sorting_1">
                        Shop Bạch Hổ
                    </td>
                    <td class=" ">
                        15, Tô Ký, Q 12, Hồ Chí Minh
                    </td>
                    <td class=" ">
                        25/09/2012
                    </td>                    
                    <td class=" ">
                        <button class="btn" type="button">Deactivate</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- End Table -->
        <div class="row-fluid">
            <div class="span6">
                <div class="dataTables_info" id="Div4">
                    Showing 1 to 10 of 57 entries</div>
            </div>
            <div class="span6">
                <div class="dataTables_paginate paging_bootstrap pagination">
                    <ul>
                        <li class="prev disabled"><a href="#">← Previous</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li class="next"><a href="#">Next → </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Begin Modal -->
<div class="modal hide fade" id="create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×</button>
        <h3 id="myModalLabel">
            Create new Request</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="Company Name">
                    Company Name</label>
                <div class="controls">
                    <select>
                        <option value="">--Choose Company Name--</option>
                        <option value="">Shop Thanh Long</option>
                        <option value="">Shop Bạch Hổ</option>
                    </select>  
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Collection Address">
                    Collection Address</label>
                <div class="controls">
                    <select>
                        <option value="">--Choose Collection Address--</option>
                        <option value="">245, Lê Đức Thọ, Q Gò Vấp</option>
                        <option value="">15, Tô Ký, Q 12</option>
                        <option value="">165, Phan Đình Phùng, Q Phú Nhuận</option>
                    </select>
                </div>
            </div>                        
            <div class="control-group">
                <label class="control-label" for="Description">
                    Description</label>
                <div class="controls">
                    <textarea rows="3"></textarea>
                </div>
            </div>            
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            Close</button>
        <button class="btn btn-primary">
            Create</button>
    </div>
</div>
<!-- End Modal -->
