﻿@model HDMS.Models.Request
@using HDMS.Models.Statuses
@using HDMS.Models
@using System.Text.RegularExpressions;
@{
    ViewBag.Title = "Request Details";
    ViewBag.Heading = "Request Details";
}
@if (false)
{ 
    <script src="/js/jquery-1.8.2-vsdoc.js" type="text/javascript"></script>
}
<script src="/js/form-action.js" type="text/javascript"></script>
<script src="/js/chosen.jquery.js" type="text/javascript"></script>
<script src="/js/order-item-ticket.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<link href="/css/datepicker.css" rel="stylesheet" type="text/css" />
<script src="/js/bootstrap-datepicker.js" type="text/javascript"></script>
<link href="/css/timepicker.css" rel="stylesheet" type="text/css" />
<script src="/js/bootstrap-timepicker.js" type="text/javascript"></script>
<div class="requestDetails">
    <div id="companyInfo" class="green-bordered">
        <div style="clear: both;">
        </div>
        <div class="row-fluid" id="request-summary">
            <div class="col-left" style="width:30%;min-width:250px;float:left">
                <dl class="dl-horizontal">
                    <dt>Request Number:</dt>
                    <dd>
                        #@Model.RequestId</dd>
                    <dt>Customer:</dt>
                    <dd>@Model.Customer.DisplayName</dd>
                    <dt>Requested Date:</dt>
                    <dd>@string.Format("{0:dd/MM/yyyy hh:mm tt}", Model.RequestedDate)</dd>
                    <dt>Status:</dt>
                    <dd>
                        <span class="label label-warning">@Regex.Replace(Model.Status.ToString(), "(\\B[A-Z])", " $1")</span><text>&nbsp;</text></dd>
                </dl>
            </div>
            <div class="col-center" style="width:25%;min-width:200px;float:left">
                <dl class="dl-horizontal">
                    <dt>Number of orders:</dt>
                    <dd>@Model.ValidOrders.Count</dd>
                    <dt>Number of items:</dt>
                    <dd>@Model.NumberOfItems</dd>
                    <dt>Total fee:</dt>
                    <dd id="totalFee">@Model.TotalFee VNĐ</dd>
                </dl>
            </div>
            <div class="col-right" style="width:44%;min-width:400px;float:left">
                <dl class="dl-horizontal">
                    <dt>Total amount to collect:</dt>
                    <dd>@Model.TotalAmountToBeCollected VNĐ</dd>
                    <dt>Note:</dt>
                    <dd>
                        @if (string.IsNullOrWhiteSpace(Model.Note))
                        {
                            <text>None</text>
                        }
                        else
                        {
                            <text>@Model.Note</text>
                        }
                    </dd>                    
                    <dt>Collection Address:</dt>
                    <dd>@Model.CustomerAddress.FullAddress</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="tabbable tabs-left" id="orders-items">
        <ul class="span7 nav nav-tabs" id="order-list">
            @foreach (var order in Model.Orders.Where(o => o.Status != OrderStatus.Canceled))
            {
                <li id="order-@order.OrderId">
                    <div class="ticket-container span12 ticket order-ticket">
                        <div class="order-ticket-info">
                            <div class="row-fluid">
                                <div class="column">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            <span class="myToolTip" rel="tooltip" title="Order Number"style="font-size: 15px;
                                            color: #969696">#</span>
                                        </dt>
                                        <dd class="order-number">
                                            @order.OrderId</dd>
                                    </dl>
                                </div>
                                <div class="column">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            <img src="/img/icons/user.png" class="myToolTip" rel="tooltip" title="Receiver Name" width="15px" />
                                        </dt>
                                        <dd class="receiver-name">
                                            @order.ReceiverName</dd>
                                    </dl>
                                </div>
                                <div class="column">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            <img src="/img/icons/phone.png" class="myToolTip" rel="tooltip" title="Receiver Phone" width="15px" />
                                        </dt>
                                        <dd class="receiver-phone">
                                            @order.ReceiverPhone</dd>
                                    </dl>
                                </div>
                                <div class="column">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            <img src="/img/icons/info.png" class="myToolTip" rel="tooltip" title="Properties" width="15px" />
                                        </dt>
                                        <dd class="properties">
                                            <span class="label label-success">@order.DeliveryOption.Name</span> <span class="label label-info">@order.OrderPaymentType.Name</span>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="column">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            <img src="/img/icons/bill.png" class="myToolTip" rel="tooltip" title="Amount to collect" width="15px" />
                                        </dt>
                                        <dd class="amount-to-be-collected">
                                            @order.AmountToBeCollectedFromReceiver VNĐ</dd>
                                    </dl>
                                </div>
                                <div class="column">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            <img src="/img/icons2/calendar.png" class="myToolTip" rel="tooltip" title="Due Date" width="15px" />
                                        </dt>
                                        <dd class="dueDate">
                                            @if (order.DueDate != null)
                                            {
                                                <span class="label label-important">@String.Format("{0:dd/MM/yyyy hh:mm tt}", order.DueDate)</span><text>&nbsp;</text>
                                            }
                                            else
                                            {
                                                <span class="label label-important">Not set yet</span>
                                            }
                                        </dd>
                                    </dl>
                                </div>
                                <div class="column">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            <img src="/img/icons/coin.png" class="myToolTip" rel="tooltip" title="Fee" width="15px" />
                                        </dt>
                                        <dd class="fee">
                                            @if (order.Fee != null)
                                            {
                                                @order.Fee <text>VNĐ</text>
                                            }
                                            else
                                            {
                                                <span class="label label-important">Not set yet</span>
                                            }
                                        </dd>
                                    </dl>
                                </div>
                                <div class="column">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            <img src="/img/icons/coin.png" class="myToolTip" rel="tooltip" title="Fee" width="15px" />
                                        </dt>
                                        <dd class="note">
                                            @if (string.IsNullOrWhiteSpace(order.Note))
                                            {
                                                <text>None</text>        
                                            }
                                            else
                                            {
                                                @order.Note
                                            }
                                        </dd>
                                    </dl>
                                </div>
                                <div class="column">
                                    <dl class="dl-horizontal">
                                        <dt><span class="myToolTip" rel="tooltip" title="Receiver Address" style="font-size: 15px;
                                            color: #969696">@@</span></dt>
                                        <dd class="full-address">
                                            @order.FullAddress</dd>
                                    </dl>
                                </div>
                            </div>                            
                        </div>
                        @if (Model.Status == RequestStatus.New || Model.Status == RequestStatus.Approved || Model.Status == RequestStatus.PlannedForCollecting)
                        {
                            <div class="ticket-btn-group">
                                <a href="#" onclick="cancelOrder(@order.OrderId)" class="myToolTip btn action" rel="tooltip" title="Cancel Order"  role="button" class="deleteOrder btn action" data-toggle="modal">
                                    <img src="/img/icons2/cross.png" alt="Cancel Order" width="15">
                                </a>
                            </div>
                        }
                    </div>
                </li>
            }
        </ul>
        <div class="tab-content" id="tab-items">
            @foreach (var order in Model.Orders.Where(o => o.Status != OrderStatus.Canceled))
            {            
                <div class="tab-pane" id="tab-order-@order.OrderId">
                    <ul>
                        @if (order.Items.Count == 0)
                        {
                            <li class="no-item">There is no item in this order.</li>
                        }
                        else
                        {
                            foreach (var item in order.Items)
                            {
                            <li id="item-@item.ItemId">
                                <div class="ticket-container span12 ticket item-ticket">
                                    <div class="row-fluid">
                                        <div class="column left-column">
                                            <dl class="dl-horizontal">
                                                <dt>
                                                    <img src="/img/icons/box.png" class="myToolTip" rel="tooltip" title="Product" alt="Product" width="15" />
                                                </dt>
                                                <dd class="item-name">
                                                    @item.Name</dd>
                                                <dt>
                                                    <img src="/img/icons/font_size.png" class="myToolTip" rel="tooltip" title="Size" alt="Size" width="15" />
                                                </dt>
                                                <dd class="size">
                                                    @item.Size</dd>
                                            </dl>
                                        </div>
                                        <div class="column center-column">
                                            <dl class="dl-horizontal">
                                                <dt>
                                                    <img src="/img/icons/chart_bar.png" class="myToolTip" rel="tooltip" title="Quantity" alt="Quantity" width="15" />
                                                </dt>
                                                <dd class="quantity">
                                                    @item.Quantity</dd>
                                                <dt>
                                                    <img src="/img/icons/gram_weight.png" alt="Weight" class="myToolTip" rel="tooltip" title="Weight" width="15" />
                                                </dt>
                                                <dd class="weight">
                                                    @item.Weight</dd>
                                            </dl>
                                        </div>
                                        <div class="column right-column">
                                            <dl class="dl-horizontal">
                                                <dt>
                                                    <img src="/img/icons/info.png" class="myToolTip" rel="tooltip" title="Properties" width="15px" />
                                                </dt>
                                                <dd class="properties">
                                                    @if (!item.IsFragile && !item.HasHighValue)
                                                    { <text>None</text> }
                                                    @if (item.IsFragile)
                                                    {<span class="label label-success">Fragile</span>}
                                                    @if (item.HasHighValue)
                                                    {<span class="label label-info">High Value</span>}
                                                </dd>
                                                <dt>
                                                    <img src="/img/icons/notepencil32.png" class="myToolTip" rel="tooltip" title="Description"
                                                        width="15px" />
                                                    <dd class="note">
                                                        @item.Note</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            }
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</div>
<a href="/Request/" role="button" class="btn btn-primary pull-left" data-toggle="modal">
    View All Requests</a>
<!-- Begin Modal-->
<div class="modal hide fade" id="mainModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
</div>
<!-- End Modal -->
<script>
    setupOrderTicket();

    $('.order-ticket-info').css('width', $('.order-ticket:first-child').css('width'));
    $(window).resize(function () {
        $('.order-ticket-info').css('width', $('.order-ticket:first-child').css('width'));
    });

</script>
