﻿@model SMDH.Models.Product
<div class="form-horizontal">
    <div class="control-group">
        <label class="control-label">
            Name(*)
        </label>
        <div class="controls">
            @Html.TextBoxFor(model => model.Name, new { placeholder = "Name" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Image
        </label>
        <div class="controls">
            @Html.TextBoxFor(model => model.ImageURL)
            @Html.ValidationMessageFor(model => model.ImageURL)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Category(*)
        </label>
        <div class="controls">
            @Html.TextBoxFor(model => model.ProductCategory, new { placeholder = "Category" })
            @Html.ValidationMessageFor(model => model.ProductCategory)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Size
        </label>
        <div class="controls">
            @Html.TextBoxFor(model => model.Size, new { placeholder = "100 x 200 x 300 mm" })
            @Html.ValidationMessageFor(model => model.Size)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Weight
        </label>
        <div class="controls">
            @Html.TextBoxFor(model => model.ProductWeight, new { placeholder = "250g" })
            @Html.ValidationMessageFor(model => model.ProductWeight)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Price(*)
        </label>
        <div class="controls">
            @Html.TextBoxFor(model => model.ProductPrice, new { placeholder = "Price" })
            @Html.ValidationMessageFor(model => model.ProductPrice)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Description
        </label>
        <div class="controls">
            @Html.TextAreaFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Active
        </label>
        <div class="controls">
            @Html.CheckBoxFor(model => model.Active)
            @Html.ValidationMessageFor(model => model.Active)
        </div>
    </div>
</div>
