@model SMDH.Models.Product
@{
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        ×</button>
    <h3 id="myModalLabel">
        Create new Product</h3>
</div>
<div class="modal-body" style="height: 400px;overflow-y: visible;">
    @using (Html.BeginForm("ConfirmCreate", "Products", FormMethod.Post, new { id = "create-form", Class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            @Html.Partial("_CreateOrEdit", Model)
        </fieldset>        
    }
</div>
<div class="modal-footer">
    <input id="btnCreate" type="submit" class="btn btn-primary" value="Create" />
    <button class="btn" data-dismiss="modal" aria-hidden="true">
        Cancel</button>
</div>

<script>
    $('#btnCreate').click(function () {
        $('#create-form').submit();
    });
</script>

