﻿@model IEnumerable<SMDH.Models.Product>
@using System.Text.RegularExpressions;
@{
    Layout = null;
}
<table class="table table-striped table-bordered" id="main-table">
    <thead>
        <tr>
            <th>Name
            </th>
            <th>Image
            </th>
            <th>Category
            </th>
            <th>Size
            </th>
            <th>ProductWeight
            </th>
            <th>Price
            </th>
            <th>Description
            </th>
            <th>Enable
            </th>
            <th class="tbl-action-col">Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    <img src="@item.ImageURL" style="height:30px;width:30px;" alt=""/>
                </td>
                <td>
                    @item.ProductCategory
                </td>
                <td>
                    @item.Size
                </td>
                <td>@item.ProductWeight
                </td>
                <td style="text-align: right;">
                    @(String.Format("{0,12:N0}", item.ProductPrice))
                </td>
                <td>@item.Description
                </td>
                <td>
                    @if (item.Active == true)
                    { 
                        <input type="checkbox" checked="checked" disabled />
                    }
                    else
                    { 
                        <input type="checkbox" disabled />
                    }
                </td>
                <td class="action-column">
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-mini dropdown-toggle">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)" onclick="edit(@item.ProductId)">Edit product</a></li>
                            <li><a href="#" onclick="deleteItemManagement(@item.ProductId);">Delete product</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    var deleteItemManagement = function (productID) {
        bootbox.confirm("Are you sure to delete this product?", function (result) {
            if (result) {
                $.post('/Customer/Products/Remove/' + productID, function (result) {
                    if (result.success) {
                        $.blockUI();
                        window.location.reload();
                    } else {
                        bootbox.alert('This product can not delete.');
                    }
                });
            }
        });
    };
</script>
