@model HDMS.Models.CustomerPayment

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CustomerPayment</legend>

    <div class="display-label">IsInbound</div>
    <div class="display-field">@Model.IsInbound</div>

    <div class="display-label">Amount</div>
    <div class="display-field">@Model.Amount</div>

    <div class="display-label">Detail</div>
    <div class="display-field">@Model.Detail</div>

    <div class="display-label">CompletedDate</div>
    <div class="display-field">@String.Format("{0:dd/MM/yyyy hh:mm tt}", Model.CompletedDate)</div>

    <div class="display-label">Note</div>
    <div class="display-field">@Model.Note</div>

    <div class="display-label">Requests</div>
    <div class="display-field">@(Model.Requests == null ? "None" : Model.Requests.Count.ToString())</div>

    <div class="display-label">Customer</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Customer).ToString()</div>

    <div class="display-label">CustomerPaymentType</div>
    <div class="display-field">@(Model.CustomerPaymentType == null ? "None" : Model.CustomerPaymentType.Name)</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


