﻿@model SMDH.Models.Plan
@{
    ViewBag.Title = "Create New Delivery Plan";
    ViewBag.Heading = "Create New Delivery Plan";
}
@if (false)
{ 
    <script src="/js/jquery-1.8.2-vsdoc.js" type="text/javascript"></script>
}
<link rel="stylesheet" type="text/css" href="/css/DT_bootstrap.css" />
<script src="/js/chosen.jquery.js" type="text/javascript"></script>
<script src="/js/date.format.js" type="text/javascript"></script>
<script src="/js/delivery-plan-order-ticket.js" type="text/javascript"></script>
<div class="delivery-planning">
    <div class="region-selector row-fluid">
        <div class="span10 control-group">
            <div class="controls pull-left">
                @Html.DropDownList("CityProvince", ViewBag.PossibleCityProvinces as SelectList, "-- Choose a City/Province --", new { id = "ddlCityProvince", Class = "chzn-select" })
            </div>
            <div class="controls pull-left">
                @Html.DropDownList("District", ViewBag.PossibleDistricts as SelectList, "-- Choose a District --", new { id = "ddlDistrict", Class = "chzn-select" })
            </div>
            <div class="controls pull-left">
                @Html.DropDownList("Ward", ViewBag.PossibleWards as SelectList, "-- Choose a Ward --", new { id = "ddlWard", Class = "chzn-select" })
            </div>
        </div>        
        <div class="span2">
            <a class="btn btn-inverse" href="/Plans/Create" style="float:right">Use Map</a>
        </div>
    </div>
    <div class="order-selector row-fluid">
        <div class="span6">
            <div class="title">
                <h4>
                    Unplanned Orders</h4>
            </div>
            <div id="unplanned-orders">
                <ul>
                </ul>
            </div>
        </div>
        <div class="span6">
            <div class="title">
                <h4>
                    Selected Orders</h4>
            </div>
            <div id="selected-orders">
                <ul>
                </ul>
            </div>
        </div>
    </div>
    <div class="row-fluid">        
        <div class="control-group">
            <button class="btn btn-primary pull-right" style="margin-left: 20px;" id="btnCreatePlan">
                Create Plan</button>
            <a href="/Plans" role="button" class="btn DTTT_button_text pull-right"><span>
                Cancel</span> </a>
        </div>
    </div>
</div>
<input type="hidden" id="usingMap" value="false" />
<script>
    var selectedOrderIds = new Array();

    $("#ddlCityProvince").change(function () {
        var items = '<option value="-1">-- All Districts --</option>';
        $('#ddlDistrict').html(items);
        $('#ddlDistrict').trigger("change");
        var id = $('#ddlCityProvince option:selected').val();
        if (id == '') id = -1;
        $.getJSON('/District/GetDistrictsOfCityProvince/' + id, function (data) {
            items = '<option value="-1">-- All Districts --</option>';
            $.each(data, function (i, district) {
                items += "<option value='" + district.DistrictId + "'>" + district.Name + "</option>";
            });
            $('#ddlDistrict').html(items);
            $('#ddlDistrict').trigger("liszt:updated");
        });
        $.ajaxSettings.traditional = true;
        if ($(this).find('option').length > 1) {
            $.post('/Plans/GetUnplannedOrdersByCityProvince/' + id, { selectedOrderIds: selectedOrderIds }, function (result) {
                if (result.success) {
                    var orderTickets = createOrderTickets(result.orders);
                    $("#unplanned-orders > ul").html(orderTickets);
                }
            });
        }
    });
    $(".chzn-select").chosen();
    $(".chzn-select-deselect").chosen({ allow_single_deselect: true });

    $("#ddlDistrict").change(function () {
        var items = '<option value="-1">-- All Wards --</option>';
        $('#ddlWard').html(items);
        $('#ddlWard').trigger("change");
        var id = $('#ddlDistrict option:selected').val();
        if (id == '') id = -1;
        $.getJSON('/Ward/GetWardsOfDistrict/' + id, function (data) {
            items = '<option value="-1">-- All Wards --</option>';
            $.each(data, function (i, ward) {
                items += "<option value='" + ward.WardId + "'>" + ward.Name + "</option>";
            });
            $('#ddlWard').html(items);
            $('#ddlWard').trigger("liszt:updated");
        });
        if ($(this).find('option').length > 1) {
            if (id == '-1') {
                $.post('/Plans/GetUnplannedOrdersByCityProvince/' + $('#ddlCityProvince option:selected').val(), { selectedOrderIds: selectedOrderIds }, function (result) {
                    if (result.success) {
                        var orderTickets = createOrderTickets(result.orders);
                        $("#unplanned-orders > ul").html(orderTickets);
                    }
                });
            } else {
                $.post('/Plans/GetUnplannedOrdersByDistrict/' + id, { selectedOrderIds: selectedOrderIds }, function (result) {
                    if (result.success) {
                        var orderTickets = createOrderTickets(result.orders);
                        $("#unplanned-orders > ul").html(orderTickets);
                    }
                });
            }
        }
    });

    $('#ddlWard').change(function () {
        var id = $('#ddlWard option:selected').val();
        if (id == '') id = -1;
        if ($(this).find('option').length > 1) {
            if (id == '-1') {
                $.post('/Plans/GetUnplannedOrdersByDistrict/' + $('#ddlDistrict option:selected').val(), { selectedOrderIds: selectedOrderIds }, function (result) {
                    if (result.success) {
                        var orderTickets = createOrderTickets(result.orders);
                        $("#unplanned-orders > ul").html(orderTickets);
                    }
                });
            } else {
                $.post('/Plans/GetUnplannedOrdersByWard/' + id, { selectedOrderIds: selectedOrderIds }, function (result) {
                    if (result.success) {
                        var orderTickets = createOrderTickets(result.orders);
                        $("#unplanned-orders > ul").html(orderTickets);
                    }
                });
            }
        }
    });

    var addToPlan = function (orderId) {
        $("#order-" + orderId + " .right-column a.addToPlan").tooltip('hide');
        $("#selected-orders > ul").append($("#order-" + orderId));
        selectedOrderIds[selectedOrderIds.length] = orderId;
        $("#order-" + orderId + " .right-column").html('<a href="javascript:void(0)" class="btn action" onclick="remove(' + orderId + ')" title="Add to plan"><img src="/img/icons2/cross.png" alt="Add" width="18px"/></a>');
    };

    var remove = function (orderId) {
        for (var i = 0; i < selectedOrderIds.length; i++) {
            if (selectedOrderIds[i] == orderId) selectedOrderIds.splice(i, 1);
        }
        $("#order-" + orderId).remove();
        if ($('#ddlWard option:selected').val() != '-1') {
            $('#ddlWard').trigger("change");
        } else if ($('#ddlDistrict option:selected').val() != '-1') {
            $('#ddlDistrict').trigger("change");
        } else {
            $('#ddlCityProvince').trigger("change");
        }
    };

    $('#btnCreatePlan').click(function () {
        if (selectedOrderIds.length == 0) {
            bootbox.alert('Please select at least 1 order to create plan.');
        } else {
            $.post('/Plans/ConfirmCreate', { selectedOrderIds: selectedOrderIds }, function (result) {
                if (result.success) {
                    window.location = '/Plans/Details/' + result.deliveryPlanId;
                }
            });
        }
    });


    $(document).ready(function () {
        $(".chzn-select").chosen();
        $(".chzn-select-deselect").chosen({ allow_single_deselect: true });
    });        
</script>
