﻿@model SMDH.Models.Plan
@using SMDH.Models.Utilities
@using SMDH.Models.Statuses
@using System.Text.RegularExpressions;
@{
    Layout = null;
}
@*<link rel="stylesheet" type="text/css" href="/css/DT_bootstrap.css" />
<link href="/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
<script src="/js/jquery.dataTables.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8" language="javascript" src="/js/DT_bootstrap.js"></script>
<script src="/js/dataTables.bootstrap.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="/js/form-action.js" type="text/javascript"></script>*@
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;</button>
    <h6>Plan No : @Model.PlanId - Distance: @((Model.Distance.Value / 1000).ToString("N2"))
        km(s)<div style="float: right; margin-right: 10px;">
            (@String.Format("{0:dd/MM/yyyy hh:mm}", Model.CreatedDate))
        </div>
    </h6>
</div>
<div class="modal-body" style="max-height: 600px;">
    <div style="margin-bottom: 5px; margin-top: -25px;">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget">
                    <div class="widget-header">
                        <a href="#Assign" data-toggle="collapse" class="collapsed">
                            <div class="title">
                                Assign
                            </div>
                        </a>
                    </div>
                    <div class="collapse in" id="Assign">
                        <div class="widget-body">
                            <div>
                                @if (ViewBag.PossibleDeliveryStaffs != null)
                                {
                                    foreach (var d in ViewBag.PossibleDeliveryStaffs)
                                    {
                                    <span>
                                        <input type="checkbox" style="margin-bottom: 5px;margin-left:10px;" class="radios" name="deliveryman" value="@d.DeliveryMenId" id="deliverymen@d.DeliveryMenId" />
                                        @d.FirstName@d.LastName</span>                              
                                    }
                                }
                                @if (ViewBag.Assignto != null)
                                {
                                    foreach (var d in ViewBag.Assignto)
                                    {                                        
                                    <span>
                                        <input type="checkbox" style="margin-bottom: 5px;margin-left:10px;" class="radios" name="deliveryman" value="@d.DeliveryMenId" id="deliverymen@d.DeliveryMenId" />
                                        @d.FirstName@d.LastName</span>     
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                @*            <div id="listbutton">
            </div>*@
                <input type="submit" class="btn btn-primary" value="Assign" id="btnAssign" /><input
                    style="margin-left: 30px;" type="submit" class="btn btn-danger" value="Unassign"
                    id="btnUnassign" />
                @if (ViewBag.Assignto != null && Model.Status != (int)PlanStatus.Finished && Model.Status != (int)PlanStatus.Canceled)
                {
                    <button class="btn btn-success" id="markAsFinishedBtn" style="float: right;">
                        Mark as Finished</button>
                }

                @if (Model.Status != (int)PlanStatus.Finished && Model.Status != (int)PlanStatus.Canceled)
                {
                    <button class="btn btn-warning" id="cancelBtn" style="float: right; margin-right:10px;" onclick="cancelPlan(@Model.PlanId)">
                        Cancel</button>
                }
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget">
                    <div class="widget-header">
                        <a href="#Details" data-toggle="collapse" class="collapsed">
                            <div class="title">
                                Click to see details
                            </div>
                        </a>
                    </div>
                    <div class="collapse" id="Details">
                        <div style="width: 1024; height: 295px; overflow-y: scroll; float: left;" id="requestDetailsZone">
                            <ul class="site-stats">
                                @foreach (var request in ViewBag.RequestDetails)
                                {
                                    <li id="request-@request.RequestId">
                                        <div>
                                            <div>
                                                <div>
                                                    <span class="icon-user"></span><span class="label label-info">@request.Customer</span>
                                                </div>
                                                @if (Model.PlanTypeId == (int)PlanTypes.CollectionPlan)
                                                {
                                                    <div style="margin-top: 3px;">
                                                        <span class="icon-calendar"></span><span class="label label-info">@request.RequestedDate</span>
                                                    </div>
                                                }
                                                else if (Model.PlanTypeId == (int)PlanTypes.DeliveryPlan)
                                                {
                                                    <div style="margin-top: 3px;">
                                                        <span class="icon-calendar"></span><span class="label label-info">@request.CreatedDate</span>
                                                    </div>
                                                }
                                            </div>
                                            @if (Model.PlanTypeId == (int)PlanTypes.CollectionPlan)
                                            {
                                                <div>
                                                    <span class="icon-globe"></span><small>@request.CollectionAddress</small>
                                                </div>
                                            }
                                            else if (Model.PlanTypeId == (int)PlanTypes.DeliveryPlan)
                                            {
                                                <div>
                                                    <span class="icon-globe"></span><small>@request.DeliverAddress</small>
                                                </div>
                                            }
                                        </div>
                                        @if (Model.PlanTypeId == (int)PlanTypes.DeliveryPlan)
                                        {
                                            if (request.Status != "Delivered" && request.Status != "Delivering")
                                            {
                                                <a href="javascript:void(0)" class="btn btn-mini btn-primary" onclick="markOrderFinished(@request.OrderId)"><i class="icon-pencil"></i>Mark Order Finished
                                                </a>      
                                            }

                                            if (request.Status != "Canceled")
                                            {
                                                <a href="javascript:void(0)" class="btn btn-mini btn-primary" onclick="cancelOrder(@request.OrderId)"><i class="icon-pencil"></i>Cancel
                                        </a>  
                                            }


                                        }
                                      </li>
                                }
                            </ul>
                        </div>
                        @*<div style="width: 438px; float: left">
                            <div id="map" style="height: 295px;">
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
        @*<div class="span4">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-list-alt"></i></span>
                    <h5>
                        Plan details</h5>
                </div>
                <div class="widget-content nopadding">
                    <div style="height: 295px; overflow-y: scroll;" id="requestDetailsZone">
                        <ul class="site-stats">
                            @foreach (var request in ViewBag.RequestDetails)
                            {
                                <li id="request-@request.RequestId">
                                    <div>
                                        <div>
                                            <div>
                                                <span class="icon-user"></span><span class="label label-info">@request.Customer</span></div>
                                            <div style="margin-top: 3px;">
                                                <span class="icon-calendar"></span><span class="label label-info">@request.RequestedDate</span></div>
                                        </div>
                                        <div>
                                            <span class="icon-globe"></span><small>@request.CollectionAddress</small>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>*@ @*<div class="span7">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-globe"></i></span>
                    <h5>
                        Maps</h5>
                </div>
                <div class="widget-content nopadding">
                    <div id="map" style="height: 295px;">
                    </div>
                </div>
            </div>
        </div>*@
    </div>
    @*<div class="modal hide fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×</button>
        <h3 id="myModalLabel">
            Assign plan to delivery staff</h3>
    </div>
    <div class="modal-body">
        <p>
            Assign to</p>
            @if (ViewBag.PossibleDeliveryStaffs != null)
            {
                  foreach (var d in ViewBag.PossibleDeliveryStaffs)
                  {
                    <input type="checkbox" name="deliveryman" value="@d.DeliveryMenId" />@d.FirstName
                  }
            }
            
            @if (ViewBag.Assignto != null)
            {
                foreach (var e in ViewBag.Assignto)
                {
                    <input type="checkbox" name="deliveryman" value="@e.DeliveryMenId" checked="checked" />@e.FirstName
                }
            }        
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" id="btnAssign">
            Save</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            Close</button>
    </div>
</div>*@
    <script type="text/javascript">
        var assignman = new Array();
        var Assign = @Html.Raw(Json.Encode(@ViewBag.Assignto));
        var PlanId = @Model.PlanId;
        var isFinished = false;
        var isCanceled = false;
        
        if ('@(Model.Status == (int)PlanStatus.Finished)' == "True")
        {
            isFinished = true;
        }       

        if ('@(Model.Status == (int)PlanStatus.Canceled)' == "True")
        {
            isCanceled = true;
        }       
        
        var checkBoxs = $("input[name=deliveryman]");
        var j = 0;
        $.each(checkBoxs, function() {
            
            if (Assign == null) return;
            for(var k=0;k<Assign.length;k++)
            {
                if(Assign[k].DeliveryMenId == $(this).val()){
                    $(this).prop('checked',true);
                }
            }
            j++;                
        });

        if (Assign != null && !isFinished && !isCanceled)
        {
            $('#btnAssign').attr('value', 'Reassign');
        }  
        
        if (isFinished || isCanceled)
        {
            $('#btnUnassign').addClass('hide');
            $('#btnAssign').addClass('hide');
        }      
        
        $('#markAsFinishedBtn').click(function() {
            $.post("/Plans/MarkAsFinished/", {planId: PlanId}, function(data){
                if (data.success){
                    $.blockUI();
                    window.location.reload();
                }else{
                    bootbox.alert('Cant mark this plan as finished.');
                }
            });
        });   
        
        var markOrderFinished = function (orderId){
            $.post("/Orders/MarkOrderAsFinished/" + orderId, function(data){
                if (data.success){
                    window.location.reload();
                }else{
                    bootbox.alert("Can't mark this order as finished");
                }
            });
        }

        var cancelOrder = function (orderId){
            $.post("/Orders/Cancel/" + orderId, function(data){
                if (data.success){
                    window.location.reload();
                }else{
                    bootbox.alert("Can't mark this order as finished");
                }
            });
            
        }

        $('#btnAssign').click(function () {
            //alert("details");
            var listdeliveryman = new Array();
            var listNotChooseDeliveryMan = new Array();
            var i = 0;
            var j = 0;
            $.each(checkBoxs, function() {
                if ($(this).is(":checked")){
                    listdeliveryman[i] = $(this).val();
                    i++;
                } else
                {
                    listNotChooseDeliveryMan[j] = $(this).val();
                    j++;
                }
            });
            if(listdeliveryman.length <= 0)
            {
                bootbox.alert('Please choose one or more deliveryman');
            }else{
                $.ajaxSettings.traditional = true;
                $.post('/Plans/Assign/', { PlanId: PlanId, listdeliveryman : listdeliveryman, listNotAssignedDeliveryMen: listNotChooseDeliveryMan}, function (result) {
                    if(result.success){
                        $.blockUI();
                        window.location.reload();
                    }else{
                        bootbox.alert('Unable to assign. Please refresh and try again.');
                    }
                });
            }
        });

        $('#btnUnassign').click(function(){
            //alert("details");
            var listdeliveryman = new Array();
            var listNotChooseDeliveryMan = new Array();
            var i = 0;
            var j = 0;
            $.each(checkBoxs, function() {
                listNotChooseDeliveryMan[j] = $(this).val();
                j++;
            });
            $.ajaxSettings.traditional = true;
            $.post('/Plans/Assign/', { PlanId: PlanId, listdeliveryman : listdeliveryman, listNotAssignedDeliveryMen: listNotChooseDeliveryMan}, function (result) {
                if(result.success){
                    $.blockUI();
                    window.location.reload();
                }else{
                    bootbox.alert('Unable to assign. Please refresh and try again.');
                }
            });
        });

        var removeFromPlan = function(requestId){
            bootbox.confirm('Remove this request from plan?', function(confirmed){
                if(confirmed){
                    
                    $.post('/Request/RemoveFromCollectionPlan/'+requestId, function (result) {
                        if(result.success){
                            $.blockUI();
                            window.location.reload();
                        } else {
                            bootbox.alert('Failed to remove this request from the collection plan.');
                        }
                    });
                }
            });        
        };

        var selectAll = function(){
            $('#mark-collected-form input[type="checkbox"]').attr('checked','checked');
        };

        var selectNone = function(){
            $('#mark-collected-form input[type="checkbox"]').removeAttr('checked');
        };

        $('#mark-collected-form').submit(function(){
            $.post($(this).attr("action"), $(this).serialize(), function(result){
                if(result.success){
                    $.blockUI();
                    window.location.reload();
                } else {
                    bootbox.alert('Failed to mark as collected.');
                }
            });
            return false;
        });

        $('#markAsCollectedBtn').click(function(){
            $('#mark-collected-form').submit();
        });
        
        
        var cancelPlan = function(planId){
            //bootbox.confirm('Remove all requests and cancel this plan?', function(confirmed){
            //        if(confirmed){
            $.post('/Plans/Cancel/'+planId, function(result){
                if(result.success){
                    $.blockUI();
                    window.location = '/Plans/';
                }
            });
            //    }                
            //});
                    
        };
    </script>
