﻿@model IEnumerable<SMDH.Models.Order>
@using System.Text.RegularExpressions;
@using SMDH.Models.Statuses;
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@if (false)
{ 
    <script src="/js/jquery-1.8.2-vsdoc.js" type="text/javascript"></script>
}
<script src="/js/form-action.js" type="text/javascript"></script>
<script src="/js/chosen.jquery.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<link href="/css/datepicker.css" rel="stylesheet" type="text/css" />
<script src="/js/bootstrap-datepicker.js" type="text/javascript"></script>
<div id="divTable">
    @Html.Partial("OrdersTable", Model)
</div>
@if (ViewBag.Plan.Status == (int)PlanStatus.Assigned)
{
    <div class="control-group">    
      
      <a href="#" class="btn btn-success" onclick="markAllAsFinished(@ViewBag.PlanId)"><i class="icon-ok-sign"></i>Mark All As Finished
      </a>
      <a href="#" class="btn btn-danger" onclick="markAllAsReturned(@ViewBag.PlanId)"><i class="icon-remove-sign"></i>Mark All As Returned
      </a>
    </div>    
}
<div class="modal hide fade" id="editModal">
</div>
<div>
<a class="btn btn-primary" href='/Plans/Index'>View All Plans</a>
</div>
<script type="text/javascript">
    var markAllAsFinished = function (planId) {
        $.post("/Plans/MarkAsFinished", {planId : planId}, function(data){
            if (data.success){
                window.location.reload();
            }else
            {
                bootbox.alert("Can't mark plan as finished");
            }
        });
    }

    var markAllAsReturned = function (planId) {
        $.post("/Plans/MarkAsReturned", { planId: planId }, function (data) {
            if (data.success) {
                window.location.reload();
            } else {
                bootbox.alert("Can't mark plan as returned");
            }
        });

    }
</script>
  