﻿@model IEnumerable<SMDH.Models.Plan>
@using SMDH.Models.Utilities
@using SMDH.Models.Statuses
@using System.Text.RegularExpressions;
@{
    Layout = null;
}
<table id="main-table" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Plan No.
            </th>
            <th>Modified Date
            </th>
            <th>Plantype
            </th>
            <th>Plan Status (Success/Totals)
            </th>
            <th>Plan Length
            </th>
            <th>Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            switch (item.PlanTypeId)
            {
                case (int)PlanTypes.CollectionPlan:
            <tr class="success">
                <td>@item.PlanId
                </td>
                <td>
                    @String.Format("{0:dd/MM/yyyy hh:mm tt}", item.CreatedDate)
                </td>
                <td>
                    @((PlanTypes)item.PlanTypeId)
                </td>
                <td style="width:100px;">
                    @if (item.Status == (int)PlanStatus.Assigned)
                    {
                        <span class="label label-info">Assigned</span>
                    }
                    else if (item.Status == (int)PlanStatus.New)
                    {
                        <span class="label label-danger">Not Assigned yet</span>
                    }
                    else if (item.Status == (int)PlanStatus.Finished)
                    {
                        <span class="label label-success">Finished</span>
                    }
                    else if (item.Status == (int)PlanStatus.Canceled)
                    {
                        <span class="label label-important">Canceled</span>
                    }
                </td>

                @*                <td>
                    @if (item.Status > 1)
                    {
                        <span class="label label-success">Assigned</span>
                    }
                    else
                    {
                        <span class="label">Not assigned yet</span>
                        <a href="#assignModal" data-toggle="modal" onclick="assign(@item.PlanId)" class="myToolTip" rel="tooltip" title="Assign to another staff">
                            <img src="/img/icons/arrow_right2.png" />
                        </a>
                    }
                </td>*@
                <td>
                    @((item.Distance.Value / 1000).ToString("N2")) km(s)
                </td>
                @*                <td class="action-column">
                    <a class="btn action view" href="/Plans/Details/@item.PlanId">
                        <img src="/img/icons/notepad.png" alt="View" title="View"></a>
                </td>*@
                <td>                                   
                    <a href="javascript:void(0)" class="btn btn-mini btn-success" onclick="viewPlan(@item.PlanId)"><i class="icon-search"></i>View & Assign
                    </a>

                    @if (item.Status != (int)PlanStatus.Canceled && item.Status != (int)PlanStatus.Finished)
                    {
                         <a href="javascript:void(0)" class="btn btn-mini btn-danger" onclick="cancelPlan(@item.PlanId)"><i class="icon-remove"></i>Canceled
                        </a>
                    }                    

                </td>
            </tr>
                    break;
                case (int)PlanTypes.DeliveryPlan:
            <tr class="info">
                <td>@item.PlanId
                </td>
                <td>
                    @String.Format("{0:dd/MM/yyyy hh:mm tt}", item.CreatedDate)
                </td>
                <td>
                    @((PlanTypes)item.PlanTypeId)
                </td>
                <td>
                    @if (item.Status == (int)PlanStatus.Assigned)
                    {
                        <span class="label label-info">Assigned</span>
                    }
                    else if (item.Status == (int)PlanStatus.New)
                    {
                        <span class="label label-danger">Not Assigned yet</span>
                    }
                    else if (item.Status == (int)PlanStatus.Finished)
                    {
                        <span class="label label-success">Finished</span>
                    }
                    else if (item.Status == (int)PlanStatus.Canceled)
                    {
                        <span class="label label-important">Canceled</span>
                    }
                </td>
                @*                <td>
                    @if (item.Status > 1)
                    {
                        <span class="label label-success">Assigned</span>
                    }
                    else
                    {
                        <span class="label">Not assigned yet</span>
                        <a href="#assignModal" data-toggle="modal" onclick="assign(@item.PlanId)" class="myToolTip" rel="tooltip" title="Assign to another staff">
                            <img src="/img/icons/arrow_right2.png" />
                        </a>
                    }
                </td>*@
                <td>
                    @((item.Distance.Value / 1000).ToString("N2")) km(s)
                </td>
                @*                <td class="action-column">
                    <a class="btn action view" href="/Plans/Details/@item.PlanId">
                        <img src="/img/icons/notepad.png" alt="View" title="View"></a>
                </td>*@
                <td>         
                    <a href="javascript:void(0)" class="btn btn-mini btn-success" onclick="viewPlan(@item.PlanId)"><i class="icon-search"></i>View & Assign
                    </a>
                    
                    @if (item.Status == (int)PlanStatus.Assigned)
                    {
                        <a href="/Plans/Edit/@item.PlanId" class="btn btn-mini btn-primary"><i class="icon-pencil"></i>Edit Orders
                    </a>
                    }
                    else if (item.Status == (int)PlanStatus.Finished)
                    {
                        <a href="/Plans/Edit/@item.PlanId" class="btn btn-mini btn-info"><i class="icon-shopping-cart"></i>View Order
                    </a>
                    }
                    
                    @if (item.Status != (int)PlanStatus.Canceled && item.Status != (int)PlanStatus.Finished)
                    {
                        <a href="javascript:void(0)" class="btn btn-mini btn-danger" onclick="cancelPlan(@item.PlanId)"><i class="icon-remove"></i>Canceled
                        </a>
                    }                    
                </td>
            </tr>
                    break;
                case (int)PlanTypes.ReturnedPlan:
            <tr class="warning">
                <td>@item.PlanId
                </td>
                <td>
                    @String.Format("{0:dd/MM/yyyy hh:mm tt}", item.CreatedDate)
                </td>
                <td>
                    @((PlanTypes)item.PlanTypeId)
                </td>
                <td>
                    @if (item.Status == (int)PlanStatus.Assigned)
                    {
                        <span class="label label-info">Assigned</span>
                    }
                    else if (item.Status == (int)PlanStatus.New)
                    {
                        <span class="label label-danger">Not Assigned yet</span>
                    }
                    else if (item.Status == (int)PlanStatus.Finished)
                    {
                        <span class="label label-success">Finished</span>
                    }
                    else if (item.Status == (int)PlanStatus.Canceled)
                    {
                        <span class="label label-important">Canceled</span>
                    }
                </td>

                @*                <td>
                    @if (item.Status > 1)
                    {
                        <span class="label label-success">Assigned</span>
                    }
                    else
                    {
                        <span class="label">Not assigned yet</span>
                        <a href="#assignModal" data-toggle="modal" onclick="assign(@item.PlanId)" class="myToolTip" rel="tooltip" title="Assign to another staff">
                            <img src="/img/icons/arrow_right2.png" />
                        </a>
                    }
                </td>*@
                <td>
                    @((item.Distance.Value / 1000).ToString("N2")) km(s)
                </td>
                @*                <td class="action-column">
                    <a class="btn action view" href="/Plans/Details/@item.PlanId">
                        <img src="/img/icons/notepad.png" alt="View" title="View"></a>
                </td>*@
                <td>
                     <a href="javascript:void(0)" class="btn btn-mini btn-success" onclick="viewPlan(@item.PlanId)"><i class="icon-search"></i>View & Assign
                    </a>

                    @if (item.Status != (int)PlanStatus.Canceled && item.Status != (int)PlanStatus.Finished)
                    {
                        <a href="javascript:void(0)" class="btn btn-mini btn-danger" onclick="cancelPlan(@item.PlanId)"><i class="icon-remove"></i>Canceled
                        </a>
                    }                
                </td>
            </tr>
                    break;
            }

        }
    </tbody>
</table>

