<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="author" content="SuggeElson" />
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Le styles -->
    <!-- Use new way for google web fonts 
    http://www.smashingmagazine.com/2012/07/11/avoiding-faux-weights-styles-google-web-fonts -->
    <!-- Headings -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css' />  -->
    <!-- Text -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css' /> -->
    <!--[if lt IE 9]>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:700" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/css/fullcalendar.css" />
    <link rel="stylesheet" href="/css/uniform.css" />
    <link rel="stylesheet" href="/css/unicorn.main.css" />
    <link rel="stylesheet" href="/css/unicorn.grey.css" class="skin-color" />
    <!-- Le javascript -->
    <script src="/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="/js/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/js/jquery.mousewheel.min.js"></script>
    <!-- Load plugins -->
    <script type="text/javascript" src="/js/plugins/qtip/jquery.qtip.min.js"></script>
    <script type="text/javascript" src="/js/plugins/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="/js/plugins/flot/jquery.flot.grow.js"></script>
    <script type="text/javascript" src="/js/plugins/flot/jquery.flot.pie.js"></script>
    <script type="text/javascript" src="/js/plugins/flot/jquery.flot.resize.js"></script>
    <script type="text/javascript" src="/js/plugins/flot/jquery.flot.tooltip_0.4.4.js"></script>
    <script type="text/javascript" src="/js/plugins/flot/jquery.flot.orderBars.js"></script>
    <script type="text/javascript" src="/js/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="/js/plugins/knob/jquery.knob.js"></script>
    <script type="text/javascript" src="/js/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script type="text/javascript" src="/js/plugins/prettify/prettify.js"></script>
    <script type="text/javascript" src="/js/plugins/watermark/jquery.watermark.min.js"></script>
    <script type="text/javascript" src="/js/plugins/elastic/jquery.elastic.js"></script>
    <script type="text/javascript" src="/js/plugins/inputlimiter/jquery.inputlimiter.1.3.min.js"></script>
    <script type="text/javascript" src="/js/plugins/maskedinput/jquery.maskedinput-1.3.min.js"></script>
    <script type="text/javascript" src="/js/plugins/ibutton/jquery.ibutton.min.js"></script>
    @*<script type="text/javascript" src="/js/plugins/uniform/jquery.uniform.min.js"></script>*@
    <script type="text/javascript" src="/js/plugins/stepper/ui.stepper.js"></script>
    <script type="text/javascript" src="/js/plugins/color-picker/colorpicker.js"></script>
    <script type="text/javascript" src="/js/plugins/timeentry/jquery.timeentry.min.js"></script>
    <script type="text/javascript" src="/js/plugins/select/select2.min.js"></script>
    <script type="text/javascript" src="/js/plugins/dualselect/jquery.dualListBox-1.3.min.js"></script>
    <script type="text/javascript" src="/js/plugins/tiny_mce/jquery.tinymce.js"></script>
    <script type="text/javascript" src="/js/plugins/validate/jquery.validate.min.js"></script>
    @*<script type="text/javascript" src="/js/plugins/search/tipuesearch_set.js"></script>*@
    @*<script type="text/javascript" src="/js/plugins/search/tipuesearch_data.js"></script>*@<!-- JSON for searched results -->
    @*<script type="text/javascript" src="/js/plugins/search/tipuesearch.js"></script>*@
    <script type="text/javascript" src="/js/plugins/animated-progress-bar/jquery.progressbar.js"></script>
    <script type="text/javascript" src="/js/plugins/pnotify/jquery.pnotify.min.js"></script>
    <script type="text/javascript" src="/js/plugins/lazy-load/jquery.lazyload.min.js"></script>
    <script type="text/javascript" src="/js/plugins/jpages/jPages.min.js"></script>
    <script type="text/javascript" src="/js/plugins/pretty-photo/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/js/plugins/smartWizzard/jquery.smartWizard-2.0.min.js"></script>
    <script type="text/javascript" src="/js/plugins/ios-fix/ios-orientationchange-fix.js"></script>
    @*<script type="text/javascript" src="/js/plugins/dataTables/jquery.dataTables.min.js"></script>*@
    <script type="text/javascript" src="/js/plugins/elfinder/elfinder.min.js"></script>
    <script type="text/javascript" src="/js/plugins/plupload/plupload.js"></script>
    <script type="text/javascript" src="/js/plugins/plupload/plupload.html4.js"></script>
    <script type="text/javascript" src="/js/plugins/plupload/jquery.plupload.queue/jquery.plupload.queue.js"></script>
    <script type="text/javascript" src="/js/plugins/totop/jquery.ui.totop.min.js"></script>
    <!-- Init plugins -->
    <script type="text/javascript" src="/js/statistic.js"></script>
    <!-- Control graphs ( chart, pies and etc) -->
    <script type="text/javascript" src="/js/main.js"></script>
    <script src="/js/jquery.blockUI.js" type="text/javascript"></script>
    <script src="/js/bootbox.min.js" type="text/javascript"></script>
    <script src="/js/jquery.noty.js" type="text/javascript"></script>
    <script src="/js/topRight.js" type="text/javascript"></script>
    <script src="/js/default.js" type="text/javascript"></script>
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon-57-precomposed.png" />
    <script type="text/javascript">
        //adding load class to body and hide page
        document.documentElement.className += 'loadstate';

        $(document).ready(function () {
            var block = function () {
                $.blockUI({ message: 'processing...' });
                $('.modal').block({ message: 'processing...' });
            };
            var unblock = function () {
                $.unblockUI();
                $('.modal').unblock();
            };
            //$(document).ajaxStart(block).ajaxStop(unblock);                       

            $('.myToolTip').tooltip();

            $("#alert").hide();
        });

        function showAlert(textToshow, link, timeToShow) {

            var timerId = 500;

            $("#alertText").html(textToshow);
            document.getElementById("alertLink").href = link;
            $("#alert").fadeIn(1000, function () {
                $("#alertText").fadeIn(700);
            });
            timerId = setTimeout(function () {
                hideAlert();
            }, timeToShow);

            document.getElementById("alert").onmouseover = function () {

                clearTimeout(timerId);
            }

            document.getElementById("alert").onmouseout = function () {
                alert("Mouse out");
                timerId = setTimeout(function () {
                    hideAlert();
                }, timeToShow);
            }

        }

        function hideAlert() {
            $("#alert").fadeOut(700);
        }

    </script>
</head>
<body>
    <!-- loading animation -->
    <div id="qLoverlay">
    </div>
    <div id="qLbar">
    </div>
    <div id="header">
        <h1>
            <a href="">Home</a></h1>
    </div>
    <div id="search">
        <input type="text" placeholder="Search here..." />
        <button type="submit" class="tip-right" title="Search">
            <i class="icon-search icon-white"></i>
        </button>
    </div>
    <div id="user-nav" class="navbar navbar-inverse">
        <ul class="nav btn-group">
            <li class="btn btn-inverse"><a title="" href="#"><i class="icon icon-user"></i><span
                class="text">Profile</span></a></li>
            <li class="btn btn-inverse dropdown" id="menu-messages"><a href="#" data-toggle="dropdown"
                data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-envelope">
                </i><span class="text">Messages</span> <span class="label label-important">5</span>
                <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a class="sAdd" title="" href="#">new message</a></li>
                    <li><a class="sInbox" title="" href="#">inbox</a></li>
                    <li><a class="sOutbox" title="" href="#">outbox</a></li>
                    <li><a class="sTrash" title="" href="#">trash</a></li>
                </ul>
            </li>
            <li class="btn btn-inverse"><a title="" href="#"><i class="icon icon-cog"></i><span
                class="text">Settings</span></a></li>
            <li class="btn btn-inverse"><a title="" href="/Account/Logoff"><i class="icon icon-share-alt">
            </i><span class="text">Logout</span></a></li>
        </ul>
    </div>
    <div id="sidebar">
        <a href="#" class="visible-phone"><i class="icon icon-home"></i>Dashboard</a>
        <ul>
            <li class="active"><a href="/Dashboard"><i class="icon icon-home"></i><span>Dashboard</span></a></li>
            <li class="submenu1"><a class="plans" href="#"><i class="icon icon-th-list"></i><span>Plans</span>
                <span class="label">3</span></a>
                <ul>
                    <li><a href="/Plans/AutoScheduleCollectionPlan">Collection Plans</a></li>
                    <li><a href="/Plans/AutoScheduleDeliveryPlan">Delivery Plans</a></li>
                    <li><a href="">Returned Plans</a></li>
                </ul>
            </li>
            <li><a href="/Requests"><i class="icon icon-tint"></i><span>Requests</span></a></li>
            <li><a href="/Orders"><i class="icon icon-pencil"></i><span>Orders</span></a></li>
            <li><a href="/Customers"><i class="icon icon-th"></i><span>Customers</span></a></li>
            <li class="submenu2"><a class="config" href="#"><i class="icon icon-file"></i><span>Options Config</span>
                <span class="label">6</span></a>
                <ul>
                    <li><a href="/Hubs">Hubs</a></li>
                    <li><a href="/OrderPaymentTypes">Order Payment Types</a></li>
                    <li><a href="">Delivery Options</a></li>
                    <li><a href="/CityProvinces/">Cities/Provinces</a></li>
                    <li><a href="/Districts/">Districts</a></li>
                    <li><a href="/Wards/">Wards</a></li>
                </ul>
            </li>
            <li><a href=""><i class="icon icon-signal"></i><span>Charts &amp; Reports</span></a>
            </li>
        </ul>
    </div>
    <div id="content">
        <div class="container-fluid">
            <div class="row-fluid">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- End #content -->
    <script type="text/javascript">


        var plan = $('.submenu1 > ul');
        $('.plans').click(function (e) {
            e.preventDefault();
            var sidebar = $('#sidebar');
            if (sidebar.hasClass('open')) {
                sidebar.removeClass('open');
                plan.slideUp(250);
            } else {
                sidebar.addClass('open');
                plan.slideDown(250);
            }
        });

        var config = $('.submenu2 > ul');
        $('.config').click(function (e) {
            e.preventDefault();
            var sidebar = $('#sidebar');
            if (sidebar.hasClass('open')) {
                sidebar.removeClass('open');
                config.slideUp(250);
            } else {
                sidebar.addClass('open');
                config.slideDown(250);
            }
        });

        $(function () {
            //checkNotifications();
        });

        function makeHtml(data) {
            var html = "<ul>";
            html += '<li><a href="' + data.link + '"/>' + data.content + "</li>";
            html += "</ul>";

            alert(html);

            return html;
        }

        function checkNotifications() {

            var timerId, delay = 5000;
            var a = $("#alert");

            a.onmouseover = function () {
                clearTimeout(timerId);
            };

            a.onmouseout = function () {

                timerId = setTimeout(function () {
                    a.hide();
                }, delay);
            };

            $.post("/Notification", null, function (data, s) {
                if (data.d) {
                    showAlert(data.content, data.link, 5000);

                    //create Notifications widget
                    document.getElementById("notificationBox").innerHTML = makeHtml(data); // "<ul><li>Con mat may</li></ul>"; //makeHtml();//<ul><li>Con mat may</li></ul>

                    clearTimeout(timerId);
                }

                checkNotifications();
            })
        };

        function editGlobeIcon() {

        }

             
    </script>
    <!-- End #wrapper -->
    <!-- Le javascript
    ================================================== -->
    @*<script type="text/javascript" src="../../ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap/bootstrap.js"></script>  
    <script type="text/javascript" src="js/jquery.cookie.js"></script>
    <script type="text/javascript" src="js/jquery.mousewheel.js"></script>*@
    <!-- Load plugins -->
    @*<script type="text/javascript" src="/js/plugins/qtip/jquery.qtip.min.js"></script>
    <script type="text/javascript" src="/js/plugins/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="/js/plugins/flot/jquery.flot.grow.js"></script>
    <script type="text/javascript" src="/js/plugins/flot/jquery.flot.pie.js"></script>
    <script type="text/javascript" src="/js/plugins/flot/jquery.flot.resize.js"></script>
    <script type="text/javascript" src="/js/plugins/flot/jquery.flot.tooltip_0.4.4.js"></script>
    <script type="text/javascript" src="/js/plugins/flot/jquery.flot.orderBars.js"></script>

    <script type="text/javascript" src="/js/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="/js/plugins/knob/jquery.knob.js"></script>
    <script type="text/javascript" src="/js/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script type="text/javascript" src="/js/plugins/prettify/prettify.js"></script>

    <script type="text/javascript" src="/js/plugins/watermark/jquery.watermark.min.js"></script>
    <script type="text/javascript" src="/js/plugins/elastic/jquery.elastic.js"></script>
    <script type="text/javascript" src="/js/plugins/inputlimiter/jquery.inputlimiter.1.3.min.js"></script>
    <script type="text/javascript" src="/js/plugins/maskedinput/jquery.maskedinput-1.3.min.js"></script>
    <script type="text/javascript" src="/js/plugins/ibutton/jquery.ibutton.min.js"></script>
    <script type="text/javascript" src="/js/plugins/uniform/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="/js/plugins/stepper/ui.stepper.js"></script>
    <script type="text/javascript" src="/js/plugins/color-picker/colorpicker.js"></script>
    <script type="text/javascript" src="/js/plugins/timeentry/jquery.timeentry.min.js"></script>
    <script type="text/javascript" src="/js/plugins/select/select2.min.js"></script>
    <script type="text/javascript" src="/js/plugins/dualselect/jquery.dualListBox-1.3.min.js"></script>
    <script type="text/javascript" src="/js/plugins/tiny_mce/jquery.tinymce.js"></script>
    <script type="text/javascript" src="/js/plugins/validate/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/js/plugins/search/tipuesearch_set.js"></script>
    <script type="text/javascript" src="/js/plugins/search/tipuesearch_data.js"></script><!-- JSON for searched results -->
    <script type="text/javascript" src="/js/plugins/search/tipuesearch.js"></script>

    <script type="text/javascript" src="/js/plugins/animated-progress-bar/jquery.progressbar.js"></script>
    <script type="text/javascript" src="/js/plugins/pnotify/jquery.pnotify.min.js"></script>
    <script type="text/javascript" src="/js/plugins/lazy-load/jquery.lazyload.min.js"></script>
    <script type="text/javascript" src="/js/plugins/jpages/jPages.min.js"></script>
    <script type="text/javascript" src="/js/plugins/pretty-photo/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/js/plugins/smartWizzard/jquery.smartWizard-2.0.min.js"></script>

    <script type="text/javascript" src="/js/plugins/ios-fix/ios-orientationchange-fix.js"></script>

    <script type="text/javascript" src="/js/plugins/dataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/js/plugins/elfinder/elfinder.min.js"></script>
    <script type="text/javascript" src="/js/plugins/plupload/plupload.js"></script>
    <script type="text/javascript" src="/js/plugins/plupload/plupload.html4.js"></script>
    <script type="text/javascript" src="/js/plugins/plupload/jquery.plupload.queue/jquery.plupload.queue.js"></script>
    <script type="text/javascript" src="/js/plugins/totop/jquery.ui.totop.min.js"></script> 

    <!-- Init plugins -->
    <script type="text/javascript" src="js/statistic.js"></script><!-- Control graphs ( chart, pies and etc) -->*@
    <!-- Important Place before main.js  -->
    @*<script type="text/javascript" src="../../ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/plugins/touch-punch/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>*@
</body>
</html>
