﻿@model IEnumerable<SMDH.Models.CustomerAddress>
@{
    ViewBag.Title = "Customer Address";
    ViewBag.Heading = "Customer Address";
}
@if (false)
{ 
    <script src="/js/jquery-1.8.2-vsdoc.js" type="text/javascript"></script>
}
<link rel="stylesheet" type="text/css" href="/css/DT_bootstrap.css" />
<link href="/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" language="javascript" src="/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf-8" language="javascript" src="/js/DT_bootstrap.js"></script>
<script src="/js/dataTables.bootstrap.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="/js/crud.js" type="text/javascript"></script>

<table class="table table-striped table-bordered" id="main-table">
    <thead>
        <tr>
            @*<th class="hide">
                CustomerAddressId
            </th>*@
            @*<th class="hide">
                CustomerId
            </th>*@
            <th>
                Full Address
            </th>
            @*<th>
                Street
            </th>
            <th>
                Ward
            </th>
            <th>
                District
            </th>
            <th>
                City/Province
            </th>
            <th>
                Requests
            </th>
            <th>
                Customer
            </th>
            <th>
                Ward
            </th>
            *@
            <th class="tbl-status-col">
                Status
            </th>
            <th class="tbl-status-col">
                Action
            </th>
            @*<th>
                Note
            </th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td class="hide">
                    @item.CustomerAddressId
                </td>*@
                @*<td class="hide">
                    @item.CustomerId
                </td>*@
                <td>
                    @item.FullAddress
                </td>
                @*<td>
                    @item.Address
                </td>
                <td>
                    @(item.Ward == null ? "None" : item.Ward.Name)
                </td>
                <td>
                    @(item.Ward.District.Name == null ? "None" : item.Ward.District.Name)
                </td>
                <td>
                    @(item.Ward.District.CityProvince.Name == null ? "None" : item.Ward.District.CityProvince.Name)
                </td>
                <td>
                    @(item.Requests == null ? "None" : item.Requests.Count.ToString())
                </td>*@
                <td class="">
                    <a class="toggleActivate" href="#">
                        @if (item.IsActive)
                        {
                            <img src="/img/icons2/checkmark2.png" width="18px" height="18px" alt="Active - Click to Deactivate"
                                title="Active - Click to Deactivate" />
                        }
                        else
                        {
                            <img src="/img/icons2/delete.png" width="18px" height="18px" alt="Inactive - Click to Activate"
                                title="Deactive - Click to Activate" />
                        }
                    </a>
                </td>
                <td class="">
                    <a class="btn action edit" href="javascript:void(0)" onclick="edit(@item.CustomerAddressId)">
                        <img src="/img/icons/pencil.png" alt="Edit" title="Edit" /></a>
                </td>
                @* <td>
                    @item.Note
                </td>*@
            </tr>
        }
    </tbody>
</table>
<!-- Begin "Create" Modal -->
<div class="modal hide fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
</div>
<!-- End "Create" Modal -->
<!-- Begin "Edit" Modal -->
<div class="modal hide fade" id="editModal">
</div>
<!-- End "Edit" Modal -->
