﻿@model HDMS.Models.Contact
@* This partial view defines form fields that will appear when creating and editing entities *@
<script src="/js/chosen.jquery.js" type="text/javascript"></script>
<script src="/js/bootstrap-typeahead.js" type="text/javascript"></script>
<div class="form-horizontal">
    <div class="control-group">
        <label class="control-label">
            Title <span style="color:Red">*</span>
        </label>
        <div class="controls">
            @Html.DropDownListFor(model => model.Title, ViewBag.PossibleTitles as SelectList, new { id = "title", Autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.Title)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Full Name <span style="color:Red">*</span>
        </label>
        <div class="controls">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Position
        </label>
        <div class="controls">
            @Html.TextBoxFor(model => model.Position, new { id = "position", Autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.Position)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Email Address <span style="color:Red">*</span>
        </label>
        <div class="controls">
            @Html.EditorFor(model => model.EmailAddress)
            @Html.ValidationMessageFor(model => model.EmailAddress)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Phone Number <span style="color:Red">*</span>
        </label>
        <div class="controls">
            @Html.EditorFor(model => model.PhoneNumber)
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>
    </div>
</div>
@*<div class="editor-label">
    Customer
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.CustomerId, ((IEnumerable<HDMS.Models.Customer>)ViewBag.PossibleCustomers).Select(option => new SelectListItem
{
    Text = (option == null ? "None" : option.CompanyName),
    Value = option.CustomerId.ToString(),
    Selected = (Model != null) && (option.CustomerId == Model.CustomerId)
}), "-- Choose a Customer --", new { Class = "chzn-select" })
    @Html.ValidationMessageFor(model => model.CustomerId)
</div>*@ @*tạm thời gán CustomerId cứng*@
<input type="hidden" name="CustomerId" id="CustomerId" value="" />
<script type="text/javascript">
    $('#Title').typeahead({
        source: [
            { id: 1, name: 'Mr' },
            { id: 2, name: 'Mrs' },
            { id: 3, name: 'Ms' },
        ]
    });
</script>
<script type="text/javascript">
    $('#Position').typeahead({
        source: [
            { id: 1, name: 'Manager' },
            { id: 2, name: 'Sale Executive' },
            { id: 3, name: 'Deliverer' },
        ]
    });
</script>
