﻿@model IQueryable<SMDH.Models.Order>
@{
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        ×</button>
    <h3 id="myModalLabel">
        Add Existing Order</h3>
</div>
<div class="modal-body">
    <input type="hidden" id="requestId" value="@ViewBag.RequestId" />
    <table id="sendingtohub" class="table table-bordered">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="checkallinhub" name="title-table-checkbox" />
                </th>
                <th style="width: 70px;">
                    OrderID
                </th>
                <th style="width: 70px;">
                    Item No.
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Due Date
                </th>           
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" class="checksth" id="@item.OrderId" />
                    </td>
                    <td>
                        @item.OrderId
                    </td>
                    <td>
                        @item.Items.Count
                    </td>
                    <td>
                        @(String.Format("{0,12:N0}", item.AmountToBeCollectedFromReceiver))
                        VND
                    </td>
                    <td>
                        @item.CreatedDate
                    </td>                  
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" id="btnAddToRequest">
        Add To Request</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">
        Cancel</button>
    
</div>
<script type="text/javascript">
    var strList = new Array();
    $("#checkallinhub").click(function () {
        if ($(this).is(":checked")) {
            $('.checksth').prop('checked', true);

        } else {
            $('.checksth').prop('checked', false);
        }
    });

    $('#btnAddToRequest').click(function () {
        strList = new Array();
        $('.checksth:checked').each(function (index) {
            strList.push($(this).attr('id'));
        });
        $.post("/Customer/Requests/AddExistingOrdersToRequest", { requestId: $('#requestId').val(), orderStringList: strList.toString() }, function (data) {
            if (data.success) {
                window.location.reload();
            } else {
                bootbox.alert("Can't add order(s) to request!");
            }
        });
    });
</script>