@model SMDH.Models.Order

@{
    Layout = null;
}
<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×</button>
        <h3 id="myModalLabel">
            Create new Order</h3>
    </div>
    <div class="modal-body">
        @using (Html.BeginForm("ConfirmCreate", "Orders", FormMethod.Post, new { id = "order-create-form", Class = "form-horizontal" }))
        {
            @Html.HiddenFor(model => model.RequestId, new { Value = ViewBag.RequestId })
            @Html.Partial("_CreateOrEdit", Model)
        }
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary"  id="btnOrderCreate">
            Create</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            Cancel</button>
    </div>

<script>
    $(".chzn-select").chosen();    

    setupOrderCreateForm();

    $('#btnOrderCreate').click(function () {
        $('#order-create-form').submit();
        window.location.reload();
    });
</script>