﻿@model SMDH.Models.Order
@using SMDH.Models.Statuses;
@using System.Text.RegularExpressions;
@{
    ViewBag.Title = "Order Details";
    ViewBag.Heading = "Order Details";
}
@*<div class="order-details">
    <div class="green-bordered order-info">
        <div class="row-fluid">
            <div class="col-left" style="width: 30%; min-width: 275px; float: left">
                <dl class="dl-horizontal">
                    <dt>Customer: </dt>
                    <dd>
                        @ViewBag.Customer</dd>
                    <dt>Created Date: </dt>
                    <dd>
                        @String.Format("{0:dd/MM/yyyy hh:mm tt}", Model.CreatedDate)
                    </dd>
                    <dt>Amount To Collect: </dt>
                    <dd>
                        @String.Format("{0:N0}", Model.AmountToBeCollectedFromReceiver) VNĐ</dd>
                    <dt>Fee: </dt>
                    <dd>
                        @if (Model.Fee != null)
                        {
                            @Model.Fee <text>VNĐ</text>
                        }
                        else
                        {
                            <span class="label label-important">Not set yet</span><text>&nbsp;</text>
                        }
                    </dd>
                </dl>
            </div>
            <div class="col-center" style="width: 27%; min-width: 260px; float: left">
                <dl class="dl-horizontal">
                    <dt>Properties: </dt>
                    <dd>
                        <span class="label label-success">@Model.DeliveryOption.Name</span> <span class="label label-info">@Model.OrderPaymentType.Name</span>&nbsp;
                    </dd>
                    <dt>Receiver Name: </dt>
                    <dd>
                        @Model.ReceiverName</dd>
                    <dt>Receiver Phone: </dt>
                    <dd>
                        @Model.ReceiverPhone</dd>
                    <dt>Status: </dt>
                    <dd>
                        <span class="label label-warning">@Regex.Replace(Model.Status.ToString(), "(\\B[A-Z])", " $1")</span>&nbsp;
                    </dd>
                </dl>
            </div>
            <div class="col-right" style="width: 35%; min-width: 350px; float: left">
                <dl class="dl-horizontal">
                    <dt>Due Date: </dt>
                    <dd>
                        @if (Model.DueDate != null)
                        {
                            <span class="label label-important">@String.Format("{0:dd/MM/yyyy hh:mm tt}", Model.DueDate)</span><text>&nbsp;</text>
                        }
                        else
                        {
                            <span class="label label-important">Not set yet</span><text>&nbsp;</text>
                        }
                    </dd>
                    <dt>Note: </dt>
                    <dd>
                        @if (string.IsNullOrWhiteSpace(Model.Note))
                        {
                            <text>None</text>
                        }
                        else
                        {
                            <text>@Model.Note</text>
                        }
                    </dd>
                    <dt>Receiver Address: </dt>
                    <dd>
                        @Model.FullAddress</dd>
                </dl>
            </div>
        </div>
    </div>
    <h3>Items</h3>
    <table class="table table-striped table-bordered" id="main-table">
        <thead>
            <tr>
                <th>Name
                </th>
                <th>Quantity
                </th>
                <th>Properties
                </th>
                <th>Size
                </th>
                <th>Weight
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Items)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        @if (item.IsFragile)
                        { 
                            <span class="label label-info">Fragile</span><text>&nbsp;</text> }
                        @if (item.HasHighValue)
                        { 
                            <span class="label label-success">High Value</span><text>&nbsp;</text> }
                    </td>
                    <td>
                        @item.Size
                    </td>
                    <td>
                        @item.Weight
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>*@
<div class="row-fluid">
    @if (Model.OrderStatus == (int)OrderStatus.PlannedForCollecting)
    { 
        <a class="btn btn-primary" href="/Customer/Orders?status=plannedforcollecting">Back to Index</a>
    }

    @if (Model.OrderStatus == (int)OrderStatus.Delivering)
    { 
        <a class="btn btn-primary" href="/Customer/Orders?status=delivering">Back to Index</a>
    }
    
</div>
<div class="row-fluid" style="margin-top: 10px;">
    <div class="span12">
        <div class="span6">
            <div class="widget">
                <div class="widget-body">
                    <form class="no-margin">
                        <div class="control-group">
                            <label class="control-label" for="name">
                                Created Date: @String.Format("{0:dd/MM/yyyy hh:mm tt}", Model.CreatedDate)
                            </label>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="name">
                                Amount To Collect: : @String.Format("{0:N0}", Model.AmountToBeCollectedFromReceiver) VNĐ
                            </label>
                            <label class="control-label" for="name">
                                Fee:   @if (Model.Fee != null)
                                       {
                                    @String.Format("{0:N0}", Model.Fee) @:VNĐ <text>VNĐ</text>
                        }
                                       else
                                       {
                                    <span class="label label-important">Not set yet</span><text>&nbsp;</text>
                                       }
                            </label>
                            <label class="control-label" for="name">
                                Properties : <span class="label label-success">@Model.DeliveryOption.Name</span>
                                <span class="label label-info">@Model.OrderPaymentType.Name</span>
                            </label>
                            <label class="control-label" for="name">
                                Receiver Name : @Model.ReceiverName
                            </label>
                            <label class="control-label" for="name">
                                Receiver Phone : @Model.ReceiverPhone
                            </label>
                            <label class="control-label" for="name">
                                Due Date :  @if (Model.DueDate != null)
                                            {
                                    <span class="label label-important">@String.Format("{0:dd/MM/yyyy hh:mm tt}", Model.DueDate)</span><text>&nbsp;</text>
                                            }
                                            else
                                            {
                                    <span class="label label-important">Not set yet</span><text>&nbsp;</text>
                                            }
                            </label>


                        </div>

                        <div class="control-group">
                            <label class="control-label" for="name">
                                Note :
                                                @if (string.IsNullOrWhiteSpace(Model.Note))
                                                {
                                                    <text>None</text>        
                                                }
                                                else
                                                {
                                                    @Model.Note
                                                }
                            </label>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="name">
                                Delivery Address : @Model.FullAddress
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="widget">
                <div class="widget-header">
                    <div class="title">
                        Items
                    </div>
                </div>
                <div class="widget-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Name
                                </th>
                                <th>Weight
                                </th>
                                <th>Quantity
                                </th>
                                <th>Properties
                                </th>
                                <th>Note
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Items)
                            {
                                <tr>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>@item.Weight
                                    </td>
                                    <td>@item.Quantity
                                    </td>
                                    <td>
                                        @if (!item.IsFragile && !item.HasHighValue)
                                        { <text>None</text> }
                                        @if (item.IsFragile)
                                        {<span class="label label-success">Fragile</span><text>&nbsp;</text>}
                                        @if (item.HasHighValue)
                                        {<span class="label label-info">High Value</span><text>&nbsp;</text>}
                                    </td>
                                    <td>
                                        @if (string.IsNullOrWhiteSpace(item.Note))
                                        {
                                            <text>None</text>        
                                        }
                                        else
                                        {
                                            @item.Note
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>


