﻿@model IEnumerable<SMDH.Models.Order>
@using System.Text.RegularExpressions;
@using SMDH.Models.Statuses
@{
    ViewBag.Title = "Index";
    ViewBag.Heading = "Orders Management";
}
@if (false)
{ 
    <script src="/js/jquery-1.8.2-vsdoc.js" type="text/javascript"></script>
}
<link rel="stylesheet" type="text/css" href="/css/DT_bootstrap.css" />
<link href="/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" language="javascript" src="/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf-8" language="javascript" src="/js/DT_bootstrap.js"></script>
<script src="/js/dataTables.bootstrap.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<link href="/css/chosen.css" rel="stylesheet" type="text/css" />
<link href="/css/datepicker.css" rel="stylesheet" type="text/css" />
<script src="/js/chosen.jquery.js" type="text/javascript"></script>
<script src="/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="/js/date-picker/date.js" type="text/javascript"></script>
<script src="/js/date-picker/daterangepicker.js" type="text/javascript"></script>
<link href="/css/timepicker.css" rel="stylesheet" type="text/css" />
<script src="/js/bootstrap-datepicker.js" type="text/javascript"></script>
@*<div class="widget-box">
    <div class="widget-title">
        <span class="icon"><i class="icon-shopping-cart"></i></span>
        <h5>
            Order Tables</h5>
    </div>
    <div class="widget-content">
        <ul class="nav nav-tabs" id="myTab">
            <li><a href="#1"><i class="icon icon-road"></i><span>Draft</span> <span class="label">@ViewBag.NumberOfOrders[0]</span></a></li>
            <li><a href="#2"><i class="icon icon-download-alt"></i><span>Approved</span> <span
                class="label">@ViewBag.NumberOfOrders[1]</span></a></li>
            <li><a href="#3"><i class="icon icon-ok"></i><span>Delivered</span> <span class="label">@ViewBag.NumberOfOrders[2]</span></a></li>
            <li><a href="#4"><i class="icon icon-refresh"></i><span>Waiting For Return</span> <span
                class="label">@ViewBag.NumberOfOrders[3]</span></a></li>
            <li><a href="#5"><i class="icon icon-share-alt"></i><span>Returned</span> <span class="label">@ViewBag.NumberOfOrders[4]</span></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="1">
                <div class="span8">
                    <table id="draftOrders" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" id="checkallinhub" name="title-table-checkbox" />
                                </th>
                                <th style="width: 70px;">
                                    OrderID
                                </th>
                                <th style="width: 70px;">
                                    Item No.
                                </th>
                                <th>
                                    Created Date
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="2">
                <div class="span9 offset1">
                    <table id="approvedOrders" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" id="checkallinhub" name="title-table-checkbox" />
                                </th>
                                <th style="width: 70px;">
                                    OrderID
                                </th>
                                <th style="width: 70px;">
                                    Item No.
                                </th>
                                <th>
                                    Created Date
                                </th>
                                <th>
                                    Approved Date
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="3">
                <div class="span9 offset1">
                    <table id="deliveredOrders" class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 70px;">
                                    OrderID
                                </th>
                                <th style="width: 70px;">
                                    Item No.
                                </th>
                                <th>
                                    Due Date
                                </th>
                                <th>
                                    Delivery Date
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="4">
                <div class="span9 offset1">
                    <table id="WaitingForReturn" class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 70px;">
                                    OrderID
                                </th>
                                <th style="width: 70px;">
                                    Item No.
                                </th>
                                <th>
                                    Due Date
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="5">
                <div class="span9 offset1">
                    <table id="Return" class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 70px;">
                                    OrderID
                                </th>
                                <th style="width: 70px;">
                                    Item No.
                                </th>
                                <th>
                                    Collected Date
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>*@
@using (Html.BeginForm("RequestListByStatus", "Orders", FormMethod.Post, new { id = "statusFilter" }))
{ 
    <fieldset>
        <div class="row-fluid">
            <div class="span10">
                <div class="checkButtonStatus">
                    <div class="row-fluid">
                        <div class="btn-group pull-left" data-toggle="buttons-checkbox" style="white-space: normal">
                            <button type="button" class="btn btn-inverse pull-left" id="checkAll">
                                All</button>
                            <button type="button" class="sttDraft btn status" data-status="draft">
                                Need to approve</button>
                            <button type="button" class="sttApproved btn status" data-status="approved">
                                Approved</button>
                            <button type="button" class="sttRejected btn status" data-status="rejected">
                                Rejected</button>
                            <button type="button" class="sttPlannedForCollecting btn status" data-status="plannedForCollecting">
                                Requested</button>
                            <button type="button" class="sttDelivering btn status" data-status="delivering">
                                Delivering</button>
                            <button type="button" class="sttToBeReturned btn status" data-status="toBeReturned">
                                To Be Returned</button>
                            <button type="button" class="sttReturned btn status" data-status="returned">
                                Returned</button>
                            @*<button type="button" class="btn status" data-status-id="13">
                                Finished</button>*@
                            <button type="button" class="btn btn-inverse" id="checkNone">
                                None</button>
                        </div>
                    </div>
                </div>
                <div id="dateFilterSelector" style="margin-top: 10px;">
                    <div class="row-fluid bordered">
                        <div class="pull-left" style="line-height: 40px; margin-right: 10px; font-weight: bold;">
                            Date Range Input:
                        </div>
                        <div class="pull-left" style="line-height: 40px; margin-right: 10px; font-weight: bold;">
                            <div class="input-append">
                                @if (ViewBag.StartDate != null)
                                {
                                    <input type="text" name="report_range1" id="report_range1" class="report_range" value="@ViewBag.StartDate to @ViewBag.EndDate"/>                            
                                }
                                else
                                {
                                    <input type="text" name="report_range1" id="report_range1" class="report_range" placeholder="29/01/2013 to 31/01/2013" />                            
                                }


                                <span class="add-on btn report_range" style="display: none">
                                    <i class="icon-calendar"></i>
                                </span>
                            </div>
                        </div>
                        <div class="span3">
                            <a href="/Customer/Orders/Index" class="btn btn-primary" id="filterall">All</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="span2">
                <a class="btn btn-primary" onclick="$(this).closest('form').submit()" id="btnFilter"
                    style="line-height: 40px;">Filter</a>
            </div>
        </div>
    </fieldset>
   
}
<div id="divTable">
    @Html.Partial("OrdersTable", Model)
</div>
<div class="modal hide fade" id="updateStatusModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×</button>
        <h3 id="myModalLabel">Update Orders Status</h3>
    </div>
    <div class="modal-body">
        <select id="ddlStatus">
            <option value="1">New</option>
            <option value="2">Verified</option>
            <option value="3">Canceled Before Collected</option>
            <option value="4">Planned For Collecting</option>
            @*<option value="5">Collecting</option>*@
            <option value="6">Collected</option>
            <option value="7">Canceled After Collected</option>
            <option value="8">Planned For Delivering</option>
            @*<option value="9">Delivering</option>
            <option value="10">Postponed</option>*@
            <option value="11">Delivered</option>
            <option value="12">Returned</option>
            @* <option value="13">Finished</option>*@
        </select>
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Update" id="btnUpdateStatus" />
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            Cancel</button>
    </div>
</div> 
<script type="text/javascript">
    @foreach (var status in ViewBag.SelectedStatuses)
    {
        if (status == (int)OrderStatus.Draft)
        {
            <text>$('.sttDraft').addClass('active');</text>
        }
        if (status == (int)OrderStatus.New)
        {
            <text>$('.sttNew').addClass('active');</text>
        }
        if (status == (int)OrderStatus.Approved)
        {
            <text>$('.sttApproved').addClass('active');</text>
        }
        if (status == (int)OrderStatus.PlannedForCollecting)
        {
            <text>$('.sttPlannedForCollecting').addClass('active');</text>
        }
        if (status == (int)OrderStatus.Collected)
        {
            <text>$('.sttCollected').addClass('active');</text>
        }
        if (status == (int)OrderStatus.ToBeReturned)
        {
            <text>$('.sttToBeReturned').addClass('active');</text>
        }
        if (status == (int)OrderStatus.PlannedForDelivering)
        {
            <text>$('.sttPlannedForDelivering').addClass('active');</text>
        }
        if (status == (int)OrderStatus.Delivering)
        {
            <text>$('.sttDelivering').addClass('active');</text>
        }

        if (status == (int)OrderStatus.Delivered)
        {
            <text>$('.sttDelivered').addClass('active');</text>
        }
        if (status == (int)OrderStatus.Returned)
        {
            <text>$('.sttReturned').addClass('active');</text>
        }
        if (status == (int)OrderStatus.Rejected)
        {
            <text>$('.sttRejected').addClass('active');</text>
        }
        if (status == (int)OrderStatus.Canceled)
        {
            <text>$('.sttCanceled').addClass('active');</text>
        }
    }
    
    @if (ViewBag.StartDate != null)
    {
        <text>$('#startDateFilter').val("@ViewBag.StartDate")</text>
    }
    @if (ViewBag.EndDate != null)
    {
        <text>$('#endDateFilter').val("@ViewBag.EndDate")</text>
    }

    var selectedStatusIds = [1, 2, 4, 6, 7, 8];
    var allStatus = [0, 1, 2, 4, 6, 7, 8, 11, 12];

    $('.checkButtonStatus .btn').click(function () {
        //get status of current button that pressed
        var status = $(this).data('status-id');
        //checking if that status is exist in the array or not
        var result = in_array(selectedStatusIds, status);
        if (result == true) {
            var removeItem = status;
            //remove the value of status that was pressed again(mean not checked)
            selectedStatusIds = jQuery.grep(selectedStatusIds, function (value) {
                return value != removeItem;
            });
            //alert(selectedStatusIds);
        }
        else if (result == false) {
            //add it to the array
            selectedStatusIds.push(status);
        }
    });

    $('#checkAll').click(function () {
        $('.checkButtonStatus .btn-group .btn.status').addClass("active");
        selectedStatusIds = allStatus;
    });

    $('#checkNone').click(function () {
        $('.checkButtonStatus .btn-group .btn.status').removeClass("active");
        selectedStatusIds = new Array();
    });

    //    $('#statusFilter').submit(function () {
    //        $.ajaxSettings.traditional = true;
    //        $.ajax({
    //            type: 'POST',
    //            url: '/Orders/RequestListByStatus/',
    //            data: {
    //                selectedStatusIds: selectedStatusIds,
    //                startDate: $('#startDateFilter').val(),
    //                endDate: $('#endDateFilter').val()
    //            },
    //            success: function (result) {
    //                $('#divTable').html(result);
    //                //$('#main-table').dataTable();
    //                setupCrud('Orders')
    //            },
    //            async: false
    //        });
    //        return false;
    //    });

    $('#statusFilter').submit(function () {
        urlParams = '';
        $.each($('.checkButtonStatus .btn-group .btn.status'), function (index, btn) {
            if ($(btn).hasClass('active')) {
                urlParams += '&status=' + $(btn).data('status');
            }
        });
        if ($('#report_range1').val() != '') {
            //getDateFromFormat($('#startDateFilter').val(),'dd/MM/y');
            var dateRangeParts = $('#report_range1').val().split("to");
            var dateParts = dateRangeParts[0].split("/");
            urlParams += '&startDate=' + dateParts[0] + dateParts[1] + dateParts[2];
        }
        if ($('#report_range1').val() != '') {
            //getDateFromFormat($('#startDateFilter').val(),'dd/MM/y');
            var dateRangeParts = $('#report_range1').val().split("to");
            var dateParts = dateRangeParts[1].split("/");
            urlParams += '&endDate=' + dateParts[0] + dateParts[1] + dateParts[2];
        }
        $.blockUI();
        window.location = '/Customer/Orders?' + urlParams;
        return false;
    });

    function in_array(array, id) {
        for (var i = 0; i < array.length; i++) {
            if (array[i] == id) {
                return true;
            }
        }
        return false;
    }

    function toggleStatus() {
        if ($('#toggleElement').is(':checked')) {
            $('#dateFilterSelector input.datepicker').attr('disabled', true);
            $('#dateFilterSelector input.datepicker').val("");
        }
        else {
            $('#dateFilterSelector :input').removeAttr('disabled');
        }
    }

    $('.datepicker').datepicker({ format: "dd/mm/yyyy" });

    var showUpdateStatusModal = function (OrderId, currentStatus) {
        $('#ddlStatus option[value="' + currentStatus + '"]').attr('selected', 'selected');
        $('#updateStatusModal').modal();

        $('#btnUpdateStatus').click(function () {
            updateOrderStatus(OrderId);
        });
    };

    var updateOrderStatus = function (OrderId) {
        var status = $('#ddlStatus option:selected').val();
        $.post('/Customer/Orders/UpdateStatus/', { OrderId: OrderId, newStatus: status }, function (result) {
            if (result.success) {
                window.location = '/Orders';

            }
        });
    };

    var cancelOrder = function (orderId) {
        bootbox.confirm("Are you sure to cancel/delete this order?", function (result) {
            if (result) {
                $.post('/Customer/Orders/Cancel/' + orderId, function (result) {
                    if (result.success) {
                        $.blockUI();
                        window.location.reload();
                    } else {
                        bootbox.alert('Unable to cancel/delete this order');
                    }
                });
            }
        });
    };

    $(document).ready(function () {
        setupDataTable();
    });

    var setupDataTable = function () {
        $('#main-table').dataTable({
            "bRetrieve": true,
            "sDom": "<'row-fluid'<'span6'><'span6'f>r>t<'row-fluid'<'span6'l><'span6'p>>",
            "aaSorting": [],
            "bAutoWidth": true,
            "aoColumns": [
                            null,
                            null,
                            null,
                            null,
                            null,
                            null,
                            null,
                            { "iDataSort": 8 },
                            { "bVisible": false },                                                   
                            { "bSortable": false }
            ],
            "aaSorting": [[8, "asc"]]
        });
    };

    var markAsReturned = function (orderId) {
        bootbox.confirm('Mark this order as returned?', function (confirmed) {
            if (confirmed) {
                $.post('/Customer/Orders/MarkAsReturned/' + orderId, function (result) {
                    if (result.success) {
                        $.blockUI();
                        window.location.reload();
                    }
                });
            }
        });
    };

    var approveOrder = function (orderId) {
      bootbox.confirm('Approve this order ?', function (confirmed) {
            if (confirmed) {
                $.post('/Customer/Orders/CustomerApprove/' + orderId, function (result) {
                    if (result.success) {
                        $.blockUI();
                        window.location.reload();
                    }
                });
            }
        });
    }

    var extendTime = function (orderId){
        bootbox.confirm('Extend time this order ?', function (confirmed) {
            if (confirmed) {
                $.post('/Customer/Orders/ExtendTime/' + orderId, function (result) {
                    if (result.success) {
                        $.blockUI();
                        window.location.reload();
                    }
                });
            }
        });
    }

    var getOrderBack = function (orderId){
        bootbox.confirm('Get back this order ?', function (confirmed) {
            if (confirmed) {
                $.post('/Customer/Orders/GetOrderBack/' + orderId, function (result) {
                    if (result.success) {
                        $.blockUI();
                        window.location.reload();
                    }
                });
            }
        });
    }

    var requestReDeliver = function (orderId){
        bootbox.confirm('Request redeliver this order ?', function (confirmed) {
            if (confirmed) {
                $.post('/Customer/Orders/RequestReDeliver/' + orderId, function (result) {
                    if (result.success) {
                        $.blockUI();
                        window.location.reload();
                    }
                });
            }
        });
    }

    var confirmReturned = function (orderId){
        bootbox.confirm('Confirm return this order ?', function (confirmed) {
            if (confirmed) {
                $.post('/Customer/Orders/ConfirmReturned/' + orderId, function (result) {
                    if (result.success) {
                        $.blockUI();
                        window.location.reload();
                    }
                });
            }
        });
    }

    var repricingApprove = function(orderId){
        bootbox.confirm('Approve this order\' price ?', function (confirmed) {
            if (confirmed) {
                $.post('/Customer/Orders/RePricingApprove/' + orderId, function (result) {
                    if (result.success) {
                        $.blockUI();
                        window.location.reload();
                    }
                });
            }
        });
    }

    var requestReprice = function(orderId){
        bootbox.confirm('Request reqprice this order?', function (confirmed) {
            if (confirmed) {
                $.post('/Customer/Orders/RequestReprice/' + orderId, function (result) {
                    if (result.success) {
                        $.blockUI();
                        window.location.reload();
                    }
                });
            }
        });
    }

    $('.report_range').daterangepicker({
        ranges: {
            'Today': ['today', 'today'],
            'Yesterday': ['yesterday', 'yesterday'],
            'Last 7 Days': [Date.today().add({
                days: -6
            }), 'today'],
            'Last 30 Days': [Date.today().add({
                days: -29
            }), 'today'],
            'This Month': [Date.today().moveToFirstDayOfMonth(), Date.today().moveToLastDayOfMonth()],
            'Last Month': [Date.today().moveToFirstDayOfMonth().add({
                months: -1
            }), Date.today().moveToFirstDayOfMonth().add({
                days: -1
            })]
        },
        opens: 'right',
        format: 'dd/MM/yyyy',
        separator: ' to ',
        startDate: Date.today().add({
            days: -29
        }),
        endDate: Date.today(),
        minDate: '01/01/2012',
        maxDate: '31/12/2013',
        locale: {
            applyLabel: 'Submit',
            fromLabel: 'From',
            toLabel: 'To',
            customRangeLabel: 'Custom Range',
            daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
            monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            firstDay: 1
        },
        showWeekNumbers: true,
        buttonClasses: ['btn-danger']
    },

  function (start, end) {
      $('.report_range span').html(start.toString('MMMM d, yyyy') + ' - ' + end.toString('MMMM d, yyyy'));
  });

    //Set the initial state of the picker label
    $('.report_range span').html(Date.today().add({
        days: -29
    }).toString('MMMM d, yyyy') + ' - ' + Date.today().toString('MMMM d, yyyy'));
</script>
