﻿@model SMDH.Models.Order
@{
    Layout = null;
}
           
<li>
    <div id="order-@Model.OrderId" class="ticket-container span12 ticket order-ticket">
        <div class="order-ticket-info">
            <div class="row-fluid">
                <div class="column left-column">
                    <dl class="dl-horizontal">
                        <dt>
                            <img src="/img/icons/user.png" title="Receiver Name" width="15px" />
                        </dt>
                        <dd>
                            @Model.ReceiverName</dd>
                        <dt>
                            <img src="/img/icons/phone.png" title="Receiver Phone" width="15px" />
                        </dt>
                        <dd>
                            @Model.ReceiverPhone</dd>
                    </dl>
                </div>
                <div class="column center-column">
                    <dl class="dl-horizontal">
                        <dt>
                            <img src="/img/icons/checkmark.png" title="Properties" width="15px" /></dt>
                        <dd>
                            <span class="label label-success">@Model.DeliveryOption.Name</span> <span class="label label-info">@Model.OrderPaymentType.Name</span>
                        </dd>
                        <dt>
                            <img src="/img/icons/coin.png" title="Amount to collect from receiver" width="15px" />
                        </dt>
                        <dd>
                            @Model.AmountToBeCollectedFromReceiver VNĐ</dd>
                    </dl>
                </div>
                <div class="column right-column">
                    <dl class="dl-horizontal">
                        <dt>
                            <img src="/img/icons/notepencil32.png" title="Note" width="15px" /></dt>
                        <dd>
                            @Model.Note</dd>
                    </dl>
                </div>
            </div>
            <div class="row-fluid">
                <dl class="dl-horizontal">
                    <dt><span style="font-size: 15px; color: #969696">@@</span> </dt>
                    <dd>
                        @Model.FullAddress</dd>
                </dl>
            </div>
        </div>
        <div class="ticket-btn-group">
            <a href="#" role="button" class="deleteOrder" data-toggle="modal">
                <img src="/img/icons2/cross.png" alt="Delete Order" title="Delete Order" width="15">
            </a><a href="#" role="button" class="editOrder" data-toggle="modal">
                <img src="/img/icons2/pencil.png" alt="Edit Order" title="Edit Order" width="15">
            </a><a href="#createItem" role="button" class="createItem" data-toggle="modal">
                <img src="/img/icons2/add.png" alt="Add New Item" title="Add New Item" width="15" />
            </a>
        </div>
    </div>
</li>
