@model HDMS.Models.Customer
@* This partial view defines form fields that will appear when creating and editing entities *@
<link rel="stylesheet" type="text/css" href="/css/DT_bootstrap.css" />
@*<div class="editor-label">
    Customer
</div>*@
<script src="jquery.js"></script>
<script src="/js/chosen.jquery.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $("#add").click(function () {
            $("table").append("<li>Appended item</li>");
        });
    });
</script>
<div>
    <ul id="customerTab" class="nav nav-tabs">
        <li class="active"><a href="#customer" data-toggle="tab">Information</a> </li>
        <li><a href="#address" data-toggle="tab">Address</a> </li>
        <li><a href="#contact" data-toggle="tab">Contact</a> </li>
    </ul>
    <div id="customerTabContain" class="tab-content">
        <div class="tab-pane active" id="customer">
            <div class="form-horizontal">
                <div class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label">
                            Company Name
                        </label>
                        <div class="controls">
                            @Html.EditorFor(model => model.CompanyName)
                            @Html.ValidationMessageFor(model => model.CompanyName)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            Display Name
                        </label>
                        <div class="controls">
                            @Html.EditorFor(model => model.DisplayName)
                            @Html.ValidationMessageFor(model => model.DisplayName)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            Phone Number
                        </label>
                        <div class="controls">
                            @Html.EditorFor(model => model.PhoneNumber)
                            @Html.ValidationMessageFor(model => model.PhoneNumber)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            Current Contract Code
                        </label>
                        <div class="controls">
                            @Html.EditorFor(model => model.CurrentContractCode)
                            @Html.ValidationMessageFor(model => model.CurrentContractCode)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            Note
                        </label>
                        <div class="controls">
                            @Html.TextAreaFor(model => model.Note)
                            @Html.ValidationMessageFor(model => model.Note)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="address">
            <button type="button" class="btn DTTT_button_text btn-success ">
                Add
            </button>
            <div class="form-horizontal">
                <div class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label">
                            City/Province
                        </label>
                        <div class="controls">
                            @Html.DropDownList("CityProvince", ViewBag.PossibleCityProvinces as SelectList, "-- Choose a City/Province --",
                new { id = "ddlCityProvince", Class = "chzn-select" })
                            @Html.ValidationMessage("CityProvince")
                            <script>
                                $('#ddlCityProvince').attr('data-val-required', 'The City/Province is required.');
                                $('#ddlCityProvince').attr('data-val', 'true')
                            </script>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            District
                        </label>
                        <div class="controls">
                            @Html.DropDownListFor(model => model.DistrictId, ViewBag.PossibleDistricts as SelectList, "-- Choose a District --", new { id = "ddlDistrict", Class = "chzn-select" })
                            @Html.ValidationMessageFor(model => model.DistrictId)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            Ward
                        </label>
                        <div class="controls">
                            @Html.DropDownListFor(model => model.WardId, ViewBag.PossibleWards as SelectList, "-- Choose a Ward --", new { id = "ddlWard", Class = "chzn-select" })
                            @Html.ValidationMessageFor(model => model.WardId)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">
                            Address
                        </label>
                        <div class="controls">
                            @Html.EditorFor(model => model.Address)
                            @Html.ValidationMessageFor(model => model.Address)
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-bordered" id="address-table">
                <thead>
                    <tr>
                        <th class="hide">
                            CustomerAddressId
                        </th>
                        <th>
                            Full Address
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model.CustomerAddresses)
                        {
                        <tr>
                            <th class="hide">
                                @item.CustomerAddressId
                            </th>
                            <td>
                                @item.FullAddress
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="contact">
            <button type="button" class="btn btn-primary">
                Add
            </button>
            <div class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">
                        Title
                    </label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.Title, new { id = "title", Autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        Full Name
                    </label>
                    <div class="controls">
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        Position
                    </label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.Position, new { id = "position", Autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.Position)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        Email Address
                    </label>
                    <div class="controls">
                        @Html.EditorFor(model => model.EmailAddress)
                        @Html.ValidationMessageFor(model => model.EmailAddress)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        PhoneNumber
                    </label>
                    <div class="controls">
                        @Html.EditorFor(model => model.PhoneNumber)
                        @Html.ValidationMessageFor(model => model.PhoneNumber)
                    </div>
                </div>
            </div>
            <table class="table table-striped table-bordered" id="contact-table">
                <thead>
                    <tr>
                        <th class="hide">
                            ContactId
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Full Name
                        </th>
                        <th>
                            Position
                        </th>
                        <th>
                            Email Address
                        </th>
                        <th>
                            Phone Number
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model.Contacts)
                        {
                        <tr>
                            <td class="hide">
                                @item.ContactId
                            </td>
                            <td>
                                @item.Title
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Position
                            </td>
                            <td>
                                @item.EmailAddress
                            </td>
                            <td>
                                @item.PhoneNumber
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#ddlCityProvince").change(function () {
        var id = $('#ddlCityProvince option:selected').val();
        if (id == '') id = -1;
        $.getJSON('/Customers/GetDistrictsOfCityProvince/' + id, function (data) {
            var items = '<option value>-- Choose a District --</option>';
            $.each(data, function (i, district) {
                items += "<option value='" + district.DistrictId + "'>" + district.Name + "</option>";
                // state.Value cannot contain ' character. We are OK because state.Value = cnt++;
            });
            $('#ddlDistrict').html(items);
            $('#ddlDistrict').removeAttr('data-val-number');
            $("form").removeData("validator");
            $("form").removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse("form");
            $('#ddlDistrict').trigger("liszt:updated");
        });
    });
    $(".chzn-select").chosen();
    $(".chzn-select-deselect").chosen({ allow_single_deselect: true });
    
</script>
<script type="text/javascript">
    $("#ddlDistrict").change(function () {
        var id = $('#ddlDistrict option:selected').val();
        if (id == '') id = -1;
        $.getJSON('/Customers/GetWardOfDistricts/' + id, function (data) {
            var items = '<option value>-- Choose a Ward --</option>';
            $.each(data, function (i, ward) {
                items += "<option value='" + ward.WardId + "'>" + ward.Name + "</option>";
                // state.Value cannot contain ' character. We are OK because state.Value = cnt++;
            });
            $('#ddlWard').html(items);
            $('#ddlWard').removeAttr('data-val-number');
            $("form").removeData("validator");
            $("form").removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse("form");
            $('#ddlWard').trigger("liszt:updated");
        });
    });
    $(".chzn-select").chosen();
    $(".chzn-select-deselect").chosen({ allow_single_deselect: true });
    
</script>
