@model HDMS.Models.Customer

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Customer</legend>

    <div class="display-label">CompanyName</div>
    <div class="display-field">@Model.CompanyName</div>

    <div class="display-label">DisplayName</div>
    <div class="display-field">@Model.DisplayName</div>

    <div class="display-label">PhoneNumber</div>
    <div class="display-field">@Model.PhoneNumber</div>

    <div class="display-label">CurrentContractCode</div>
    <div class="display-field">@Model.CurrentContractCode</div>

    <div class="display-label">IsActive</div>
    <div class="display-field">@Model.IsActive</div>

    <div class="display-label">Note</div>
    <div class="display-field">@Model.Note</div>

    <div class="display-label">Requests</div>
    <div class="display-field">@(Model.Requests == null ? "None" : Model.Requests.Count.ToString())</div>

    <div class="display-label">Contacts</div>
    <div class="display-field">@(Model.Contacts == null ? "None" : Model.Contacts.Count.ToString())</div>

    <div class="display-label">CustomerAddresses</div>
    <div class="display-field">@(Model.CustomerAddresses == null ? "None" : Model.CustomerAddresses.Count.ToString())</div>

    <div class="display-label">CustomerPayments</div>
    <div class="display-field">@(Model.CustomerPayments == null ? "None" : Model.CustomerPayments.Count.ToString())</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


