@model HDMS.Models.Customer

@{
    Layout = null;
}

@using (Html.BeginForm("ConfirmEdit", "Customers", FormMethod.Post))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;</button>
        <h3>
            Edit Customer</h3>
    </div>
    <div class="modal-body">
        @Html.ValidationSummary(true)
        <fieldset>            
            @Html.HiddenFor(model => model.CustomerId)
            @Html.HiddenFor(model => model.IsActive)
            @Html.Partial("_CreateOrEdit", Model)
        </fieldset>
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Save" />
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            Cancel</button>
    </div>
}
