@model IEnumerable<HDMS.Models.Customer>
@{
    ViewBag.Title = "Customers";
    ViewBag.Heading = "Customers";
}
@if (false)
{ 
    <script src="/js/jquery-1.8.2-vsdoc.js" type="text/javascript"></script>
}
<link rel="stylesheet" type="text/css" href="/css/DT_bootstrap.css" />
<link href="/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
<script src="/js/jquery.dataTables.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8" language="javascript" src="/js/DT_bootstrap.js"></script>
<script src="/js/dataTables.bootstrap.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="/js/crud.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        setupDataTable('Collection');
        $("div.tblBtnGroup").html('<a href="#createModal" role="button" data-toggle="modal" class="btn DTTT_button_text btn-success" id="btnNew"><span>Add</span></a>');
    });
</script>
<table class="table table-striped table-bordered" id="main-table">
    <thead>
        <tr>
            @*<th class="hide">
                Customer Id
            </th>*@
            <th>
                Company Name
            </th>
            <th>
                Display Name
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Current Contract Code
            </th>
            <th>
                Note
            </th>
            <th class="tbl-action-col">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td class="hide">
                    @item.CustomerId
                </td>*@
                <td>
                    @item.CompanyName
                </td>
                <td>
                    @item.DisplayName
                </td>
                <td>
                    @item.PhoneNumber
                </td>
                <td>
                    @item.CurrentContractCode
                </td>
                <td>
                    @item.Note
                </td>
                <td class="action-column">
                    <a class="btn action view" href="/Customers/Details/@item.CustomerId" title="View Details">
                        <img src="/img/icons/notepad.png" alt="View"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<!-- Begin "Create" Modal -->
<div class="modal hide fade customer-modal" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    @Html.Action("Create")
</div>
<!-- End "Create" Modal -->

<script>
    $("#btnNew").click(function () {
        $.ajax({
            url: '/Customers/Create',
            type: 'POST',
            success: function (data) {
                $('#createModal').html(data);
                $("form").removeData("validator");
                $("form").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse("form");
                $('.editor-field').keypress(function (e) {
                    if (e.which == 13) {
                        $(this).parents('form').submit();
                        e.preventDefault();
                        return false;
                    }
                });
                $('#createModal').modal();
            }
        });
    });

    $("#create-form").submit(function () {
        if ($(this).valid()) {
            $.ajax({
                type: 'POST',
                url: $(this).attr("action"),
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        window.location = 'Customers/Details/' + result.customerId;
                    } else {
                        bootbox.alert('Failed to create Customer!');
                    }
                },
                async: false
            });
        }
        return false;
    });

</script>