﻿<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>TicTac Delivery - @ViewBag.Title</title>
    <meta name="author" content="SuggeElson" />

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Le styles -->
    <!-- Use new way for google web fonts 
    http://www.smashingmagazine.com/2012/07/11/avoiding-faux-weights-styles-google-web-fonts -->
    <!-- Headings -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css' />  -->
    <!-- Text -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css' /> --> 
    <!--[if lt IE 9]>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:700" rel="stylesheet" type="text/css" />
    <![endif]-->

    <link href="/css/metro-ui.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/supr-theme/jquery.ui.supr.css" rel="stylesheet" type="text/css"/>
    <link href="/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="/css/gallery/modal.css" rel="stylesheet" />
    <link href="/css/validationEngine.jquery.css" rel="stylesheet" type="text/css" />
    <link href="/css/chosen.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/css/ie.css" rel="stylesheet" />
    <link href="/css/customized-bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />

    <!-- Plugin stylesheets -->
    @*<link href="plugins/qtip/jquery.qtip.css" rel="stylesheet" type="text/css" />
    <link href="plugins/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css" />
    <link href="plugins/jpages/jPages.css" rel="stylesheet" type="text/css" />
    <link href="plugins/prettify/prettify.css" type="text/css" rel="stylesheet" />
    <link href="plugins/inputlimiter/jquery.inputlimiter.css" type="text/css" rel="stylesheet" />
    <link href="plugins/ibutton/jquery.ibutton.css" type="text/css" rel="stylesheet" />
    <link href="plugins/uniform/uniform.default.css" type="text/css" rel="stylesheet" />
    <link href="plugins/color-picker/color-picker.css" type="text/css" rel="stylesheet" />
    <link href="plugins/select/select2.css" type="text/css" rel="stylesheet" />
    <link href="plugins/validate/validate.css" type="text/css" rel="stylesheet" />
    <link href="plugins/pnotify/jquery.pnotify.default.css" type="text/css" rel="stylesheet" />
    <link href="plugins/pretty-photo/prettyPhoto.css" type="text/css" rel="stylesheet" />
    <link href="plugins/smartWizzard/smart_wizard.css" type="text/css" rel="stylesheet" />
    <link href="plugins/dataTables/jquery.dataTables.css" type="text/css" rel="stylesheet" />
    <link href="plugins/elfinder/elfinder.css" type="text/css" rel="stylesheet" />
    <link href="plugins/plupload/jquery.ui.plupload/css/jquery.ui.plupload.css" type="text/css" rel="stylesheet" />
    <link href="plugins/search/tipuesearch.css" type="text/css" rel="stylesheet" />
*@
    <!-- Main stylesheets -->
    <link href="/css/main.css" rel="stylesheet" type="text/css" /> 
    <!-- Right to left version 
    <link href="/css/rtl.css" rel="stylesheet" type="text/css" /> -->

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le javascript -->
    <script src="/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="/js/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>  
    <script type="text/javascript" src="/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/js/jquery.mousewheel.min.js"></script>    

    <!-- Load plugins -->
    <script type="text/javascript" src="/js/plugins/qtip/jquery.qtip.min.js"></script>
    <script type="text/javascript" src="/js/plugins/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="/js/plugins/flot/jquery.flot.grow.js"></script>
    <script type="text/javascript" src="/js/plugins/flot/jquery.flot.pie.js"></script>
    <script type="text/javascript" src="/js/plugins/flot/jquery.flot.resize.js"></script>
    <script type="text/javascript" src="/js/plugins/flot/jquery.flot.tooltip_0.4.4.js"></script>
    <script type="text/javascript" src="/js/plugins/flot/jquery.flot.orderBars.js"></script>

    <script type="text/javascript" src="/js/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="/js/plugins/knob/jquery.knob.js"></script>
    <script type="text/javascript" src="/js/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script type="text/javascript" src="/js/plugins/prettify/prettify.js"></script>

    <script type="text/javascript" src="/js/plugins/watermark/jquery.watermark.min.js"></script>
    <script type="text/javascript" src="/js/plugins/elastic/jquery.elastic.js"></script>
    <script type="text/javascript" src="/js/plugins/inputlimiter/jquery.inputlimiter.1.3.min.js"></script>
    <script type="text/javascript" src="/js/plugins/maskedinput/jquery.maskedinput-1.3.min.js"></script>
    <script type="text/javascript" src="/js/plugins/ibutton/jquery.ibutton.min.js"></script>
    @*<script type="text/javascript" src="/js/plugins/uniform/jquery.uniform.min.js"></script>*@
    <script type="text/javascript" src="/js/plugins/stepper/ui.stepper.js"></script>
    <script type="text/javascript" src="/js/plugins/color-picker/colorpicker.js"></script>
    <script type="text/javascript" src="/js/plugins/timeentry/jquery.timeentry.min.js"></script>
    <script type="text/javascript" src="/js/plugins/select/select2.min.js"></script>
    <script type="text/javascript" src="/js/plugins/dualselect/jquery.dualListBox-1.3.min.js"></script>
    <script type="text/javascript" src="/js/plugins/tiny_mce/jquery.tinymce.js"></script>
    <script type="text/javascript" src="/js/plugins/validate/jquery.validate.min.js"></script>
    @*<script type="text/javascript" src="/js/plugins/search/tipuesearch_set.js"></script>*@
    @*<script type="text/javascript" src="/js/plugins/search/tipuesearch_data.js"></script>*@<!-- JSON for searched results -->
    @*<script type="text/javascript" src="/js/plugins/search/tipuesearch.js"></script>*@

    <script type="text/javascript" src="/js/plugins/animated-progress-bar/jquery.progressbar.js"></script>
    <script type="text/javascript" src="/js/plugins/pnotify/jquery.pnotify.min.js"></script>
    <script type="text/javascript" src="/js/plugins/lazy-load/jquery.lazyload.min.js"></script>
    <script type="text/javascript" src="/js/plugins/jpages/jPages.min.js"></script>
    <script type="text/javascript" src="/js/plugins/pretty-photo/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/js/plugins/smartWizzard/jquery.smartWizard-2.0.min.js"></script>

    <script type="text/javascript" src="/js/plugins/ios-fix/ios-orientationchange-fix.js"></script>

    @*<script type="text/javascript" src="/js/plugins/dataTables/jquery.dataTables.min.js"></script>*@
    <script type="text/javascript" src="/js/plugins/elfinder/elfinder.min.js"></script>
    <script type="text/javascript" src="/js/plugins/plupload/plupload.js"></script>
    <script type="text/javascript" src="/js/plugins/plupload/plupload.html4.js"></script>
    <script type="text/javascript" src="/js/plugins/plupload/jquery.plupload.queue/jquery.plupload.queue.js"></script>
    <script type="text/javascript" src="/js/plugins/totop/jquery.ui.totop.min.js"></script> 

    <!-- Init plugins -->
    <script type="text/javascript" src="/js/statistic.js"></script><!-- Control graphs ( chart, pies and etc) -->

    <script type="text/javascript" src="/js/main.js"></script>

    <script src="/js/jquery.blockUI.js" type="text/javascript"></script>
    <script src="/js/bootbox.min.js" type="text/javascript"></script>
    <script src="/js/jquery.noty.js" type="text/javascript"></script>
    <script src="/js/topRight.js" type="text/javascript"></script>
    <script src="/js/default.js" type="text/javascript"></script>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon-57-precomposed.png" />
    
    <script type="text/javascript">
        //adding load class to body and hide page
        document.documentElement.className += 'loadstate';

        $(document).ready(function () {
            var block = function () {
                $.blockUI({ message: 'processing...' });
                $('.modal').block({ message: 'processing...' });
            };
            var unblock = function () {
                $.unblockUI();
                $('.modal').unblock();
            };
            $(document).ajaxStart(block).ajaxStop(unblock);

            $('.myToolTip').tooltip();
        });
    </script>

    </head>
      
    <body>
    <!-- loading animation -->
    <div id="qLoverlay"></div>
    <div id="qLbar"></div>
    
    <div id="header">

        <div class="navbar">
            <div class="navbar-inner">
              <div class="container-fluid">
                <a class="brand" href="/Dashboard"><img src="/img/TicTacDelivery-logo.png" alt="logo" /></a>
                <div class="nav-no-collapse">
                    <ul class="nav">
                        @*<li class="active"><a href="dashboard.html"><span class="icon16 icomoon-icon-screen-2"></span> Dashboard</a></li>*@
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="icon16 icomoon-icon-truck"></span>Plans<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="menu">
                                    <ul>
                                        <li>                                                    
                                            <a href="/CollectionPlans"><span class="icon16 icomoon-icon-enter"></span>Collection Plans</a>
                                        </li>
                                        <li>                                                    
                                            <a href="/DeliveryPlans"><span class="icon16 icomoon-icon-exit"></span>Delivery Plans</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        @*<li class=""><a href="/CollectionPlans"><span class="icon16 icomoon-icon-screen-2"></span> Collection Plans</a></li>
                        <li class=""><a href="/DeliveryPlans"><span class="icon16 icomoon-icon-screen-2"></span> Delivery Plans</a></li>*@
                        <li class=""><a href="/Request"><span class="icon16  icomoon-icon-stack"></span> Requests</a></li>
                        <li class=""><a href="/Orders"><span class="icon16 icomoon-icon-file"></span> Orders</a></li>
                        <li class=""><a href="/Customers"><span class="icon16 icomoon-icon-pacman"></span> Customers</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="icon16 icomoon-icon-cog"></span> Options Config
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="menu">
                                    <ul>
                                        <li>                                                    
                                            <a href="/Hubs"><span class="icon16 minia-icon-home"></span>Hubs</a>
                                        </li>
                                        <li>                                                    
                                            <a href="/OrderPaymentTypes"><span class="icon16 minia-icon-list-4"></span>Order Payment Types</a>
                                        </li>
                                        <li>
                                            <a href="/DeliveryOptions"><span class="icon16 minia-icon-list-4"></span>Delivery Options</a>
                                        </li>
                                        <li>                                                    
                                            <a href="/CityProvince"><span class="icon16 minia-icon-list-4"></span>Cities/Provinces</a>
                                        </li>
                                        <li>                                                    
                                            <a href="/District"><span class="icon16 minia-icon-list-4"></span>Districts</a>
                                        </li>
                                        <li>
                                            <a href="/Ward"><span class="icon16 minia-icon-list-4"></span>Wards</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        
                    </ul>
                  
                    <ul class="nav pull-right usernav">                        
                        @Html.Partial("_LogOnPartial")
                        @*<li><a href="index.html"><span class="icon16 icomoon-icon-exit"></span> Logout</a></li>*@
                    </ul>
                </div><!-- /.nav-collapse -->
              </div>
            </div><!-- /navbar-inner -->
          </div><!-- /navbar --> 

    </div><!-- End #header -->

    <div id="wrapper">
        <!--Body content-->
        <div id="content" class="clearfix">
            <div class="contentwrapper"><!--Content wrapper-->            
                
                <div class="heading">
                    <h3>@ViewBag.Heading</h3>
                </div><!-- End .heading-->

                <div class="row-fluid">
                    @RenderBody()
                </div>
            </div><!-- End contentwrapper -->
        </div><!-- End #content -->
    
    </div><!-- End #wrapper -->
    
    <!-- Le javascript
    ================================================== -->
    @*<script type="text/javascript" src="../../ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap/bootstrap.js"></script>  
    <script type="text/javascript" src="js/jquery.cookie.js"></script>
    <script type="text/javascript" src="js/jquery.mousewheel.js"></script>*@

    <!-- Load plugins -->
    @*<script type="text/javascript" src="/js/plugins/qtip/jquery.qtip.min.js"></script>
    <script type="text/javascript" src="/js/plugins/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="/js/plugins/flot/jquery.flot.grow.js"></script>
    <script type="text/javascript" src="/js/plugins/flot/jquery.flot.pie.js"></script>
    <script type="text/javascript" src="/js/plugins/flot/jquery.flot.resize.js"></script>
    <script type="text/javascript" src="/js/plugins/flot/jquery.flot.tooltip_0.4.4.js"></script>
    <script type="text/javascript" src="/js/plugins/flot/jquery.flot.orderBars.js"></script>

    <script type="text/javascript" src="/js/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="/js/plugins/knob/jquery.knob.js"></script>
    <script type="text/javascript" src="/js/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script type="text/javascript" src="/js/plugins/prettify/prettify.js"></script>

    <script type="text/javascript" src="/js/plugins/watermark/jquery.watermark.min.js"></script>
    <script type="text/javascript" src="/js/plugins/elastic/jquery.elastic.js"></script>
    <script type="text/javascript" src="/js/plugins/inputlimiter/jquery.inputlimiter.1.3.min.js"></script>
    <script type="text/javascript" src="/js/plugins/maskedinput/jquery.maskedinput-1.3.min.js"></script>
    <script type="text/javascript" src="/js/plugins/ibutton/jquery.ibutton.min.js"></script>
    <script type="text/javascript" src="/js/plugins/uniform/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="/js/plugins/stepper/ui.stepper.js"></script>
    <script type="text/javascript" src="/js/plugins/color-picker/colorpicker.js"></script>
    <script type="text/javascript" src="/js/plugins/timeentry/jquery.timeentry.min.js"></script>
    <script type="text/javascript" src="/js/plugins/select/select2.min.js"></script>
    <script type="text/javascript" src="/js/plugins/dualselect/jquery.dualListBox-1.3.min.js"></script>
    <script type="text/javascript" src="/js/plugins/tiny_mce/jquery.tinymce.js"></script>
    <script type="text/javascript" src="/js/plugins/validate/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/js/plugins/search/tipuesearch_set.js"></script>
    <script type="text/javascript" src="/js/plugins/search/tipuesearch_data.js"></script><!-- JSON for searched results -->
    <script type="text/javascript" src="/js/plugins/search/tipuesearch.js"></script>

    <script type="text/javascript" src="/js/plugins/animated-progress-bar/jquery.progressbar.js"></script>
    <script type="text/javascript" src="/js/plugins/pnotify/jquery.pnotify.min.js"></script>
    <script type="text/javascript" src="/js/plugins/lazy-load/jquery.lazyload.min.js"></script>
    <script type="text/javascript" src="/js/plugins/jpages/jPages.min.js"></script>
    <script type="text/javascript" src="/js/plugins/pretty-photo/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/js/plugins/smartWizzard/jquery.smartWizard-2.0.min.js"></script>

    <script type="text/javascript" src="/js/plugins/ios-fix/ios-orientationchange-fix.js"></script>

    <script type="text/javascript" src="/js/plugins/dataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/js/plugins/elfinder/elfinder.min.js"></script>
    <script type="text/javascript" src="/js/plugins/plupload/plupload.js"></script>
    <script type="text/javascript" src="/js/plugins/plupload/plupload.html4.js"></script>
    <script type="text/javascript" src="/js/plugins/plupload/jquery.plupload.queue/jquery.plupload.queue.js"></script>
    <script type="text/javascript" src="/js/plugins/totop/jquery.ui.totop.min.js"></script> 

    <!-- Init plugins -->
    <script type="text/javascript" src="js/statistic.js"></script><!-- Control graphs ( chart, pies and etc) -->*@

    <!-- Important Place before main.js  -->
    @*<script type="text/javascript" src="../../ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/plugins/touch-punch/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>*@


    </body>
</html>
