﻿@if (Request.IsAuthenticated)
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown">
            <span class="icon16 icomoon-icon-user-3"></span>
            <span class="txt">@User.Identity.Name</span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li class="menu">
                <ul>
                    <li><a href="/Admin"><span class="icon16  wpzoom-user-2"></span>Admin Area</a> </li>
                    <li><a href="/Account/ChangePassword"><span class="icon16 icomoon-icon-unlocked"></span>Change password</a>
                    </li>
                    <li><a href="/Account/LogOff"><span class="icon16  icomoon-icon-out-2"></span>Log Out</a> </li>
                </ul>
            </li>
        </ul>
    </li>        
}
else
{
    <li><a href="/Account/Logon"><span class="icon16 icomoon-icon-enter"></span> Log In</a></li>
}
