﻿@{
    Layout = null;
}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    
<!-- Mirrored from themes.suggeelson.com/supr/403.html by HTTrack Website Copier/3.x [XR&CO'2010], Thu, 27 Sep 2012 03:54:01 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Supr admin</title>
    <meta name="author" content="SuggeElson" />
    <meta name="description" content="Supr admin template - new premium responsive admin template. This template is designed to help you build the site administration without losing valuable time.Template contains all the important functions which must have one backend system.Build on great twitter boostrap framework" />
    <meta name="keywords" content="admin, admin template, admin theme, responsive, responsive admin, responsive admin template, responsive theme, themeforest, 960 grid system, grid, grid theme, liquid, masonry, jquery, administration, administration template, administration theme, mobile, touch , responsive layout, boostrap, twitter boostrap" />
    <meta name="application-name" content="Supr admin template" />

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Le styles -->
    <link href="/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="/css/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
    <link href="/css/icons.css" rel="stylesheet" type="text/css" />

    <!-- Main stylesheets -->
    <link href="/css/main.css" rel="stylesheet" type="text/css" /> 

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-57-precomposed.png" />

    </head>
      
    <body class="errorPage">

    <div class="container-fluid">

        <div class="errorContainer">
            <div class="page-header">
                <h1 class="center">403 <small>error</small></h1>
            </div>

            <h2 class="center">Access to this page is forbidden</h2>

            <div class="center">
                <a href="/Account/Logoff" class="btn" style="margin-right:10px;"><span class="icon16 icomoon-icon-arrow-left-10"></span>Log out</a>
                @*<a href="/" class="btn"><span class="icon16 icomoon-icon-screen"></span>Dashboard</a>*@
            </div>

        </div>

    </div><!-- End .container-fluid -->

    <!-- Le javascript
    ================================================== -->
    <script src="/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>  

     <script type="text/javascript">
         // document ready function
         $(document).ready(function () {
             //------------- Some fancy stuff in error pages -------------//
             $('.errorContainer').hide();
             $('.errorContainer').fadeIn(1000).animate({
                 'top': "50%", 'margin-top': +($('.errorContainer').height() / -2 - 30)
             }, { duration: 750, queue: false }, function () {
                 // Animation complete.
             });
         });
    </script>
 
    </body>

<!-- Mirrored from themes.suggeelson.com/supr/403.html by HTTrack Website Copier/3.x [XR&CO'2010], Thu, 27 Sep 2012 03:54:01 GMT -->
</html>





