﻿@model SMDH.Models.Customer
@{
    ViewBag.Title = "Customer Details";
    ViewBag.Heading = "Customer Details";
}
<link rel="stylesheet" type="text/css" href="/css/DT_bootstrap.css" />
<link href="/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
<script src="/js/jquery.dataTables.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8" language="javascript" src="/js/DT_bootstrap.js"></script>
<script src="/js/dataTables.bootstrap.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="/js/form-action.js" type="text/javascript"></script>
<div class="customer-details">
    <div class="row-fluid">
        <div class="customer-information green-bordered span5">
            <h4>
                Customer Information 
                <a class="edit btn action" href="#editCustomerInfoModal" data-toggle="modal"style="margin-left:20px;">
                    <i class="icon icon-pencil"></i></a>                    
                <a class="btn action delete" href="#" onclick="deleteCustomer(@Model.CustomerId)" title="Delete Customer">
                    <i class="icon icon-remove"></i></a>
            </h4>
            <dl class="dl-horizontal">
                <dt>Company Name: @Model.CompanyName</dt>
                <dd id="CompanyName"></dd>
                <dt>Display Name: @Model.DisplayName</dt>
                <dd id="DisplayName"></dd>
                <dt>Phone Number: @Model.PhoneNumber</dt>
                <dd id="PhoneNumber"></dd>
                <dt>Current Contract Code: @Model.CurrentContractCode</dt>
                <dd id="CurrentContractCode"></dd>
                <dt>Note: @if (!string.IsNullOrWhiteSpace(Model.Note))
                    {
                        @Model.Note
                    }
                    else
                    {
                        <text>None</text>
                    }</dt>
                <dd id="Note">
                    
                </dd>
            </dl>
        </div>
        <div class="tables span7">
            <div class="customer-addresses green-bordered">
                <h4>
                    Addresses</h4>
                <div id="address-table-div">
                    @{
                        Html.RenderPartial("AddressTable", Model.CustomerAddresses.Where(ca => ca.IsActive));
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="customer-contacts green-bordered">
            <h4>
                Contacts</h4>
            <div id="contact-table-div">
                @{
                    Html.RenderPartial("ContactTable", Model.Contacts.Where(c => c.IsActive));
                }
            </div>
        </div>
    </div>
</div>
<div class="modal hide fade" id="editCustomerInfoModal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;</button>
        <h3>
            Edit Customer Information</h3>
    </div>
    @using (Html.BeginForm("ConfirmEdit", "Customers", FormMethod.Post, new { id = "customer-edit-form", Class = "form-horizontal" }))
    {
        <div class="modal-body">
            @Html.HiddenFor(model => model.CustomerId)
            @Html.HiddenFor(model => model.IsActive)
            <div class="control-group">
                <label class="control-label">
                    Company Name <span style="color:Red">*</span>
                </label>
                <div class="controls">
                    @Html.EditorFor(model => model.CompanyName)
                    @Html.ValidationMessageFor(model => model.CompanyName)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    Display Name <span style="color:Red">*</span>
                </label>
                <div class="controls">
                    @Html.EditorFor(model => model.DisplayName)
                    @Html.ValidationMessageFor(model => model.DisplayName)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    Phone Number <span style="color:Red">*</span>
                </label>
                <div class="controls">
                    @Html.EditorFor(model => model.PhoneNumber)
                    @Html.ValidationMessageFor(model => model.PhoneNumber)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    Current Contract Code <span style="color:Red">*</span>
                </label>
                <div class="controls">
                    @Html.EditorFor(model => model.CurrentContractCode)
                    @Html.ValidationMessageFor(model => model.CurrentContractCode)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    Note
                </label>
                <div class="controls">
                    @Html.TextAreaFor(model => model.Note)
                    @Html.ValidationMessageFor(model => model.Note)
                </div>
            </div>
        </div>
    }    
    <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Save" id="btnSaveCustomer"/>
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            Cancel</button>
    </div>
</div>
<!-- Begin "Create" Modal -->
<div class="modal hide fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
</div>
<!-- End "Create" Modal -->
<!-- Begin "Edit" Modal -->
<div class="modal hide fade" id="editModal">
</div>
<!-- End "Edit" Modal -->
<script>
    refreshValidation();
    var customerId = @Model.CustomerId ;
</script>
<script src="/js/customer-details.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        refreshDatatables('CustomerAddresses');
        refreshDatatables('Contacts');
    });

    $('#btnSaveCustomer').click(function () {
        $('#customer-edit-form').submit();
    });

    var deleteCustomer = function (customerId) {
        bootbox.confirm("Are you sure to delete this customer?", function (confirmed) {
            if (confirmed) {
                $.post('/Customers/Remove/' + customerId, function (result) {
                    if (result.success) {
                        $.blockUI();
                        window.location = '/Customers';
                    } else {
                        bootbox.alert('Unable to delete this customer');
                    }
                });
            }
        });
    };
</script>
