﻿@model HDMS.Models.Customer
@{
    Layout = null;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;</button>
    <h3>
        Create New Customer</h3>
</div>
@using (Html.BeginForm("ConfirmCreate", "Customers", FormMethod.Post, new { id = "create-form", Class="form-horizontal" }))
{
    <div class="modal-body">
        @Html.ValidationSummary(true)
        <fieldset>
            @Html.Partial("_CreateOrEdit", Model)
        </fieldset>
    </div>
}
<div class="modal-footer">
    <input type="submit" class="btn btn-primary" value="Create" id="btnCreate" />
    <button class="btn" data-dismiss="modal" aria-hidden="true">
        Cancel</button>
</div>
<script>
    $('#btnCreate').click(function () {
        $('#create-form').submit();
    });
</script>
