<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Information Order</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- JqueryUI styles -->
    <link href="/css/ui-lightness/jquery-ui-1.9.2.custom.css" rel="stylesheet">
    <script src="/js/jquery-1.8.2.js"></script>
    <script src="/js/jquery-ui-1.9.2.custom.js"></script>
    <!-- Bootstrapt styles -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-alert.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-scrollspy.js"></script>
    <script src="/js/bootstrap-tab.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/bootstrap-popover.js"></script>
    <script src="/js/bootstrap-button.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-carousel.js"></script>
    <script src="/js/bootstrap-fileupload.js"></script>
    <script src="/js/bootstrap-typeahead.js"></script>
    <script src="/js/bootstrap-affix.js"></script>
    <script src="/js/holder/holder.js"></script>
    <script src="/js/bootstrap-datepicker.js" type="text/javascript"></script>
    @*<script src="/assets/js/google-code-prettify/prettify.js"></script>*@
    <script src="/js/application.js"></script>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/prettify.css" rel="stylesheet">
    <!-- Datatable styles -->
    <script type="text/javascript" language="javascript" src="/js/jquery.dataTables.js"></script>
    <link href="/css/demo_page.css" rel="stylesheet">
    <link href="/css/demo_table.css" rel="stylesheet">
    <script>
        function showTable() {
            document.getElementById('table').style.visibility = "visible";
        }
        function hideTable() {
            document.getElementById('table').style.visibility = "hidden";
        }
</script>
    <script>
        var asInitVals = new Array();
        $(function () {
            var oTable = $('#example').dataTable({
                "oLanguage": {
                    "sSearch": "Search :"
                }
            });

            $("tfoot input").keyup(function () {
                /* Filter on the column (the index) of this element */
                oTable.fnFilter(this.value, $("tfoot input").index(this));
            });



            /*
            * Support functions to provide a little bit of 'user friendlyness' to the textboxes in
            * the footer
            */
            $("tfoot input").each(function (i) {
                asInitVals[i] = this.value;
            });

            $("tfoot input").focus(function () {
                if (this.className == "search_init") {
                    this.className = "";
                    this.value = "";
                }
            });

            $("tfoot input").blur(function (i) {
                if (this.value == "") {
                    this.className = "search_init";
                    this.value = asInitVals[$("tfoot input").index(this)];
                }
            });
        });
	</script>
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar" id="dt_example" onload="javascript:hideTable()">
    
    <div>
        <div class="row-fluid bordered">
            
            
            <div style="float: left; position: absolute;margin-left:250px;margin-top: 50px;">
            	<form class="form-inline" id="formPhone">
            		<label>Phone Number :</label>
                    @if (ViewBag.PhoneNumber.Length != 0)
                    {
                        <input type="text" id="txtPhoneNumber" value="@ViewBag.PhoneNumber"/>
                    }
                    else
                    {
                        <input type="text" id="txtPhoneNumber"/>
                    }
            		
                	<input type='button'  class="btn btn-primary" id="btnOk" value='Ok' style="width: 100px;">
                    
                </form>
            </div>
            <div align="center" style="margin-top: 100px;">
                <div id="container">
                    <div id="demo">
                        <table cellpadding="0" cellspacing="0" border="0" class="table" id="table" width = "800px">
                            <thead>
                                <tr>
                                    <th>
                                        Order No
                                    </th>
                                    <th>
                                        Order Date
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="success">
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        20/03/2013
                                    </td>
                                    <td>
                                        New
                                    </td>
                                    
                                    <td>
                                        <a href="#myModal" role="button" class="btn btn-mini btn-success" data-toggle="modal" style="color:white;">View Detail</a>     
                                    </td>
                                </tr>                             
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-header">
            <h3 id="myModalLabel">
                Passcode</h3>
        </div>
        <div class="modal-body" style="text-align:center">
            <form class="form-horizontal" action="/Buyer/Home/ViewOrderDetails" id="passcodeForm">
            	<fieldset>
            		<label>Please enter the passcode to view order detail:</label></br>
            		<input type="text" id="txtPasscode" name="txtPasscode"/>
            	</fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" id="btnSubmit">
                Ok</button>
            <button class="btn" data-dismiss="modal" aria-hidden="true">
                Cancel</button>
        </div>
    </div>
<script type ="text/javascript">
    $().ready(function () {        
        if ($('#txtPhoneNumber').val() != "") {            
            loadOrdersTable();
        }
    });
    $('#btnSubmit').click(function () {        
        $('#passcodeForm').submit();
    });

    $('#btnOk').click(function (event) {
        hideTable();
        if ($('#txtPhoneNumber').val() == '') {
            bootbox.alert("Please enter phone number!");
            $('#txtPhoneNumber').focus();
            return;
        } else {
            loadOrdersTable();
        }
    });

    function loadOrdersTable() {
        $.post("/Buyer/Home/GetOrdersByPhone", { phoneNumber: $('#txtPhoneNumber').val() }, function (result) {
            if (result.length == 0) {
                bootbox.alert("0 records found");
            } else {
                var strTable = '<table cellpadding="0" cellspacing="0" border="0" class="table" id="table" width = "800px">' +
                            '<thead>' +
                                '<tr>' +
                                    '<th>' +
                                        'Order No' +
                                    '</th>' +
                                    '<th>' +
                                        'Order Date' +
                                    '</th>' +
                                    '<th>' +
                                        'Status' +
                                    '</th>' +
                                    '<th>' +
                                        'Action' +
                                    '</th>' +
                                '</tr>' +
                            '</thead>' +
                             '<tbody>';
                for (var i = 0; i < result.length; i++) {
                    strTable += '<tr class="success">' +
                                    '<td>' +
                                        result[i].OrderId +
                        '</td>' +
                                    '<td>' +
                                        result[i].CreatedDate +
                                    '</td>' +
                                    '<td>' +
                                        result[i].Status +
                        '</td>' +
                                    '<td>' +
                                        '<a href="#myModal" role="button" class="btn btn-mini btn-success" data-toggle="modal" style="color:white;">View Detail</a>' +
                                    '</td>' +
                                '</tr>';
                }
                strTable += '</tbody>' +
                        '</table>';
                $('#demo').html(strTable);
                showTable();
            }
        });
    }
</script>
</body>
</html>
