﻿@model IEnumerable<SMDH.Models.Order>
@using System.Text.RegularExpressions;
@using SMDH.Models.Statuses;
@{
    Layout = null;
}

@using (Html.BeginForm("ChangeStatus", "Orders"))
{
    int count = 1;
    <table class="table table-striped table-bordered" id="main-table">
        <thead>
            <tr>
                <th></th>
                <th>No.
                </th>
                <th>OrderID
                </th>
                <th>Item No.
                </th>
                <th>Price
                </th>
                <th>Delivery Date
                </th>
                <th>Expired Date
                </th>
                <th>Status
                </th>

                <th class="tbl-action-col">Action
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>@if (@Model.ElementAt(@i).Status.ToString() == @OrderStatus.DeliveringToHub.ToString() || @Model.ElementAt(0).Status.ToString() == OrderStatus.WaitingForReturn.ToString())
                        {
                        <input type="checkbox" id="@Model.ElementAt(i).OrderId" value="@Model.ElementAt(i).OrderId" name="selectedObjects"/>
                        }</td>
                    <td>
                        @(count + i)
                    </td>
                    <td>
                        @Model.ElementAt(@i).OrderId
                    </td>
                    <td>
                        @Model.ElementAt(@i).Items.Count
                    </td>
                    <td>
                        @if (@Model.ElementAt(@i).Fee != null)
                        {
                            @Model.ElementAt(@i).Fee
                        }
                        else
                        {
                            <span class="label label-important">Not set yet</span><text>&nbsp;</text>
                        }
                    </td>
                    <td>
                        @if (@Model.ElementAt(@i).DeliveryDate != null)
                        {
                            @string.Format("{0:dd/MM/yyyy hh:mm tt}", @Model.ElementAt(@i).DeliveryDate)
                        }
                        else
                        {
                            <span class="label label-important">Not set yet</span><text>&nbsp;</text>
                        }
                    </td>
                    <td>
                        @if (@Model.ElementAt(@i).DeliveryDate != null)
                        {
                        
                            @string.Format("{0:dd/MM/yyyy hh:mm tt}", @Model.ElementAt(@i).DeliveryDate.Value.AddDays(3))
                        
                        }
                        else
                        {
                            <span class="label label-important">Not set yet</span><text>&nbsp;</text>
                        }
                    </td>
                    <td>
                        @Model.ElementAt(@i).Status
                    </td>
                    <td class=" action-column">
                        <a class="btn action view" href="Orders/Details/@Model.ElementAt(@i).OrderId">
                            <img src="/img/icons/notepad.png" alt="Detail" title="View" width="12px"></a>
                        @if (@Model.ElementAt(@i).Status.ToString() == @OrderStatus.Delivering.ToString())
                        {
                            <a class="btn action view" href="Orders/Edit/@Model.ElementAt(@i).OrderId">
                                <img src="/img/icons/notepencil32.png" alt="Edit" title="Update" width="12px"></a>
                        }
                    </td>
                </tr>
            }
            <br />

        </tbody>
    </table>
@*            if (@Model.ElementAt(0).Status.ToString() == OrderStatus.DeliveringToHub.ToString() || @Model.ElementAt(0).Status.ToString() == OrderStatus.WaitingForReturn.ToString())
            {
    <input value="Change Status" type="submit" style="float: left" />
            }*@

}



@*@foreach (var item in Model)
        {
            <tr>
                <td>#@item.OrderId
                </td>
                <td>
                    @String.Format("{0:dd/MM/yyyy hh:mm tt}", item.Request.RequestedDate)
                </td>
                <td>
                    @item.FullAddress
                </td>
                <td>
                    @item.AmountToBeCollectedFromReceiver
                </td>
                <td>
                    @(item.DeliveryOption == null ? "None" : item.DeliveryOption.Name)
                </td>
                <td>
                    @(item.OrderPaymentType == null ? "None" : item.OrderPaymentType.Name)
                </td>
                <td>
                    @Regex.Replace(item.Status.ToString(), "(\\B[A-Z])", " $1")
                </td>
                <td>
                    @if (item.DueDate != null)
                    {
                        @String.Format("{0:dd/MM/yyyy hh:mm tt}", item.DueDate)
                    }
                    else
                    {
                        <span class="label label-important">Not set yet</span><text>&nbsp;</text>
                    }
                </td>
                <td>
                    @if (item.DueDate != null)
                    {
                        @String.Format("{0:yyyyMMddHHmm}", item.DueDate)
                    }
                    else
                    {
                        <text>000</text>
                    }
                </td>
                <td>
                    @if (item.Fee != null)
                    {
                        @item.Fee
                    }
                    else
                    {
                        <span class="label label-important">Not set yet</span><text>&nbsp;</text>
                    }
                </td>
                <td>
                    @if (!string.IsNullOrWhiteSpace(item.Note))
                    {
                        @item.Note
                    }
                    else
                    {
                        <text>None</text>
                    }
                </td>
                <td class=" action-column">
                    <a class="btn action view" href="Orders/Details/@item.OrderId">
                        <img src="/img/icons/notepad.png" alt="View" title="View" width="12px"></a>
                    @if (item.Status == HDMS.Models.Statuses.OrderStatus.Draft || item.Status == HDMS.Models.Statuses.OrderStatus.Rejected)
                    {
                        <a class="btn action delete" href="#" onclick="cancelOrder(@item.OrderId);">
                            <img src="/img/icons2/cross.png" alt="Cancel" title="Cancel" width="12px" />
                        </a>        
                    }
                </td>
            </tr>
        }*@

