﻿@model IEnumerable<HDMS.Models.Order>
@{
    ViewBag.Title = "UploadComplete";
}
<link href="/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
<script src="/js/dataTables.bootstrap.js" type="text/javascript"></script>
<h2>
    UploadComplete</h2>
@foreach (var order in Model)
{
    <div id="orderInfo" class="no-padding">
        <div class="row-fluid bordered">
            <div class="span4 left-column">
                <dl class="dl-horizontal">
                    <dt style="text-align: left; width: 170px">Reveiver Name: </dt>
                    <dd>
                        @order.ReceiverName</dd>
                    <dt style="text-align: left; width: 170px">Reveiver Phone: </dt>
                    <dd>
                        @order.ReceiverPhone</dd>
                    <dt style="text-align: left; width: 170px">Reveiver Address: </dt>
                    <dd>
                        @order.ReceiverAddress</dd>
                </dl>
            </div>
            <div class="span4 center-column">
                <dl class="dl-horizontal">
                    <dt style="text-align: left; width: 170px">District: </dt>
                    <dd>
                        @order.ReceiverAddressDistrictId</dd>
                    <dt style="text-align: left; width: 170px">Amount: </dt>
                    <dd>
                        @order.AmountToBeCollectedFromReceiver</dd>
                </dl>
            </div>
            <div class="span4 right-column">
                <dl class="dl-horizontal">
                    <dt style="text-align: left; width: 170px">Delivery Option: </dt>
                    <dd>
                        @order.DeliveryOptionId</dd>
                    <dt style="text-align: left; width: 170px">Order Payment Type: </dt>
                    <dd>
                        @order.OrderPaymentTypeId</dd>
                    <dt style="text-align: left; width: 170px">Note: </dt>
                    <dd>
                        @order.Note</dd>
                </dl>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <tr>
            <th>
                Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                Is Fragile
            </th>
            <th>
                Has High Value
            </th>
            <th>
                Size
            </th>
            <th>
                Weight
            </th>
            <th>
                Note
            </th>
        </tr>
        @foreach (var item in ViewBag.Items)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    @item.IsFragile
                </td>
                <td>
                    @item.HasHighValue
                </td>
                <td>
                    @item.Size
                </td>
                <td>
                    @item.Weight
                </td>
                <td>
                    @item.Note
                </td>
            </tr>
        }
    </table>
}