@model HDMS.Models.DeliveryOption

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="form-horizontal">
    <div class="control-group">
        <label class="control-label">
            Delivery Option <span style="color:Red">*</span>
        </label>
        <div class="controls">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Description
        </label>
        <div class="controls">
            @Html.TextAreaFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
    </div>
</div>
@*
<div class="editor-label">
    @Html.LabelFor(model => model.IsActive)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.IsActive)
    @Html.ValidationMessageFor(model => model.IsActive)
</div>*@

